Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**

Resolve merge conflicts
  connectors/sources/zoom.py
  tests/sources/test_zoom.py
Due: none

[New Connector] Zoom Functional test (#1543)
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  connectors/sources/zoom.py
  tests/sources/fixtures/zoom/.env
  tests/sources/fixtures/zoom/Dockerfile
  tests/sources/fixtures/zoom/config.yml
  tests/sources/fixtures/zoom/connector.json
  tests/sources/fixtures/zoom/docker-compose.yml
  tests/sources/fixtures/zoom/fixture.py
  tests/sources/fixtures/zoom/requirements.txt
Due: none

Apply suggestions from code review
  docs/sync-rules/ONEDRIVE.md
Due: none

address comment: rename variable
  connectors/sources/onedrive.py
Due: none

Fix team name
  setup.py
Due: none

Revert "Add "get_last_update_time" to MySQLClient"
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL

[Setup] Fix team name (#1546)
  setup.py
Due: none

Clarify connectors service wording
  README.md
Due: none

[DOCS] Update README.md (#1537)
  README.md
Due: none

Add "include_spam_and_trash" RCF
  connectors/sources/gmail.py
  connectors/sources/google.py
  tests/sources/test_gmail.py
Due: none

Add "get_last_update_time" to MySQLClient
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL

Autoformat
  tests/sources/test_gmail.py
Due: none

Add value to use_document_level_security again
  connectors/sources/gmail.py
Due: none

Autoformat
  connectors/sources/gmail.py
Due: none

[GMail] Add include_spam_and_trash RCF (#1547)
  connectors/sources/gmail.py
  connectors/sources/google.py
  tests/sources/test_gmail.py
Due: none

Adjust author email to use the team email
  setup.py
Due: none

Add missing deps
  requirements/ftest.txt
Due: none

Adjust name for large fake source
  tests/fake_sources.py
Due: none

Bad requirement
  requirements/ftest.txt
Due: none

Fix test
  tests/test_cli.py
Due: none

Correct smbprotocol version
  requirements/ftest.txt
Due: none

[FakeSource] Adjust name (#1549)
  tests/fake_sources.py
  tests/test_cli.py
Due: none

Fix docker-compose files
  tests/sources/fixtures/confluence/docker-compose.yml
  tests/sources/fixtures/dropbox/docker-compose.yml
  tests/sources/fixtures/github/docker-compose.yml
  tests/sources/fixtures/google_cloud_storage/docker-compose.yml
  tests/sources/fixtures/google_drive/docker-compose.yml
  tests/sources/fixtures/jira/docker-compose.yml
  tests/sources/fixtures/onedrive/docker-compose.yml
  tests/sources/fixtures/servicenow/docker-compose.yml
  tests/sources/fixtures/sharepoint_online/docker-compose.yml
  tests/sources/fixtures/sharepoint_server/docker-compose.yml
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox

Add yattag
  requirements/ftest.txt
Due: none

[DOCS] Update README.md (#1537) (#1550)
  README.md
Due: none

Revert removal of bool values from RCFs
  connectors/sources/confluence.py
  connectors/sources/github.py
  connectors/sources/google_drive.py
  connectors/sources/jira.py
  connectors/sources/mongo.py
  connectors/sources/mssql.py
  connectors/sources/mysql.py
  connectors/sources/postgresql.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Postgresql, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive

Revert more bool values
  connectors/sources/confluence.py
  connectors/sources/google_drive.py
  connectors/sources/jira.py
Due: ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ Google Drive

Try the whole path
  tests/sources/fixtures/sharepoint_server/docker-compose.yml
Due: ðŸ”¨ Sharepoint Server

Fix it for all places
  tests/sources/fixtures/confluence/docker-compose.yml
  tests/sources/fixtures/dropbox/docker-compose.yml
  tests/sources/fixtures/github/docker-compose.yml
  tests/sources/fixtures/google_cloud_storage/docker-compose.yml
  tests/sources/fixtures/google_drive/docker-compose.yml
  tests/sources/fixtures/jira/docker-compose.yml
  tests/sources/fixtures/onedrive/docker-compose.yml
  tests/sources/fixtures/servicenow/docker-compose.yml
  tests/sources/fixtures/sharepoint_online/docker-compose.yml
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox

lint error
  connectors/sources/slack.py
Due: none

Fix slack time range error
  connectors/sources/slack.py
Due: none

Fix boto3 version
  requirements/ftest.txt
Due: none

This version?
  requirements/ftest.txt
Due: none

Add test
  tests/sources/test_slack.py
Due: none
