Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**

Add DLS in Network Drive (#1699)
  connectors/sources/network_drive.py
  requirements/framework.txt
  tests/sources/fixtures/network_drive/connector.json
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

Replace User Information List usage with role assignments for SPO sites (#1688)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

[SPO] Add logic to handle sitegroups in ACL for drive_items and sites (#1659)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Replace User Information List usage with role assignments for SPO sites (#1688) (#1711)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

[SPO] Add logic to handle sitegroups in ACL for drive_items and sites (#1659) (#1712)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Replace User Information List usage with role assignments for SPO sites (#1688) (#1713)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Add missing imports
  tests/test_sink.py
Due: none

Removed bad test backport
  tests/test_sink.py
Due: none

Fix test backport
  tests/test_sink.py
Due: none

[Box] Introduce new connector (#1700)
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  connectors/config.py
  connectors/sources/box.py
  tests/sources/fixtures/box/.env
  tests/sources/fixtures/box/config.yml
  tests/sources/fixtures/box/connector.json
  tests/sources/fixtures/box/docker-compose.yml
  tests/sources/fixtures/box/fixture.py
  tests/sources/test_box.py
Due: none

Add docs for DLS in Network Drive
  docs/document-level-security/NETWORK_DRIVE.md
Due: none

Fix linters
  tests/sources/fixtures/dropbox/fixture.py
Due: ðŸ”¨ Dropbox

Fix linters
  tests/sources/fixtures/azure_blob_storage/fixture.py
Due: ðŸ”¨ Azure Blob Storage

Make github ftest use shared fixture
  tests/sources/fixtures/github/fixture.py
Due: ðŸ”¨ GitHub

Make GCS ftest use shared fixture
  tests/sources/fixtures/google_cloud_storage/fixture.py
Due: ðŸ”¨ Google Cloud Storage

Make Google Drive FTEST use shared fixture
  tests/commons.py
  tests/sources/fixtures/google_drive/fixture.py
Due: ðŸ”¨ Google Drive

Make autoformat
  tests/sources/fixtures/google_cloud_storage/fixture.py
Due: ðŸ”¨ Google Cloud Storage

Make jira ftest use shared fixture setup
  tests/sources/fixtures/jira/fixture.py
Due: ðŸ”¨ Jira

Fix CI
  tests/sources/fixtures/google_drive/fixture.py
Due: ðŸ”¨ Google Drive

Make autoformat
  tests/sources/fixtures/jira/fixture.py
Due: ðŸ”¨ Jira

[pre-8.10-stable] Forcibly cancel a sync job after waiting for 5 seconds (#1683) (#1707)
  connectors/es/sink.py
  tests/test_sink.py
Due: none

[8.10] Forcibly cancel a sync job after waiting for 5 seconds (#1683) (#1706)
  connectors/es/sink.py
  tests/test_sink.py
Due: none

Update tooltips for enumerating all sites.
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

autoformat
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Apply suggestions from code review
  docs/document-level-security/NETWORK_DRIVE.md
Due: none

Make Microsoft Teams ftest use shared fixture
  tests/sources/fixtures/microsoft_teams/fixture.py
Due: none

Make autoformat
  tests/sources/fixtures/google_drive/fixture.py
Due: ðŸ”¨ Google Drive

Make mssql ftest use shared fixture + small optimizations
  tests/commons.py
  tests/sources/fixtures/mssql/fixture.py
Due: ðŸ”¨ Microsoft SQL

Make autoformat
  tests/sources/fixtures/mssql/fixture.py
Due: ðŸ”¨ Microsoft SQL

Make autoformat
  tests/sources/fixtures/microsoft_teams/fixture.py
Due: none

Update Dockerfile.ftest
  Dockerfile.ftest
Due: none

box documentation
  docs/REFERENCE.md
  docs/reference/box.md
Due: none

Minor tweaks/fixes
  tests/sources/fixtures/mssql/fixture.py
Due: ðŸ”¨ Microsoft SQL

Fix DOCS_COUNT access
  tests/sources/fixtures/gmail/docker-compose.yml
  tests/sources/fixtures/gmail/fixture.py
Due: none

Bump stack versions
  .backportrc.json
  catalog-info.yaml
  connectors/VERSION
Due: none

Bump version in ftest
  tests/ftest.sh
Due: none

[8.11] Bump stack versions (#1729)
  .backportrc.json
  catalog-info.yaml
  connectors/VERSION
  tests/ftest.sh
Due: none
