Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**

Abstract download file extraction and conversion
  connectors/source.py
  connectors/sources/azure_blob_storage.py
  connectors/sources/confluence.py
Due: ðŸ”¨ Azure Blob Storage, ðŸ”¨ Confluence

Alphabetize sources
  connectors/config.py
Due: none

First pass at using role assignments for sites
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Update NOTICE.txt to include link to certifi source (#1679)
  NOTICE.txt
Due: none

Minor renames
  connectors/services/job_scheduling.py
Due: none

Abstract download file extraction and conversion (#1685)
  connectors/source.py
  connectors/sources/azure_blob_storage.py
  connectors/sources/confluence.py
Due: ðŸ”¨ Azure Blob Storage, ðŸ”¨ Confluence

Alphabetize sources (#1686)
  connectors/config.py
Due: none

Add extraction service to ABS
  connectors/sources/azure_blob_storage.py
Due: ðŸ”¨ Azure Blob Storage

add postgresql sync rules
  connectors/sources/postgresql.py
  tests/sources/test_postgresql.py
Due: ðŸ”¨ Postgresql

add examples
  connectors/sources/postgresql.py
  docs/sync-rules/POSTGRESQL.md
Due: ðŸ”¨ Postgresql

Generalize file download pre check
  connectors/source.py
  connectors/sources/azure_blob_storage.py
  connectors/sources/confluence.py
  connectors/utils.py
  tests/sources/fixtures/confluence/connector.json
  tests/sources/test_azure_blob_storage.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Azure Blob Storage, ðŸ”¨ Confluence

Expand to dropbox
  connectors/sources/dropbox.py
  tests/sources/fixtures/dropbox/connector.json
  tests/sources/test_dropbox.py
Due: ðŸ”¨ Dropbox

fix lint
  connectors/config.py
Due: none

Make it tidy
  connectors/protocol/connectors.py
  connectors/services/job_scheduling.py
  connectors/utils.py
  tests/protocol/test_connectors.py
  tests/services/test_job_scheduling.py
  tests/test_utils.py
Due: none

add check
  connectors/sources/microsoft_teams.py
Due: none

Add extraction service to Jira
  connectors/sources/dropbox.py
  connectors/sources/jira.py
  tests/sources/fixtures/dropbox/connector.json
  tests/sources/fixtures/jira/connector.json
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira, ðŸ”¨ Dropbox

Use 64kb chunk when downloading files
  connectors/source.py
Due: none

resolve comments
  connectors/sources/box.py
Due: none

Add extraction service to S3
  connectors/sources/azure_blob_storage.py
  connectors/sources/jira.py
  connectors/sources/s3.py
  tests/sources/fixtures/s3/connector.json
  tests/sources/test_jira.py
  tests/sources/test_s3.py
Due: ðŸ”¨ Amazon S3, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Jira

Remove comments
  connectors/sources/jira.py
  connectors/sources/s3.py
  tests/sources/test_s3.py
Due: ðŸ”¨ Amazon S3, ðŸ”¨ Jira

Fix lint
  connectors/sources/s3.py
Due: ðŸ”¨ Amazon S3

Small refactor
  connectors/source.py
Due: none

Create a new content index if it doesn't exist (#1668)
  connectors/es/sink.py
  connectors/sync_job_runner.py
  tests/test_sink.py
Due: none

Autoformat
  connectors/source.py
Due: none

Fix test
  tests/sources/test_s3.py
Due: none

Use 64kb chunk when downloading files (#1692)
  connectors/source.py
Due: none

Remove unused code and autoformat
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Move constants
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

address comments
  connectors/sources/microsoft_teams.py
  tests/sources/fixtures/microsoft_teams/fixture.py
Due: none

Add user_id:abc123 to access control list
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

clean queue and rename function name
  connectors/sources/box.py
  tests/sources/test_box.py
Due: none

refactor connector.json and add folders in fixture
  tests/sources/fixtures/box/connector.json
  tests/sources/fixtures/box/fixture.py
Due: none

fix e2e none type issue
  connectors/sources/microsoft_teams.py
  tests/sources/fixtures/microsoft_teams/fixture.py
Due: none

Rename some variables for consistency
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Repair existing tests
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Move ABS blob tier check
  connectors/sources/azure_blob_storage.py
Due: ðŸ”¨ Azure Blob Storage

let's see in CI
  Dockerfile.ftest
  connectors/services/job_scheduling.py
Due: none

Make autoformat
  connectors/services/job_scheduling.py
  tests/services/test_job_scheduling.py
  tests/test_utils.py
Due: none

add concurrent_downloads field
  connectors/sources/box.py
Due: none
