Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ OneDrive:
  label: ðŸ”¨ OneDrive
  command:
  - .buildkite/run_nigthly.sh onedrive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Salesforce:
  label: ðŸ”¨ Salesforce
  command:
  - .buildkite/run_nigthly.sh salesforce small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Zoom:
  label: ðŸ”¨ Zoom
  command:
  - .buildkite/run_nigthly.sh zoom small
  artifact_paths:
  - perf8-report-*/**/*

make constants
  connectors/sources/graphql.py
Due: none

`info` -> `debug` for downloading content
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

address comments
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

[Network Drive] Change traversal strategy to ingest as you go instead of pre-fetching the whole tree (#2286)
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

Fix pagination for confluence datacenter sync rules
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

Add a buildkite status badge to the README
  README.md
Due: none

log not found objects but it should not fail the sync
  connectors/sources/notion.py
Due: ðŸ”¨ Notion

Add a buildkite status badge to the README (#2311)
  README.md
Due: none

add test for not found object
  connectors/sources/notion.py
  tests/sources/test_notion.py
Due: ðŸ”¨ Notion

Add Opentext Documentum connector
  connectors/config.py
  connectors/sources/opentext_documentum.py
Due: none

address PR comments
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

add log to paginated_api_call
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

Update config.yml.example
  config.yml.example
Due: none

Rename config.yml.example to config.yml
  config.yml
Due: none

Update RELEASING.md with new docker release steps (#2289)
  docs/DOCKER.md
  docs/RELEASING.md
Due: none

remind folks not to make a PR with leaked creds
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update checklist wording
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

address comments on tests
  tests/sources/test_notion.py
Due: none

[Notion] Implement an ability to retry for failed paginated api call (#2297)
  connectors/sources/notion.py
  tests/sources/test_notion.py
Due: ðŸ”¨ Notion

[Jira] Add more logs (#2304)
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

use constant
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

update tooltip and rename method name
  connectors/sources/graphql.py
Due: none

Apply suggestions from code review
  connectors/sources/opentext_documentum.py
Due: none

address comments
  connectors/sources/opentext_documentum.py
Due: none

add validation for . separated objects
  connectors/sources/graphql.py
  tests/sources/test_graphql.py
Due: none

Add more logging to dropbox connector
  connectors/sources/dropbox.py
Due: ðŸ”¨ Dropbox

testing push protection
  config.yml.example
Due: none

Add more logging and constants to Jira connector
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

Add GraphQL configurations and indexing Implementation (#2134)
  connectors/config.py
  connectors/sources/graphql.py
  requirements/framework.txt
  tests/sources/test_graphql.py
Due: none

remind folks not to make a PR with leaked creds (#2322)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Create a nested_get_from_dict function in utils
  connectors/protocol/connectors.py
  connectors/sources/github.py
  connectors/utils.py
  tests/protocol/test_connectors.py
  tests/sources/test_github.py
  tests/test_utils.py
Due: ðŸ”¨ GitHub

lint
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Add logs in connectors
  connectors/sources/azure_blob_storage.py
  connectors/sources/confluence.py
  connectors/sources/mssql.py
  connectors/sources/oracle.py
  connectors/sources/postgresql.py
Due: ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ Oracle Database, ðŸ”¨ Microsoft SQL, ðŸ”¨ Confluence

add test cases for confluence
  connectors/sources/confluence.py
  connectors/sources/oracle.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Oracle Database, ðŸ”¨ Confluence

Create a nested_get_from_dict function in utils (#2328)
  connectors/protocol/connectors.py
  connectors/sources/github.py
  connectors/utils.py
  tests/protocol/test_connectors.py
  tests/sources/test_github.py
  tests/test_utils.py
Due: ðŸ”¨ GitHub

Update connectors/sources/dropbox.py
  connectors/sources/dropbox.py
Due: ðŸ”¨ Dropbox

Apply function nested_get_from_dict to more places
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
