Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**

Update tooltips for enumerating all sites. (#1724)
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Address PR comments
  docs/document-level-security/NETWORK_DRIVE.md
Due: none

Truncate branches and leafs in incremental sync
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

[SPO] Handle aiohttp.ClientPayloadError (#1660)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

[SPO] Handle aiohttp.ClientPayloadError (#1660) (#1732)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Make prints into log debug statements instead
  connectors/services/job_scheduling.py
Due: none

Swap two statements
  connectors/services/job_scheduling.py
Due: none

Bump VERSION to 8.10.4
  connectors/VERSION
Due: none

resolve comments
  docs/reference/box.md
Due: none

Minor adjustments to make small test pass
  tests/sources/fixtures/mssql/fixture.py
Due: ðŸ”¨ Microsoft SQL

Bump VERSION to 8.10.4 (#1733)
  connectors/VERSION
Due: none

Make autoformat
  tests/sources/fixtures/mssql/fixture.py
Due: ðŸ”¨ Microsoft SQL

Make use of RECORDS_TO_DELETE
  tests/sources/fixtures/mssql/fixture.py
Due: ðŸ”¨ Microsoft SQL

Make MySQL ftest use shared fixture setup
  tests/commons.py
  tests/sources/fixtures/mysql/fixture.py
Due: ðŸ”¨ MySQL

Better logging
  tests/sources/fixtures/mysql/fixture.py
Due: ðŸ”¨ MySQL

Make autoformat
  tests/sources/fixtures/mysql/fixture.py
Due: ðŸ”¨ MySQL

Make Network Drive connector use shared fixture
  tests/sources/fixtures/network_drive/fixture.py
Due: ðŸ”¨ Network Drive

Make OneDrive fixture use shared fixture
  tests/commons.py
  tests/sources/fixtures/onedrive/fixture.py
Due: ðŸ”¨ OneDrive

Fix tz bug and test cursor updates and incremental exclusions
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Refactor the time utils to make available to others
  connectors/source.py
  connectors/sources/sharepoint_online.py
  connectors/utils.py
Due: ðŸ”¨ Sharepoint Online

Add support for security group prefixes
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Fix unreliable job scheduling by making it look-behind instead of look-ahead (#1689)
  connectors/protocol/connectors.py
  connectors/services/job_scheduling.py
  connectors/utils.py
  tests/protocol/test_connectors.py
  tests/services/test_job_scheduling.py
  tests/test_utils.py
Due: none

Bump flask for 8.9 branch
  tests/sources/fixtures/confluence/requirements.txt
  tests/sources/fixtures/google_cloud_storage/requirements.txt
  tests/sources/fixtures/jira/requirements.txt
  tests/sources/fixtures/servicenow/requirements.txt
  tests/sources/fixtures/sharepoint_online/requirements.txt
  tests/sources/fixtures/sharepoint_server/requirements.txt
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow

Stop nightlies for 8.7 and 8.8
  catalog-info.yaml
Due: none

Make autoformat
  tests/sources/fixtures/onedrive/fixture.py
Due: ðŸ”¨ OneDrive

Make Oracle FTEST use shared fixture
  tests/sources/fixtures/oracle/fixture.py
Due: ðŸ”¨ Oracle Database

Make Postgresql use shared fixture
  tests/commons.py
  tests/sources/fixtures/postgresql/fixture.py
Due: ðŸ”¨ Postgresql

Fix
  tests/commons.py
Due: none

Fix small stuff
  tests/sources/fixtures/postgresql/fixture.py
Due: ðŸ”¨ Postgresql

remove redirect URIs
  docs/reference/box.md
Due: none

[Google Drive] Use generic GoogleWorkspaceAPI client from google.py
  connectors/sources/google.py
  connectors/sources/google_drive.py
Due: ðŸ”¨ Google Drive

Add support for security group prefixes (#1737)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online
