Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest

[CLI] Create and store API keys for native connectors in CLI (#2252)
  connectors/cli/connector.py
  connectors/connectors_cli.py
  connectors/es/management_client.py
  tests/es/test_management_client.py
  tests/test_connectors_cli.py
Due: none

add more validation
  connectors/sources/graphql.py
Due: none

add logger in test case
  tests/sources/test_network_drive.py
Due: none

lint
  connectors/sources/graphql.py
Due: none

add new RCF for pagination key
  connectors/sources/graphql.py
  tests/sources/test_graphql.py
Due: none

Fix specs
  tests/test_sink.py
Due: none

Move logging
  connectors/es/management_client.py
Due: none

Add more tests
  connectors/es/management_client.py
  connectors/es/sink.py
  tests/es/test_management_client.py
  tests/test_sink.py
Due: none

Create settings before mappings for ESS
  connectors/es/management_client.py
  connectors/es/sink.py
  connectors/sync_job_runner.py
Due: none

Support serverless ES
  connectors/es/management_client.py
Due: none

Automatically update content index settings and mapping (#2247)
  connectors/es/management_client.py
  connectors/es/sink.py
  connectors/sync_job_runner.py
  tests/es/test_management_client.py
  tests/test_sink.py
Due: none

verify configuration validation in redis
  connectors/sources/redis.py
  tests/sources/test_redis.py
Due: ðŸ”¨ Redis

[Redis] Log correct message when cannot connect to Redis (#2259)
  connectors/sources/redis.py
  tests/sources/test_redis.py
Due: ðŸ”¨ Redis

[8.13] [Redis] Log correct message when cannot connect to Redis (#2259) (#2260)
  connectors/sources/redis.py
  tests/sources/test_redis.py
Due: ðŸ”¨ Redis

address PR comments
  connectors/sources/notion.py
  docs/sync-rules/NOTION.md
  tests/sources/test_notion.py
Due: ðŸ”¨ Notion

[Network Drive]Add local extraction feature (#2202)
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

Use self.host.url for INFO log, add debug info
  connectors/es/client.py
Due: none

cleanup messages
  connectors/es/client.py
Due: none

fix lint
  connectors/es/client.py
Due: none

resolve comments
  connectors/sources/graphql.py
  tests/sources/test_graphql.py
Due: none

Clarify Elasticsearch Client Log Message While Waiting for Connection (#2261)
  connectors/es/client.py
Due: none

create connection in content extraction method
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

Add Advanced Sync Rules for Notion connector (#2231)
  connectors/sources/notion.py
  docs/sync-rules/NOTION.md
  tests/sources/test_notion.py
Due: ðŸ”¨ Notion

use to_thread everywhere
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

Do not add ACL for public GitHub repos
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

log filtering validation result at info
  connectors/filtering/validation.py
Due: none

log filtering validation result at info (#2270)
  connectors/filtering/validation.py
Due: none

Wait for sync jobs to finish before closing clients
  connectors/services/job_execution.py
  connectors/utils.py
Due: none

defer connection creation for file download to smb package
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

Wait for sync jobs to finish before closing clients (#2273)
  connectors/services/job_execution.py
  connectors/utils.py
Due: none

[PostgreSQL] Add custom pagination to reduce memory consumption (#2242)
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

Fix Box and Network Drive ftests (#2182)
  connectors/services/job_scheduling.py
  connectors/sources/network_drive.py
  tests/services/test_job_scheduling.py
  tests/sources/fixtures/box/fixture.py
  tests/sources/fixtures/network_drive/fixture.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive, ðŸ”¨ Box

Eliminate duplicate Buildkite builds
  .buildkite/pull-requests.json
  catalog-info.yaml
Due: none

Eliminate Duplicate Buildkite Builds on Branches and PRs (#2276)
  .buildkite/pull-requests.json
  catalog-info.yaml
Due: none
