Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**

[Filtering] Improve basic rule error messages (#1801)
  connectors/filtering/basic_rule.py
  connectors/filtering/validation.py
  connectors/utils.py
  tests/filtering/test_basic_rule.py
  tests/test_utils.py
Due: none

Allow multiple rule ids per SyncRuleValidationResult
  connectors/filtering/validation.py
  tests/filtering/test_validation.py
Due: none

Rename constructor parameter
  connectors/sources/atlassian.py
  connectors/sources/dropbox.py
  connectors/sources/github.py
  connectors/sources/gmail.py
  connectors/sources/mongo.py
  connectors/sources/mssql.py
  connectors/sources/mysql.py
  connectors/sources/network_drive.py
  connectors/sources/onedrive.py
  connectors/sources/postgresql.py
  connectors/sources/servicenow.py
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Postgresql, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive

Sort rules
  connectors/filtering/validation.py
Due: none

Make constructor more safe
  connectors/filtering/validation.py
Due: none

Remove size from nightly QA ftest calls (#1798)
  .buildkite/nightly_steps.yml
Due: none

Correct secret paths.
  .buildkite/publish_docker.sh
  .buildkite/run_nigthly.sh
Due: none

Small change
  .buildkite/run_nigthly.sh
Due: none

Re-raise on non-401 errors.
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

[CI] Update secrets paths (#1805)
  .buildkite/publish_docker.sh
  .buildkite/run_nigthly.sh
Due: none

[GitHub] Add missing re-raise on ClientResponseError (#1806)
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Bump Salesforce API version
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: ðŸ”¨ Salesforce

Update pull-requests.json
  .buildkite/pull-requests.json
Due: none

Rename connectors-python to connectors in pr pipeline
  .buildkite/pull-requests.json
Due: none

Bump Salesforce API version (#1807)
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: ðŸ”¨ Salesforce

[CI] Update pull-requests.json (#1811)
  .buildkite/pull-requests.json
Due: none

rename variables
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: ðŸ”¨ Salesforce

Use VersionData endpoint to download content
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: ðŸ”¨ Salesforce

revert bump api version
  connectors/sources/salesforce.py
Due: ðŸ”¨ Salesforce

Bump salesforce API to the latest version
  connectors/sources/salesforce.py
Due: ðŸ”¨ Salesforce

Add ASYNC linter rules
  .ruff.toml
Due: none

Add aiofiles to requirements
  requirements/framework.txt
Due: none

Fix async issues
  connectors/sources/directory.py
  tests/test_logger.py
Due: ðŸ”¨ System Directory

Use VersionData endpoint to download content (#1800)
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: ðŸ”¨ Salesforce

[Linter] Add ASYNC rules and fix issues (#1817)
  .ruff.toml
  connectors/sources/directory.py
  requirements/framework.txt
  tests/test_logger.py
Due: ðŸ”¨ System Directory

[DEVELOPING] Point to config on main branch instead of 8.6 branch (#1785)
  docs/DEVELOPING.md
Due: none

[SPO] Fix handling drive_items in incremental syncs
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Add unittests
  tests/sources/test_sharepoint_online.py
Due: none
