Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ OneDrive:
  label: ðŸ”¨ OneDrive
  command:
  - .buildkite/run_nigthly.sh onedrive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Salesforce:
  label: ðŸ”¨ Salesforce
  command:
  - .buildkite/run_nigthly.sh salesforce small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Zoom:
  label: ðŸ”¨ Zoom
  command:
  - .buildkite/run_nigthly.sh zoom small
  artifact_paths:
  - perf8-report-*/**/*

Fix args, help string, and exit codes
  connectors/cli/connector.py
  connectors/connectors_cli.py
  tests/test_connectors_cli.py
Due: none

[GitHub] Add missing re-raise on ClientResponseError (#1806)
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

[8.11] [GitHub] Add missing re-raise on ClientResponseError (#1806) (#1943)
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

add RCF+kibana PR checklist item
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

update doc structure
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: ðŸ”¨ Salesforce

make tls_insecure advanced
  connectors/sources/mongo.py
Due: ðŸ”¨ MongoDB

fix lint
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: ðŸ”¨ Salesforce

remove max_concurrent_syncs from config.yml
  config.yml
Due: none

add RCF+kibana PR checklist item (#1944)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update docs/sync-rules/s3.md
  docs/sync-rules/s3.md
Due: none

Add --from-file option to connector create command
  connectors/connectors_cli.py
Due: none

update label and tooltip of tls_insecure
  connectors/sources/mongo.py
  tests/sources/fixtures/mongodb/connector.json
  tests/sources/fixtures/mongodb_serverless/connector.json
Due: ðŸ”¨ MongoDB

simplify sentence
  docs/sync-rules/s3.md
Due: none

[CLI] Add BYOI functionality to Connectors CLI (#1942)
  connectors/cli/connector.py
  connectors/cli/index.py
  connectors/connectors_cli.py
  connectors/es/client.py
  connectors/es/sink.py
  tests/es/test_client.py
  tests/test_connectors_cli.py
  tests/test_sink.py
Due: none

Generate new API key
  connectors/cli/connector.py
  connectors/cli/index.py
  connectors/connectors_cli.py
Due: none

Pull connectors configuration from file and update the config
  connectors/cli/connector.py
  connectors/connectors_cli.py
Due: none

.
  connectors/sources/sharepoint_server.py
  requirements/framework.txt
Due: ðŸ”¨ Sharepoint Server

.
  connectors/sources/sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

Ensure that Exceptions with empty error messages at least state the exception
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

autoformat
  tests/protocol/test_connectors.py
Due: none

working stack for connectors
  .gitignore
  scripts/stack/.env
  scripts/stack/README.md
  scripts/stack/configure-stack.sh
  scripts/stack/configure_stack.py
  scripts/stack/connectors-config/config.yml
  scripts/stack/docker/docker-compose.yml
  scripts/stack/read-env.sh
  scripts/stack/requirements.txt
  scripts/stack/run-stack.sh
  scripts/stack/stop-stack.sh
  scripts/stack/update-kibana-user-password.sh
  scripts/stack/wait-for-elasticsearch.sh
  scripts/stack/wait-for-kibana.sh
Due: none

initial readme; reorder stack startup
  scripts/stack/.env
  scripts/stack/README.md
  scripts/stack/read-env.sh
  scripts/stack/run-stack.sh
  scripts/stack/stop-stack.sh
Due: none

Salesforce advanced sync rules documentation
  docs/sync-rules/SALESFORCE.md
Due: none

add overview
  docs/sync-rules/SALESFORCE.md
Due: none

update the doc format and structure
  docs/sync-rules/SALESFORCE.md
Due: none

[Mongo] Add Support of SSL (#1937)
  connectors/sources/mongo.py
  tests/sources/fixtures/mongodb/connector.json
  tests/sources/fixtures/mongodb_serverless/connector.json
  tests/sources/test_mongo.py
Due: ðŸ”¨ MongoDB

Documentation for S3 sync rules (#1936)
  docs/sync-rules/s3.md
Due: none

Ensure that Exceptions with empty error messages at least state the exception (#1945)
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

Create a connector from file and generate api_keys
  connectors/cli/connector.py
  connectors/cli/index.py
  connectors/connectors_cli.py
  tests/test_connectors_cli.py
Due: none

Do not create index when --from-index is provided
  connectors/cli/connector.py
  tests/test_connectors_cli.py
Due: none

remove redundant fields from ES doc
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: ðŸ”¨ Salesforce

Use the right acl index pattern
  connectors/cli/connector.py
  connectors/protocol/connectors.py
Due: none

fix nit
  docs/sync-rules/SALESFORCE.md
Due: none

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**
