Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**

Update docs/reference/redis.md
  docs/reference/redis.md
Due: none

update redis doc
  docs/reference/redis.md
  tests/sources/test_redis.py
Due: none

address comments
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

Update config.yml
  config.yml
Due: none

address comments related to docstrings, naming
  connectors/sources/notion.py
Due: none

rename tests
  tests/sources/test_notion.py
Due: none

Improve debug log for next sync message (#2114)
  connectors/services/job_scheduling.py
Due: none

remove start from e2e
  tests/sources/fixtures/redis/fixture.py
Due: none

fix acl query template (#2102)
  connectors/access_control.py
  tests/sources/test_confluence.py
  tests/sources/test_github.py
  tests/sources/test_google_drive.py
  tests/sources/test_jira.py
  tests/sources/test_salesforce.py
  tests/sources/test_servicenow.py
  tests/test_access_control.py
Due: none

Add a new config to be able to log deleted doc ids for audit purposes for example.
  config.yml
  connectors/config.py
  connectors/es/sink.py
  connectors/sync_job_runner.py
  tests/test_sink.py
Due: none

Improve description
  config.yml
Due: none

Switch to an official Oracle container image in functional tests (#2107)
  tests/sources/fixtures/oracle/connector.json
  tests/sources/fixtures/oracle/docker-compose.yml
  tests/sources/fixtures/oracle/fixture.py
Due: ðŸ”¨ Oracle Database

Add problem URL to error message (#2111)
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Make MemQueue used in sync configurable via config options (#2079)
  config.yml
  connectors/config.py
  connectors/es/sink.py
Due: none

rename type variable
  connectors/sources/redis.py
  tests/sources/test_redis.py
Due: none

Add more logs
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

Add prints
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

Remove ntlm
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

update readme
  docs/reference/redis.md
Due: none

Move logs
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

Log more stuff + download everything
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

Remove print lines
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

Revert "Specify port when calling all smbclient methods in network drive connector (#1898)"
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

[8.12] [GitHub] Fix scopes related issue (#1997) (#2109)
  connectors/sources/github.py
  tests/sources/fixtures/github/fixture.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

[Redis] Add ftests (#2083)
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  tests/sources/fixtures/redis/config.yml
  tests/sources/fixtures/redis/connector.json
  tests/sources/fixtures/redis/docker-compose.yml
  tests/sources/fixtures/redis/fixture.py
  tests/sources/fixtures/redis/requirements.txt
Due: none

[Redis] Advanced Sync rules and documentation (#2082)
  connectors/sources/redis.py
  docs/REFERENCE.md
  docs/reference/redis.md
  tests/sources/test_redis.py
Due: none

Add volumes to Salesforce fixture
  connectors/sources/salesforce.py
  tests/sources/fixtures/salesforce/fixture.py
Due: ðŸ”¨ Salesforce

Code for Redis SSL
  connectors/sources/redis.py
  tests/sources/test_redis.py
Due: none

update documentation
  connectors/sources/redis.py
  docs/reference/redis.md
Due: none

update connector json
  tests/sources/fixtures/redis/connector.json
Due: none

Revert "Specify port when calling all smbclient methods in network drive connector (#1898)" (#2119)
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

Create role instead of ingestin access control docs
  connectors/es/sink.py
Due: none

SPO Proxy PoC
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Use API keys for native connector syncs (#2115)
  connectors/es/management_client.py
  connectors/es/sink.py
  connectors/protocol/connectors.py
  connectors/source.py
  connectors/sync_job_runner.py
  docs/CONNECTOR_PROTOCOL.md
  tests/es/test_management_client.py
  tests/protocol/test_connectors.py
  tests/test_sink.py
  tests/test_sync_job_runner.py
Due: none

Add logic to send a ping to connector's backend every loop (#2105)
  connectors/services/job_scheduling.py
  tests/services/test_job_scheduling.py
Due: none

Add an inline comment to mention the volume size for RECORD_COUNT
  tests/sources/fixtures/salesforce/fixture.py
Due: ðŸ”¨ Salesforce

Update VERSION after 8.12.1 release
  connectors/VERSION
Due: none

Update VERSION after 8.12.1 release (#2128)
  connectors/VERSION
Due: none
