Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ OneDrive:
  label: ðŸ”¨ OneDrive
  command:
  - .buildkite/run_nigthly.sh onedrive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Salesforce:
  label: ðŸ”¨ Salesforce
  command:
  - .buildkite/run_nigthly.sh salesforce small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Zoom:
  label: ðŸ”¨ Zoom
  command:
  - .buildkite/run_nigthly.sh zoom small
  artifact_paths:
  - perf8-report-*/**/*

[SPO] Fix bugs when handling drive_items in incremental sync (#1827)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Fix tests in backport
  tests/sources/test_sharepoint_online.py
Due: none

Fix buildkite build
  .backportrc.json
  .buildkite/pull-requests.json
  .buildkite/run_nigthly.sh
Due: none

Fix migrations to work for peripheral connectors
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

Fix lint
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

Try updatin the catalog
  catalog-info.yaml
Due: none

Fix configuration migrations to work for peripheral connectors (#1830)
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

[CI] Update pull-requests.json (#1811)
  .buildkite/pull-requests.json
Due: none

Add C4 RUFF rule
  .ruff.toml
  connectors/filtering/basic_rule.py
  connectors/source.py
  connectors/sources/generic_database.py
  connectors/sources/github.py
  connectors/sources/mssql.py
  connectors/sources/mysql.py
  connectors/sources/outlook.py
  connectors/sources/postgresql.py
  connectors/sources/servicenow.py
  tests/filtering/test_validation.py
  tests/protocol/test_connectors.py
  tests/sources/test_google_drive.py
  tests/sources/test_mysql.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Postgresql, ðŸ”¨ Microsoft SQL, ðŸ”¨ ServiceNow, ðŸ”¨ GitHub

Add T201 and T203 rules + fix problems with them
  .ruff.toml
  connectors/cli.py
  scripts/verify.py
  tests/conftest.py
  tests/sources/fixtures/azure_blob_storage/fixture.py
  tests/sources/fixtures/box/fixture.py
  tests/sources/fixtures/confluence/fixture.py
  tests/sources/fixtures/dir/fixture.py
  tests/sources/fixtures/dropbox/fixture.py
  tests/sources/fixtures/fixture.py
  tests/sources/fixtures/github/fixture.py
  tests/sources/fixtures/google_cloud_storage/fixture.py
  tests/sources/fixtures/google_cloud_storage/mocker.py
  tests/sources/fixtures/google_drive/fixture.py
  tests/sources/fixtures/jira/fixture.py
  tests/sources/fixtures/microsoft_teams/fixture.py
  tests/sources/fixtures/mongodb/fixture.py
  tests/sources/fixtures/mongodb_serverless/fixture.py
  tests/sources/fixtures/mssql/fixture.py
  tests/sources/fixtures/mysql/fixture.py
  tests/sources/fixtures/network_drive/fixture.py
  tests/sources/fixtures/onedrive/fixture.py
  tests/sources/fixtures/oracle/fixture.py
  tests/sources/fixtures/postgresql/fixture.py
  tests/sources/fixtures/s3/fixture.py
  tests/sources/fixtures/salesforce/fixture.py
  tests/sources/fixtures/servicenow/fixture.py
  tests/sources/fixtures/sharepoint_online/fixture.py
  tests/sources/fixtures/sharepoint_server/fixture.py
  tests/sources/fixtures/zoom/fixture.py
  tests/sources/test_google_cloud_storage.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams

Update README.md
  README.md
Due: none

Implementation of Dropbox DLS
  connectors/sources/dropbox.py
  tests/sources/fixtures/dropbox/connector.json
  tests/sources/test_dropbox.py
Due: ðŸ”¨ Dropbox

fix lint and test case
  connectors/sources/dropbox.py
  tests/sources/test_dropbox.py
Due: ðŸ”¨ Dropbox

Add flake8-comprehentions(C4) ruff rule (#1836)
  .ruff.toml
  connectors/filtering/basic_rule.py
  connectors/source.py
  connectors/sources/generic_database.py
  connectors/sources/github.py
  connectors/sources/mssql.py
  connectors/sources/mysql.py
  connectors/sources/outlook.py
  connectors/sources/postgresql.py
  connectors/sources/servicenow.py
  tests/filtering/test_validation.py
  tests/protocol/test_connectors.py
  tests/sources/test_google_drive.py
  tests/sources/test_mysql.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Postgresql, ðŸ”¨ Microsoft SQL, ðŸ”¨ ServiceNow, ðŸ”¨ GitHub

add missing try except and dropdown for drive type
  connectors/sources/network_drive.py
  tests/sources/fixtures/network_drive/connector.json
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

minor nit
  tests/sources/fixtures/network_drive/connector.json
Due: ðŸ”¨ Network Drive

Add T10 and T20 rules + fix problems with them (#1837)
  .ruff.toml
  connectors/cli.py
  scripts/verify.py
  tests/conftest.py
  tests/sources/fixtures/azure_blob_storage/fixture.py
  tests/sources/fixtures/box/fixture.py
  tests/sources/fixtures/confluence/fixture.py
  tests/sources/fixtures/dir/fixture.py
  tests/sources/fixtures/dropbox/fixture.py
  tests/sources/fixtures/fixture.py
  tests/sources/fixtures/github/fixture.py
  tests/sources/fixtures/google_cloud_storage/fixture.py
  tests/sources/fixtures/google_cloud_storage/mocker.py
  tests/sources/fixtures/google_drive/fixture.py
  tests/sources/fixtures/jira/fixture.py
  tests/sources/fixtures/microsoft_teams/fixture.py
  tests/sources/fixtures/mongodb/fixture.py
  tests/sources/fixtures/mongodb_serverless/fixture.py
  tests/sources/fixtures/mssql/fixture.py
  tests/sources/fixtures/mysql/fixture.py
  tests/sources/fixtures/network_drive/fixture.py
  tests/sources/fixtures/onedrive/fixture.py
  tests/sources/fixtures/oracle/fixture.py
  tests/sources/fixtures/postgresql/fixture.py
  tests/sources/fixtures/s3/fixture.py
  tests/sources/fixtures/salesforce/fixture.py
  tests/sources/fixtures/servicenow/fixture.py
  tests/sources/fixtures/sharepoint_online/fixture.py
  tests/sources/fixtures/sharepoint_server/fixture.py
  tests/sources/fixtures/zoom/fixture.py
  tests/sources/test_google_cloud_storage.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams

Enable ISC rule + autoformat
  .ruff.toml
  tests/sources/fixtures/postgresql/fixture.py
Due: ðŸ”¨ Postgresql

Test Postgres connector with read-only user
  tests/sources/fixtures/postgresql/connector.json
  tests/sources/fixtures/postgresql/fixture.py
Due: ðŸ”¨ Postgresql

Use 'official' query for determining primary keys
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

Improve PostgreSQL query for identifying primary keys (#1823)
  connectors/sources/postgresql.py
  tests/sources/fixtures/postgresql/connector.json
  tests/sources/fixtures/postgresql/fixture.py
Due: ðŸ”¨ Postgresql

Move common functions to test_base.py
  tests/services/test_base.py
  tests/services/test_job_cleanup.py
  tests/services/test_job_execution.py
  tests/services/test_job_scheduling.py
Due: none

Move common functions to test_base.py (#1848)
  tests/services/test_base.py
  tests/services/test_job_cleanup.py
  tests/services/test_job_execution.py
  tests/services/test_job_scheduling.py
Due: none

Make pending_jobs to fetch jobs by job types
  connectors/protocol/connectors.py
  connectors/services/job_execution.py
  tests/protocol/test_connectors.py
Due: none

Update REFERENCE.md with links to main docs, alphabetize list
  docs/REFERENCE.md
Due: none

Make pending_jobs fetch jobs by job types (#1847)
  connectors/protocol/connectors.py
  connectors/services/job_execution.py
  tests/protocol/test_connectors.py
Due: none

Move _override_es_config to BaseService
  connectors/services/base.py
  connectors/services/job_execution.py
  tests/services/test_base.py
  tests/services/test_job_execution.py
Due: none

Move _override_es_config to BaseService (#1850)
  connectors/services/base.py
  connectors/services/job_execution.py
  tests/services/test_base.py
  tests/services/test_job_execution.py
Due: none

Move some instance variables to BaseService
  connectors/services/base.py
  connectors/services/job_cleanup.py
  connectors/services/job_execution.py
  connectors/services/job_scheduling.py
Due: none

[8.11] Improve PostgreSQL query for identifying primary keys (#1823) (#1852)
  connectors/sources/postgresql.py
  tests/sources/fixtures/postgresql/connector.json
  tests/sources/fixtures/postgresql/fixture.py
Due: ðŸ”¨ Postgresql

[Network Drive] Add Dropdown for Drive type (#1842)
  connectors/sources/network_drive.py
  tests/sources/fixtures/network_drive/connector.json
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

[DOCS] Update REFERENCE.md with links to main docs, alphabetize list (#1849)
  docs/REFERENCE.md
Due: none

Move some instance variables to BaseService (#1851)
  connectors/services/base.py
  connectors/services/job_cleanup.py
  connectors/services/job_execution.py
  connectors/services/job_scheduling.py
Due: none

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**
