Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis, ðŸ”¨ GraphQL

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=mysql
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=network_drive
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=s3
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=google_cloud_storage
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=azure_blob_storage
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=postgresql
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=dir
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=oracle
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=sharepoint_server
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=sharepoint_online
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=mssql
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=jira
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=confluence
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=servicenow
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

test: Simplify functional test Dockerfile setup
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  Dockerfile.ftest
  Dockerfile.ftest.wolfi
  Makefile
  tests/Dockerfile.ftest
  tests/ftest.sh
Due: none

fix: Allow running tests without credentials
  Makefile
Due: none

fix: Switch CI back to the previously-used images
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
Due: none

test: Simplify functional test Dockerfile setup (#3546)
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  Dockerfile.ftest
  Dockerfile.ftest.wolfi
  Makefile
  tests/Dockerfile.ftest
  tests/ftest.sh
Due: none

Add unit test
  tests/sources/test_servicenow.py
Due: none

make autoformat
  tests/sources/test_servicenow.py
Due: none

bump version to 9.1.1
  connectors/VERSION
Due: none

Update NOTICE.txt
  NOTICE.txt
Due: none

Use math.ceil
  connectors/sources/servicenow.py
Due: ðŸ”¨ ServiceNow

[9.0] test: Simplify functional test Dockerfile setup (#3546) (#3563)
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  Dockerfile.ftest
  Dockerfile.ftest.wolfi
  Makefile
  tests/Dockerfile.ftest
  tests/ftest.sh
Due: none

[8.18] test: Simplify functional test Dockerfile setup (#3565)
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  Dockerfile.ftest
  Dockerfile.ftest.wolfi
  Makefile
  tests/Dockerfile.ftest
  tests/ftest.sh
Due: none

[8.17] test: Simplify functional test Dockerfile setup (#3564)
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  Dockerfile.ftest
  Dockerfile.ftest.wolfi
  Makefile
  tests/Dockerfile.ftest
  tests/ftest.sh
Due: none

Refactor for reuse
  connectors/sources/servicenow.py
Due: ðŸ”¨ ServiceNow

[ServiceNow] Paginate API calls when we have advanced sync rules (#3559)
  connectors/sources/servicenow.py
  tests/sources/test_servicenow.py
Due: ðŸ”¨ ServiceNow

bump version to 9.1.1 (#3562)
  NOTICE.txt
  connectors/VERSION
Due: none

Handle -Everyone Except External Users- group
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Handle "Everyone Except External Users" group (#3577)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Bump to 8.19.1
  connectors/VERSION
Due: none

Update ftest.sh
  tests/ftest.sh
Due: none

Bump to 8.19.1 (#3585)
  connectors/VERSION
  tests/ftest.sh
Due: none

Bump to 9.1.2
  connectors/VERSION
Due: none

Forgot to bump NOTICE.txt too
  NOTICE.txt
Due: none

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ GraphQL: any of: connectors/sources/graphql.py, tests/sources/fixtures/graphql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
