Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server extra_small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

[Confluence] Add DLS support (#1397)
  connectors/sources/confluence.py
  tests/sources/fixtures/confluence/docker-compose.yml
  tests/sources/fixtures/confluence/fixture.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

Add more tests to test_google.
  tests/test_google.py
Due: none

Use unittest.mock patch
  tests/test_google.py
Due: none

Revert "Add "get_last_update_time" to MySQLClient"
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL

Update ABS setup to include docs that are closer to real
  tests/commons.py
  tests/ftest.sh
  tests/sources/fixtures/azure_blob_storage/fixture.py
Due: ðŸ”¨ Azure Blob Storage

Fix confluence ftest
  tests/sources/fixtures/confluence/Dockerfile
  tests/sources/fixtures/confluence/docker-compose.yml
  tests/sources/fixtures/confluence/fixture.py
  tests/sources/fixtures/confluence/requirements.txt
Due: ðŸ”¨ Confluence

+ mssql
  tests/sources/fixtures/mssql/fixture.py
Due: ðŸ”¨ Microsoft SQL

Same for SPO/SPS
  tests/sources/fixtures/sharepoint_online/fixture.py
  tests/sources/fixtures/sharepoint_server/fixture.py
  tests/sources/fixtures/sharepoint_server/requirements.txt
Due: ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online

Same for dropbox
  tests/sources/fixtures/dropbox/fixture.py
  tests/sources/fixtures/dropbox/requirements.txt
Due: ðŸ”¨ Dropbox

Same for servicenow
  tests/sources/fixtures/servicenow/fixture.py
  tests/sources/fixtures/servicenow/requirements.txt
Due: ðŸ”¨ ServiceNow

Same for GCS
  tests/sources/fixtures/google_cloud_storage/fixture.py
  tests/sources/fixtures/google_cloud_storage/requirements.txt
Due: ðŸ”¨ Google Cloud Storage

Jira and mongodb
  tests/sources/fixtures/jira/fixture.py
  tests/sources/fixtures/jira/requirements.txt
  tests/sources/fixtures/mongodb/fixture.py
Due: ðŸ”¨ Jira, ðŸ”¨ MongoDB

Same for postgresql
  tests/sources/fixtures/oracle/fixture.py
  tests/sources/fixtures/postgresql/fixture.py
  tests/sources/fixtures/postgresql/requirements.txt
Due: ðŸ”¨ Postgresql, ðŸ”¨ Oracle Database

GDrive
  tests/sources/fixtures/google_drive/fixture.py
  tests/sources/fixtures/google_drive/requirements.txt
Due: ðŸ”¨ Google Drive

Same for s3
  tests/sources/fixtures/s3/fixture.py
  tests/sources/fixtures/s3/requirements.txt
Due: ðŸ”¨ Amazon S3

Fix deletion for network_drive
  tests/sources/fixtures/network_drive/fixture.py
Due: ðŸ”¨ Network Drive

Same for oracle
  tests/sources/fixtures/oracle/fixture.py
  tests/sources/fixtures/oracle/requirements.txt
Due: ðŸ”¨ Oracle Database

Same for github
  tests/sources/fixtures/github/fixture.py
  tests/sources/fixtures/github/requirements.txt
Due: ðŸ”¨ GitHub

Same for network drive
  tests/sources/fixtures/network_drive/fixture.py
  tests/sources/fixtures/network_drive/requirements.txt
Due: ðŸ”¨ Network Drive

More fixes + mysql ftest adjustments
  tests/commons.py
  tests/sources/fixtures/mssql/fixture.py
  tests/sources/fixtures/mysql/fixture.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Microsoft SQL

Add Oracle client abstraction (#1405)
  connectors/sources/oracle.py
  tests/sources/test_generic_database.py
  tests/sources/test_oracle.py
Due: ðŸ”¨ Oracle Database

Add explicit TODO for subject RFC
  connectors/sources/gmail.py
Due: none

Add tests for _execute_api_call and api_call
  tests/test_google.py
Due: none

Fix tests
  connectors/sources/gmail.py
  tests/test_gmail.py
Due: none

Deshadow some variable names
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Add requirement
  tests/sources/fixtures/azure_blob_storage/requirements.txt
  tests/sources/fixtures/mssql/requirements.txt
  tests/sources/fixtures/mysql/requirements.txt
Due: ðŸ”¨ MySQL, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Microsoft SQL

Deduplicate test name
  tests/sources/test_sharepoint_online.py
Due: none

Move test, so 404 tests are together
  tests/sources/test_sharepoint_online.py
Due: none

[Refactoring] Remove shadow variables (#1425)
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

WIP
  pytest.ini
  setup.cfg
Due: none

WIP 2
  pytest.ini
Due: none

Ignore one more thing
  pytest.ini
Due: none

[SPO] Deduplicate and correct test name (#1426)
  tests/sources/test_sharepoint_online.py
Due: none

Add api_call_paged test
  tests/test_google.py
Due: none

test
  tests/test_google.py
Due: none

Fix more warnings + unclosed session for Slack
  pytest.ini
  tests/sources/test_slack.py
Due: none

added workspace user field
  connectors/sources/google_drive.py
Due: ðŸ”¨ Google Drive

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**
