Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis, ðŸ”¨ GraphQL

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=mysql
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=network_drive
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=s3
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=google_cloud_storage
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=azure_blob_storage
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=postgresql
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=dir
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=oracle
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=sharepoint_server
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=sharepoint_online
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=mssql
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=jira
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=confluence
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=servicenow
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

add support for sites.selected permission
  connectors/sources/sharepoint_online.py
  tests/sources/fixtures/sharepoint_online/fixture.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Replace python setup.py develop with pip install --editable .
  Makefile
  pytest.ini
Due: none

Trivial PR feedback changes
  .buildkite/publish/dra/init_dra_publishing.sh
  .buildkite/publish/dra/publish-daily-release-artifact.sh
Due: none

Remove gates
  .buildkite/publish/dra/init_dra_publishing.sh
Due: none

Replace python setup.py develop with pip install --editable . (#2763)
  Makefile
  pytest.ini
Due: none

increase queue size
  connectors/sources/confluence.py
  tests/sources/fixtures/confluence/config.yml
Due: ðŸ”¨ Confluence

Revert "Replace python setup.py develop with pip install --editable . (#2763)"
  Makefile
  pytest.ini
Due: none

Revert "Replace python setup.py develop with pip install --editable ." (#2766)
  Makefile
  pytest.ini
Due: none

Reapply reverted change
  Makefile
  pytest.ini
Due: none

Move venv to a standalone directory
  .gitignore
  Makefile
  tests/ftest.sh
Due: none

Fix functional test
  .buildkite/run_functional_test.sh
Due: none

Fix verify call
  tests/ftest.sh
Due: none

add dra support (#2749)
  .buildkite/pipeline.yml
  .buildkite/publish/dra/init_dra_publishing.sh
  .buildkite/publish/dra/publish-daily-release-artifact.sh
  .gitignore
  Makefile
  connectors/VERSION
Due: none

Enable dependency csv generation, add notice file
  .buildkite/publish/dra/init_dra_publishing.sh
  Makefile
  NOTICE.txt
Due: none

Start working on adding DRA
  .gitignore
Due: none

Document release process changes with DRA
  docs/RELEASING.md
Due: none

csv dependency report (#2757)
  .buildkite/publish/dra/init_dra_publishing.sh
  Makefile
  NOTICE.txt
Due: none

Add nuance about the Independent Agent Release Pipeline
  docs/RELEASING.md
Due: none

ensures fetchers are completed outside of the async for
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

That's a start
  MANIFEST.in
  connectors/VERSION
  connectors/__init__.py
  connectors/connectors_cli.py
  connectors/es/client.py
  connectors/logger.py
  connectors/service_cli.py
  connectors/version.py
  setup.py
  tests/es/test_cli_client.py
  tests/es/test_client.py
  tests/test_connectors_cli.py
  tests/test_service_cli.py
Due: none

Fix phonies
  Makefile
Due: none

Fix makefile
  Makefile
Due: none

Bump aiohttp version to 3.10.4
  requirements/framework.txt
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis, ðŸ”¨ GraphQL

Move virtual environment to a separate directory (#2768)
  .buildkite/run_functional_test.sh
  .gitignore
  Makefile
  tests/ftest.sh
Due: none

pip is now in .venv/bin
  Dockerfile.ftest
  Dockerfile.ftest.wolfi
Due: none

Also clean .venv
  Makefile
Due: none

Fix bin/python in docker-compose for fixtures
  tests/sources/fixtures/box/docker-compose.yml
  tests/sources/fixtures/confluence/docker-compose.yml
  tests/sources/fixtures/dropbox/docker-compose.yml
  tests/sources/fixtures/github/docker-compose.yml
  tests/sources/fixtures/google_cloud_storage/docker-compose.yml
  tests/sources/fixtures/google_drive/docker-compose.yml
  tests/sources/fixtures/graphql/docker-compose.yml
  tests/sources/fixtures/jira/docker-compose.yml
  tests/sources/fixtures/microsoft_teams/docker-compose.yml
  tests/sources/fixtures/notion/docker-compose.yml
  tests/sources/fixtures/onedrive/docker-compose.yml
  tests/sources/fixtures/salesforce/docker-compose.yml
  tests/sources/fixtures/servicenow/docker-compose.yml
  tests/sources/fixtures/sharepoint_online/docker-compose.yml
  tests/sources/fixtures/sharepoint_server/docker-compose.yml
  tests/sources/fixtures/zoom/docker-compose.yml
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ GraphQL

Comment out release-manager
  .buildkite/publish/dra/publish-daily-release-artifact.sh
Due: none

pip is now in .venv/bin (#2771)
  Dockerfile.ftest
  Dockerfile.ftest.wolfi
  Makefile
  tests/sources/fixtures/box/docker-compose.yml
  tests/sources/fixtures/confluence/docker-compose.yml
  tests/sources/fixtures/dropbox/docker-compose.yml
  tests/sources/fixtures/github/docker-compose.yml
  tests/sources/fixtures/google_cloud_storage/docker-compose.yml
  tests/sources/fixtures/google_drive/docker-compose.yml
  tests/sources/fixtures/graphql/docker-compose.yml
  tests/sources/fixtures/jira/docker-compose.yml
  tests/sources/fixtures/microsoft_teams/docker-compose.yml
  tests/sources/fixtures/notion/docker-compose.yml
  tests/sources/fixtures/onedrive/docker-compose.yml
  tests/sources/fixtures/salesforce/docker-compose.yml
  tests/sources/fixtures/servicenow/docker-compose.yml
  tests/sources/fixtures/sharepoint_online/docker-compose.yml
  tests/sources/fixtures/sharepoint_server/docker-compose.yml
  tests/sources/fixtures/zoom/docker-compose.yml
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ GraphQL

Comment out release-manager (#2772)
  .buildkite/publish/dra/publish-daily-release-artifact.sh
Due: none

support for org-wide root site collections
  connectors/sources/sharepoint_online.py
  tests/sources/fixtures/sharepoint_online/fixture.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

fix ftest
  tests/sources/fixtures/sharepoint_online/fixture.py
Due: ðŸ”¨ Sharepoint Online

fix ftest
  connectors/sources/confluence.py
  tests/sources/fixtures/confluence/config.yml
  tests/sources/fixtures/confluence/fixture.py
Due: ðŸ”¨ Confluence

reduce docs
  tests/sources/fixtures/confluence/fixture.py
Due: ðŸ”¨ Confluence

reduce spaces in fixtures
  tests/sources/fixtures/confluence/fixture.py
Due: ðŸ”¨ Confluence

fix ftest
  tests/sources/fixtures/confluence/fixture.py
Due: ðŸ”¨ Confluence

Bump `aiohttp` version to 3.10.4 (#2769)
  requirements/framework.txt
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis, ðŸ”¨ GraphQL

Document release process changes with DRA (#2764)
  .gitignore
  docs/RELEASING.md
Due: none

Add our docker images to the DRAs list
  .buildkite/pipeline.yml
  .buildkite/publish/dra/init_dra_publishing.sh
  .buildkite/publish/dra/publish-daily-release-artifact.sh
Due: none

try to resolve agent definition conflicts
  .buildkite/pipeline.yml
  .buildkite/publish/dra/publish-daily-release-artifact.sh
Due: none

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ GraphQL: any of: connectors/sources/graphql.py, tests/sources/fixtures/graphql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
