Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**

Update docs/document-level-security/DROPBOX.md
  docs/document-level-security/DROPBOX.md
Due: none

improve performance via batching
  connectors/sources/onedrive.py
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

Add Documentation for DLS in Dropbox (#1914)
  docs/document-level-security/DROPBOX.md
Due: none

Extend a non-blocking Semaphore implementation (#1889)
  connectors/utils.py
  tests/test_utils.py
Due: none

revert changes to exception logging
  tests/test_utils.py
Due: none

Use BoundedSemaphore and add more tests
  tests/test_utils.py
Due: none

add more comments and test
  tests/test_utils.py
Due: none

Add non-blocking try_put method to ConcurrentTasks
  connectors/utils.py
  tests/test_utils.py
Due: none

Use Semaphore instead of asyncio.Event to control the max concurrency
  tests/test_utils.py
Due: none

make try_put to use try_acquire method
  connectors/utils.py
  tests/test_utils.py
Due: none

[DOCS] Delete DLS docs, now available in main docs
  docs/document-level-security/CONFLUENCE.md
  docs/document-level-security/JIRA.md
  docs/document-level-security/NETWORK_DRIVE.md
  docs/document-level-security/ONEDRIVE.md
Due: none

working stack for connectors
  .gitignore
  scripts/stack/.env
  scripts/stack/README.md
  scripts/stack/configure-stack.sh
  scripts/stack/configure_stack.py
  scripts/stack/connectors-config/config.yml
  scripts/stack/docker/docker-compose.yml
  scripts/stack/read-env.sh
  scripts/stack/requirements.txt
  scripts/stack/run-stack.sh
  scripts/stack/stop-stack.sh
  scripts/stack/update-kibana-user-password.sh
  scripts/stack/wait-for-elasticsearch.sh
  scripts/stack/wait-for-kibana.sh
Due: none

fix tests
  connectors/sources/onedrive.py
  tests/sources/fixtures/onedrive/fixture.py
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

return None when try_put fails to add the task
  connectors/utils.py
Due: none

update test
  tests/test_utils.py
Due: none

Add more examples in ConcurrentTasks comment
  connectors/utils.py
Due: none

[DOCS] Delete DLS docs, now available in main docs (#1918)
  docs/document-level-security/CONFLUENCE.md
  docs/document-level-security/JIRA.md
  docs/document-level-security/NETWORK_DRIVE.md
  docs/document-level-security/ONEDRIVE.md
Due: none

update test to cover more test cases
  tests/test_utils.py
Due: none

[8.11] [DOCS] Delete DLS docs, now available in main docs (#1918) (#1920)
  docs/document-level-security/CONFLUENCE.md
  docs/document-level-security/JIRA.md
  docs/document-level-security/NETWORK_DRIVE.md
  docs/document-level-security/ONEDRIVE.md
Due: none

update comments
  connectors/utils.py
Due: none

remove redundent test code
  tests/test_utils.py
Due: none

add test for join
  tests/test_utils.py
Due: none

Add non-blocking try_put method to ConcurrentTasks (#1479)
  connectors/utils.py
  tests/test_utils.py
Due: none

Improve job execution concurrency
  connectors/services/access_control_sync_job_execution.py
  connectors/services/content_sync_job_execution.py
  connectors/services/job_execution.py
  tests/services/test_access_control_sync_job_execution.py
  tests/services/test_content_sync_job_execution.py
  tests/services/test_job_execution.py
Due: none

update to use non-async try_put
  connectors/services/job_execution.py
  tests/services/test_job_execution.py
Due: none

Add code for sync rules of S3
  connectors/sources/s3.py
  tests/sources/test_s3.py
Due: ðŸ”¨ Amazon S3

github-dls
  connectors/sources/github.py
  tests/sources/fixtures/github/connector.json
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

fix CI
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Update log message when job execution reaches max concurrency
  connectors/services/access_control_sync_job_execution.py
  connectors/services/content_sync_job_execution.py
  connectors/services/job_execution.py
Due: none

address comments
  connectors/sources/onedrive.py
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

add comments
  connectors/sources/onedrive.py
Due: ðŸ”¨ OneDrive

Revert "Add config for telemetry (#1894)"
  config.yml
  connectors/config.py
Due: none

attempt mongo ndjson serialize fix (#1615)
  connectors/sources/mongo.py
  connectors/utils.py
  tests/sources/test_mongo.py
Due: ðŸ”¨ MongoDB

Revert "Add config for telemetry" (#1926)
  config.yml
  connectors/config.py
Due: none
