Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**

move params to paginated_api_call
  connectors/sources/onedrive.py
Due: ðŸ”¨ OneDrive

fix internal issues
  connectors/sources/outlook.py
  tests/sources/test_outlook.py
Due: none

Improve OneDrive Connector Performance (#1619)
  connectors/sources/onedrive.py
  tests/sources/fixtures/onedrive/connector.json
  tests/sources/fixtures/onedrive/fixture.py
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

add teams in pipeline
  .buildkite/pipeline.yml
Due: none

Box indexing
  connectors/config.py
  connectors/sources/box.py
  tests/sources/test_box.py
Due: none

dls
  connectors/sources/onedrive.py
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

docs
  docs/document-level-security/ONEDRIVE.md
Due: none

fix CI
  tests/sources/test_box.py
Due: none

fix lint
  connectors/sources/onedrive.py
  tests/sources/fixtures/onedrive/connector.json
Due: ðŸ”¨ OneDrive

Kafka connector setup
  connectors/config.py
  connectors/sources/kafka.py
  requirements/framework.txt
Due: none

Outlook connector (#1629)
  connectors/config.py
  connectors/sources/outlook.py
  requirements/framework.txt
  tests/sources/test_outlook.py
Due: none

Introduce bin/connectors login
  .gitignore
  connectors/cli/auth.py
  connectors/connectors_cli.py
  connectors/old_cli.py
Due: none

Introduce bin/connectors login (#1626)
  .gitignore
  connectors/cli/auth.py
  connectors/connectors_cli.py
  connectors/old_cli.py
Due: none

Introduce connectors list command
  connectors/cli/connector.py
  connectors/connectors_cli.py
  requirements/framework.txt
Due: none

Read existing config
  connectors/connectors_cli.py
Due: none

Introduce connector list command (#1636)
  connectors/cli/connector.py
  connectors/connectors_cli.py
  requirements/framework.txt
Due: none

fetch configured sites individually
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

outlook documentation
  docs/REFERENCE.md
  docs/reference/outlook.md
Due: none

nits
  connectors/sources/onedrive.py
  docs/document-level-security/ONEDRIVE.md
Due: ðŸ”¨ OneDrive

Add index cli
  connectors/cli/index.py
  connectors/connectors_cli.py
  connectors/es/client.py
Due: none

Add index cli (#1637)
  connectors/cli/index.py
  connectors/connectors_cli.py
  connectors/es/client.py
Due: none

more nits
  connectors/sources/onedrive.py
Due: ðŸ”¨ OneDrive

Revert "more nits"
  connectors/sources/onedrive.py
Due: ðŸ”¨ OneDrive

remove _get_id
  connectors/sources/onedrive.py
Due: ðŸ”¨ OneDrive

[OneDrive] Document level security (#1635)
  connectors/sources/onedrive.py
  docs/document-level-security/ONEDRIVE.md
  tests/sources/fixtures/onedrive/connector.json
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

Trying listing sites over searching
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Introduce Job cli
  connectors/cli/job.py
  connectors/connectors_cli.py
Due: none

Introduce Job cli (#1643)
  connectors/cli/job.py
  connectors/connectors_cli.py
Due: none

Rename old cli
  setup.py
Due: none

Introduce connector create
  connectors/cli/connector.py
  connectors/connectors_cli.py
  connectors/es/client.py
Due: none

validate
  connectors/sources/zoom.py
Due: ðŸ”¨ Zoom

Increase the number of retries, and ensure a minimum wait time on 429s
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Add tests
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Add RCF to configure enumerating all sites
  connectors/sources/sharepoint_online.py
  tests/sources/fixtures/sharepoint_online/connector.json
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Autoformat
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Add test for config validation when fetching individually
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Pass retry_count to the retry handler
  connectors/sources/sharepoint_online.py
  connectors/utils.py
Due: ðŸ”¨ Sharepoint Online
