Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest

update fixture
  tests/sources/fixtures/sharepoint_server/fixture.py
Due: ðŸ”¨ Sharepoint Server

Change docker-compose network in stack scripts to `elastic` (#2723)
  scripts/stack/docker/docker-compose.yml
  scripts/stack/run-stack.sh
Due: none

Fix linter + add comments
  config.yml.example
  tests/test_source.py
Due: none

Remove the content extraction part
  config.yml.example
  connectors/source.py
  tests/sources/support.py
  tests/test_source.py
Due: none

autoformat
  tests/sources/support.py
Due: none

Fix ftest
  connectors/sync_job_runner.py
Due: none

Make sure event loops are closed
  tests/test_service_cli.py
Due: none

Fix mysql connector dies due to slow ingestion
  connectors/sources/mysql.py
  tests/sources/test_mysql.py
Due: ðŸ”¨ MySQL

Restore some test coverage
  connectors/service_cli.py
  tests/test_service_cli.py
Due: none

remove flakey spec
  tests/test_service_cli.py
Due: none

[WIP] Adapt to run in agent
  connectors/VERSION
  connectors/config.py
  connectors/service_cli.py
  connectors/services/__init__.py
  connectors/services/base.py
Due: none

add field mime-type in onedrive
  connectors/sources/onedrive.py
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

increase test coverage
  tests/sources/test_github.py
Due: none

Sharepoint Server NTLM authentication support (#2708)
  connectors/sources/sharepoint_server.py
  requirements/framework.txt
  tests/sources/fixtures/sharepoint_server/connector.json
  tests/sources/fixtures/sharepoint_server/fixture.py
  tests/sources/test_sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

[MySQL] Add new field id_columns in sync rules to generate id and adding support for views (#2647)
  connectors/sources/mysql.py
  tests/sources/test_mysql.py
Due: ðŸ”¨ MySQL

Improve test coverage for content_extraction.py
  tests/test_content_extraction.py
Due: none

Improve test coverage for content_extraction.py (#2732)
  tests/test_content_extraction.py
Due: none

replace flakey spec (#2726)
  connectors/service_cli.py
  tests/test_service_cli.py
Due: none

Address PR comments
  connectors/sources/dropbox.py
  tests/sources/test_dropbox.py
Due: ðŸ”¨ Dropbox

code autoformat
  connectors/sources/dropbox.py
Due: ðŸ”¨ Dropbox

more datatypes added
  tests/sources/fixtures/mssql/fixture.py
Due: ðŸ”¨ Microsoft SQL

address comments
  connectors/sources/mysql.py
  lib64
  tests/sources/test_mysql.py
Due: ðŸ”¨ MySQL

add null-safety and test cases
  connectors/sources/dropbox.py
  tests/sources/test_dropbox.py
Due: ðŸ”¨ Dropbox

[Confluence] Allow to ingest space separately
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

Make connectors work with python 3.10+
  Dockerfile
  Dockerfile.ftest
  Makefile
  requirements/framework.txt
  scripts/stack/README.md
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

Add _id to failed bulk logs
  connectors/es/sink.py
  tests/test_sink.py
Due: none

Fix lint
  connectors/es/sink.py
Due: none

Add _id to failed bulk logs (#2735)
  connectors/es/sink.py
  tests/test_sink.py
Due: none

Trying out python with different versions
  .buildkite/pipeline.yml
  Makefile
Due: none

Hmm maybe this?
  .buildkite/pipeline.yml
Due: none

Nah forget it
  .buildkite/pipeline.yml
Due: none

Revert correctly
  .buildkite/pipeline.yml
Due: none

[8.15] Add _id to failed bulk logs (#2735) (#2736)
  connectors/es/sink.py
  tests/test_sink.py
Due: none

Get rid of alpine + add entrypoint
  Dockerfile
Due: none

safely get mimetype
  connectors/sources/onedrive.py
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

Hmmmm
  .buildkite/pipeline.yml
Due: none

CI fixed
  tests/sources/fixtures/mssql/fixture.py
Due: ðŸ”¨ Microsoft SQL

hmm
  .buildkite/pipeline.yml
Due: none

Maybe this?
  .buildkite/pipeline.yml
Due: none
