Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server extra_small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ OneDrive:
  label: ðŸ”¨ OneDrive
  command:
  - .buildkite/run_nigthly.sh onedrive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Salesforce:
  label: ðŸ”¨ Salesforce
  command:
  - .buildkite/run_nigthly.sh salesforce small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Zoom:
  label: ðŸ”¨ Zoom
  command:
  - .buildkite/run_nigthly.sh zoom small
  artifact_paths:
  - perf8-report-*/**/*

[New Connector] Box Implementation (#1631)
  connectors/config.py
  connectors/sources/box.py
  tests/sources/test_box.py
Due: none

Expand extraction service to more connectors #2 (#1693)
  connectors/source.py
  connectors/sources/azure_blob_storage.py
  connectors/sources/confluence.py
  connectors/sources/dropbox.py
  connectors/sources/jira.py
  connectors/sources/s3.py
  connectors/utils.py
  tests/sources/fixtures/confluence/connector.json
  tests/sources/fixtures/dropbox/connector.json
  tests/sources/fixtures/jira/connector.json
  tests/sources/fixtures/s3/connector.json
  tests/sources/test_azure_blob_storage.py
  tests/sources/test_confluence.py
  tests/sources/test_dropbox.py
  tests/sources/test_jira.py
  tests/sources/test_s3.py
Due: ðŸ”¨ Amazon S3, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ Dropbox

add concurrent_downloads in connector.json
  tests/sources/fixtures/box/connector.json
Due: none

Add some more prints
  connectors/services/job_scheduling.py
Due: none

Expand to dropbox
  connectors/sources/dropbox.py
Due: ðŸ”¨ Dropbox

Add extraction service to Jira
  connectors/sources/dropbox.py
Due: ðŸ”¨ Dropbox

Add extraction service to GCS
  connectors/sources/google_cloud_storage.py
  connectors/sources/s3.py
  tests/sources/fixtures/google_cloud_storage/connector.json
  tests/sources/test_google_cloud_storage.py
Due: ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage

Add extraction service to google drive
  connectors/source.py
  connectors/sources/google_cloud_storage.py
  connectors/sources/google_drive.py
  tests/sources/fixtures/google_drive/connector.json
  tests/sources/test_google_cloud_storage.py
  tests/sources/test_google_drive.py
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Google Drive

Add extraction service to servicenow
  connectors/source.py
  connectors/sources/azure_blob_storage.py
  connectors/sources/confluence.py
  connectors/sources/dropbox.py
  connectors/sources/google_drive.py
  connectors/sources/jira.py
  connectors/sources/servicenow.py
  tests/sources/fixtures/servicenow/connector.json
Due: ðŸ”¨ Azure Blob Storage, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox

Lint
  connectors/source.py
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: ðŸ”¨ Salesforce

Autoformat
  tests/sources/test_onedrive.py
Due: none

Fix missed tests
  tests/sources/test_servicenow.py
Due: none

Add extraction service for servicenow
  connectors/sources/onedrive.py
  tests/sources/fixtures/onedrive/connector.json
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

Add content extraction for salesforce
  connectors/source.py
  connectors/sources/salesforce.py
  tests/sources/fixtures/salesforce/connector.json
  tests/sources/test_salesforce.py
Due: ðŸ”¨ Salesforce

Add common perftest classes for data generation + use in confluence to demonstrate (#1590)
  Dockerfile.ftest
  tests/commons.py
  tests/sources/fixtures/confluence/docker-compose.yml
  tests/sources/fixtures/confluence/fixture.py
  tests/sources/fixtures/dropbox/docker-compose.yml
  tests/sources/fixtures/github/docker-compose.yml
  tests/sources/fixtures/google_cloud_storage/docker-compose.yml
  tests/sources/fixtures/google_drive/docker-compose.yml
  tests/sources/fixtures/jira/docker-compose.yml
  tests/sources/fixtures/onedrive/docker-compose.yml
  tests/sources/fixtures/salesforce/docker-compose.yml
  tests/sources/fixtures/servicenow/docker-compose.yml
  tests/sources/fixtures/sharepoint_online/docker-compose.yml
  tests/sources/fixtures/sharepoint_server/docker-compose.yml
  tests/sources/fixtures/zoom/docker-compose.yml
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

Make autoformat
  connectors/services/job_scheduling.py
Due: none

Include stack trace in failed download logs
  connectors/source.py
Due: none

Placate linter
  connectors/source.py
Due: none

Add tests for site_role_assignments and limited access
  tests/sources/test_sharepoint_online.py
Due: none

Force cancel a sync job after waiting for 5 seconds
  connectors/es/sink.py
  tests/test_sink.py
Due: none

Use a new variable for cancel status instead of self.queue
  connectors/es/sink.py
Due: none

update log messages
  connectors/es/sink.py
Due: none

[Box] E2E feature (#1661)
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  connectors/sources/box.py
  tests/sources/fixtures/box/.env
  tests/sources/fixtures/box/config.yml
  tests/sources/fixtures/box/connector.json
  tests/sources/fixtures/box/docker-compose.yml
  tests/sources/fixtures/box/fixture.py
Due: none

Expand extraction service to more connectors #3 (#1694)
  connectors/source.py
  connectors/sources/azure_blob_storage.py
  connectors/sources/confluence.py
  connectors/sources/dropbox.py
  connectors/sources/google_cloud_storage.py
  connectors/sources/google_drive.py
  connectors/sources/jira.py
  connectors/sources/onedrive.py
  connectors/sources/s3.py
  connectors/sources/salesforce.py
  connectors/sources/servicenow.py
  tests/sources/fixtures/google_cloud_storage/connector.json
  tests/sources/fixtures/google_drive/connector.json
  tests/sources/fixtures/onedrive/connector.json
  tests/sources/fixtures/salesforce/connector.json
  tests/sources/fixtures/servicenow/connector.json
  tests/sources/test_google_cloud_storage.py
  tests/sources/test_google_drive.py
  tests/sources/test_onedrive.py
  tests/sources/test_salesforce.py
  tests/sources/test_servicenow.py
Due: ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce

Remove obsolete code
  connectors/sources/zoom.py
Due: ðŸ”¨ Zoom

Add extraction service for sharepoint server
  connectors/sources/sharepoint_server.py
  tests/sources/fixtures/sharepoint_server/connector.json
  tests/sources/test_sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

Add extraction service to outlook
  connectors/sources/github.py
  connectors/sources/outlook.py
  tests/sources/test_outlook.py
Due: ðŸ”¨ GitHub

Add extraction service for zoom
  connectors/sources/sharepoint_server.py
  connectors/sources/zoom.py
  tests/sources/fixtures/zoom/connector.json
  tests/sources/test_sharepoint_server.py
  tests/sources/test_zoom.py
Due: ðŸ”¨ Sharepoint Server, ðŸ”¨ Zoom

Add extraction service for github
  connectors/sources/github.py
  tests/sources/fixtures/github/connector.json
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Fix lint
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Fix lint
  connectors/sources/onedrive.py
  connectors/sources/sharepoint_server.py
  connectors/sources/zoom.py
  tests/sources/test_sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server, ðŸ”¨ OneDrive, ðŸ”¨ Zoom

Fix lint again again
  connectors/sources/sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

Remove obsolete consts
  connectors/sources/azure_blob_storage.py
  connectors/sources/confluence.py
  connectors/sources/dropbox.py
  connectors/sources/github.py
  connectors/sources/google.py
  connectors/sources/google_cloud_storage.py
  connectors/sources/jira.py
  connectors/sources/onedrive.py
  connectors/sources/s3.py
  connectors/sources/servicenow.py
Due: ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ GitHub, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**
