Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ OneDrive:
  label: ðŸ”¨ OneDrive
  command:
  - .buildkite/run_nigthly.sh onedrive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Salesforce:
  label: ðŸ”¨ Salesforce
  command:
  - .buildkite/run_nigthly.sh salesforce small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Zoom:
  label: ðŸ”¨ Zoom
  command:
  - .buildkite/run_nigthly.sh zoom small
  artifact_paths:
  - perf8-report-*/**/*

Make CLI docs up-to-date
  docs/CLI.md
Due: none

Rephrase
  docs/CLI.md
Due: none

Make CLI docs up-to-date (#2503)
  docs/CLI.md
Due: none

update test case
  tests/sources/test_confluence.py
Due: none

add new field for custom fields
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

fix lint
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

add a check for empty response
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

raise 403 exception
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Add author and editor name instead of author/editor id
  connectors/sources/sharepoint_server.py
  tests/sources/test_sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

fix ftest
  tests/sources/fixtures/sharepoint_server/fixture.py
Due: ðŸ”¨ Sharepoint Server

update fixture
  tests/sources/fixtures/sharepoint_server/fixture.py
Due: ðŸ”¨ Sharepoint Server

update ftest
  tests/sources/fixtures/sharepoint_server/fixture.py
Due: ðŸ”¨ Sharepoint Server

adding expand query for ftest
  tests/sources/fixtures/sharepoint_server/fixture.py
Due: ðŸ”¨ Sharepoint Server

Fix concurrent scheduling (#2470)
  connectors/services/job_scheduling.py
Due: none

add url in the error message
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

address suggestions
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

autoformat
  tests/sources/test_jira.py
Due: none

update code with nam instead of title
  connectors/sources/sharepoint_server.py
  tests/sources/fixtures/sharepoint_server/fixture.py
  tests/sources/test_sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

Fix SharePoint Server API response for Site Pages and IDs (#2494)
  connectors/sources/sharepoint_server.py
  tests/sources/fixtures/sharepoint_server/fixture.py
  tests/sources/test_sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

Fix id logging in basic filtering rules (#2490)
  connectors/filtering/basic_rule.py
Due: none

update msg
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

update msg for rest calls
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Add a new method
  connectors/cli/index.py
  connectors/connectors_cli.py
  connectors/es/management_client.py
Due: none

Fallback to elasticsearch.get for Serverless
  connectors/cli/index.py
  connectors/connectors_cli.py
  connectors/es/management_client.py
Due: none

Lint
  connectors/es/management_client.py
  tests/test_connectors_cli.py
Due: none

Fix tests
  tests/test_connectors_cli.py
Due: none

Support serverless in index list command (#2511)
  connectors/cli/index.py
  connectors/connectors_cli.py
  connectors/es/management_client.py
  tests/test_connectors_cli.py
Due: none

[Jira] Handle empty response when status code is 200 (#2506)
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

Add author and editor name instead of author/editor id (#2508)
  connectors/sources/sharepoint_server.py
  tests/sources/fixtures/sharepoint_server/fixture.py
  tests/sources/test_sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

remove ancestors from sync rules
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

[GitHub] Raising 403 exception (#2507)
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

update postgresql queries
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

ABS logs
  connectors/sources/azure_blob_storage.py
Due: ðŸ”¨ Azure Blob Storage

Upgrade aiohttp and pyOpenSSL
  requirements/framework.txt
Due: none

MS SQL logs
  connectors/sources/mssql.py
Due: ðŸ”¨ Microsoft SQL

Run all functional tests if any requirements change
  .buildkite/pipeline.yml
Due: none

Oracle logs
  connectors/sources/oracle.py
Due: ðŸ”¨ Oracle Database

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
