Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis, ðŸ”¨ GraphQL

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=mysql
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=network_drive
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=s3
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=google_cloud_storage
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=azure_blob_storage
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=postgresql
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=dir
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=oracle
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=sharepoint_server
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=sharepoint_online
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=mssql
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=jira
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=confluence
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=servicenow
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

Add ftest for google calendar
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  tests/sources/fixtures/google_calendar/.env
  tests/sources/fixtures/google_calendar/config.yml
  tests/sources/fixtures/google_calendar/connector.json
  tests/sources/fixtures/google_calendar/docker-compose.yml
  tests/sources/fixtures/google_calendar/fixture.py
Due: none

Undid cds in buildkite scripts + added top-level wrapper Makefile
  .buildkite/publish_docker.sh
  .buildkite/run_functional_test.sh
  .buildkite/run_linter.sh
  .buildkite/run_notice_check.sh
  .buildkite/shared.sh
  Makefile
  app/NOTICE.txt
Due: none

more cleanup
  app/NOTICE.txt
  app/config.yml.example
  app/connectors/pyproject_cli.toml
Due: none

Refactor how we check valid repos
  NOTICE.txt
  connectors/services/job_scheduling.py
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Trying to figure out NOTICE.txt diff situation
  Makefile
  app/NOTICE.txt
Due: none

Notice will work now maybe?
  NOTICE.txt
  app/NOTICE.txt
Due: none

Generated NOTICE.txt with Py3.11.11
  app/NOTICE.txt
Due: none

Trying to determine why fixture config isn't found
  Makefile
  app/NOTICE.txt
Due: none

Fix NOTICE.txt again -_-
  app/NOTICE.txt
Due: none

Our fixture config.yml were now being ignored by .gitignore, added more specific exemption
  .gitignore
  Makefile
  app/tests/fixtures/config.yml
  app/tests/sources/fixtures/azure_blob_storage/config.yml
  app/tests/sources/fixtures/box/config.yml
  app/tests/sources/fixtures/confluence/config.yml
  app/tests/sources/fixtures/dir/config.yml
  app/tests/sources/fixtures/dropbox/config.yml
  app/tests/sources/fixtures/github/config.yml
  app/tests/sources/fixtures/google_cloud_storage/config.yml
  app/tests/sources/fixtures/google_drive/config.yml
  app/tests/sources/fixtures/graphql/config.yml
  app/tests/sources/fixtures/jira/config.yml
  app/tests/sources/fixtures/microsoft_teams/config.yml
  app/tests/sources/fixtures/mongodb/config.yml
  app/tests/sources/fixtures/mongodb_serverless/config.yml
  app/tests/sources/fixtures/mssql/config.yml
  app/tests/sources/fixtures/mysql/config.yml
  app/tests/sources/fixtures/network_drive/config.yml
  app/tests/sources/fixtures/notion/config.yml
  app/tests/sources/fixtures/onedrive/config.yml
  app/tests/sources/fixtures/oracle/config.yml
  app/tests/sources/fixtures/postgresql/config.yml
  app/tests/sources/fixtures/redis/config.yml
  app/tests/sources/fixtures/s3/config.yml
  app/tests/sources/fixtures/salesforce/config.yml
  app/tests/sources/fixtures/sandfly/config.yml
  app/tests/sources/fixtures/servicenow/config.yml
  app/tests/sources/fixtures/sharepoint_online/config.yml
  app/tests/sources/fixtures/sharepoint_server/config.yml
  app/tests/sources/fixtures/zoom/config.yml
Due: none

Trying out getting ftests to work
  .buildkite/run_functional_test.sh
Due: none

The Dockerfiles were in the wrong place :facepalm:
  app/Dockerfile
  app/Dockerfile.agent
  app/Dockerfile.wolfi
Due: none

relocate verify.py to tests folder
  app/tests/verify.py
Due: none

Moving verify.py again :facepalm:
  app/connectors/scripts/verify.py
Due: none

changing the ftest to try to address conflicting IDs
  tests/sources/fixtures/google_calendar/fixture.py
Due: none

Accidentally put scripts/ folder in wrong place lol
  app/scripts/verify.py
Due: none

Some cleanup before marking ready to review
  Makefile
  app/Makefile
Due: none

Split function
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

make autoformat
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

Make it work for actual API
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

Use key IS NOT EMPTY catch-all jql
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

Add fields=*all to maintain old behaviour
  NOTICE.txt
  connectors/sources/jira.py
  tests/sources/fixtures/jira/fixture.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

Update NOTICE.txt
  NOTICE.txt
Due: none

Order columns as well
  connectors/sources/mysql.py
  tests/sources/fixtures/mysql/fixture.py
Due: ðŸ”¨ MySQL

Update docstring
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

Revert changes besides query optmiziations
  connectors/services/job_scheduling.py
  connectors/sources/github.py
  connectors/utils.py
Due: ðŸ”¨ GitHub

Update num of docs
  tests/sources/fixtures/mysql/fixture.py
Due: ðŸ”¨ MySQL

Fix pk logic
  connectors/sources/mysql.py
  tests/sources/fixtures/mysql/fixture.py
  tests/sources/test_mysql.py
Due: ðŸ”¨ MySQL

make autoformat
  tests/sources/fixtures/mysql/fixture.py
Due: ðŸ”¨ MySQL

Removed top-level NOTICE.txt, restored .ruff.toml + ran linter again
  NOTICE.txt
  app/.ruff.toml
  app/NOTICE.txt
  app/connectors/connectors_cli.py
  app/connectors/service_cli.py
Due: none

Optimize github app case
  connectors/source.py
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

NOTICE.txt will be OK now?
  app/NOTICE.txt
Due: none

Fix tests
  NOTICE.txt
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

make autoformat
  connectors/source.py
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Implemented some minor cleanup before the next phase of restructuring
  .gitignore
  Makefile
  app/.ruff.toml
  app/MANIFEST.in
  app/pyproject.toml
Due: none

Update Jira API (#3710)
  connectors/sources/jira.py
  tests/sources/fixtures/jira/fixture.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ GraphQL: any of: connectors/sources/graphql.py, tests/sources/fixtures/graphql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
