Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ OneDrive:
  label: ðŸ”¨ OneDrive
  command:
  - .buildkite/run_nigthly.sh onedrive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Salesforce:
  label: ðŸ”¨ Salesforce
  command:
  - .buildkite/run_nigthly.sh salesforce small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Zoom:
  label: ðŸ”¨ Zoom
  command:
  - .buildkite/run_nigthly.sh zoom small
  artifact_paths:
  - perf8-report-*/**/*

[CI] Fix Issues in Docker Publishing Pipeline (#2180)
  .buildkite/publish/build-docker.sh
  .buildkite/publish/build-multiarch-docker.sh
  .buildkite/publish/push-docker.sh
  .buildkite/publish/test-docker.sh
  .buildkite/release-pipeline.yml
Due: none

fix ftest for multiple pings
  connectors/sources/network_drive.py
  tests/sources/fixtures/box/fixture.py
Due: ðŸ”¨ Network Drive, ðŸ”¨ Box

Add logic to send a ping to connector's backend every loop (#2105)
  connectors/services/job_scheduling.py
  tests/services/test_job_scheduling.py
Due: none

Remove unsafe dict call and add unit tests
  connectors/sources/servicenow.py
  tests/sources/test_servicenow.py
Due: ðŸ”¨ ServiceNow

Fix lint
  connectors/sources/servicenow.py
  tests/sources/test_servicenow.py
Due: ðŸ”¨ ServiceNow

Fix table length mock
  tests/sources/test_servicenow.py
Due: none

WIP
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

check top level only
  connectors/sources/graphql.py
  tests/sources/test_graphql.py
Due: none

Log sys_id when sysparm_field missing
  connectors/sources/servicenow.py
  tests/sources/test_servicenow.py
Due: ðŸ”¨ ServiceNow

Fix lint
  connectors/sources/servicenow.py
Due: ðŸ”¨ ServiceNow

Fix debug log statement
  connectors/sources/servicenow.py
Due: ðŸ”¨ ServiceNow

Remove unsafe dict call from ServiceNow (#2184)
  connectors/sources/servicenow.py
  tests/sources/test_servicenow.py
Due: ðŸ”¨ ServiceNow

Add more debug logs, use end_of_file for file size
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

Remove `search-` prefix requirement
  connectors/connectors_cli.py
  tests/test_connectors_cli.py
Due: none

Add atlassian.py for Jira Data Center DLS (#2161)
  connectors/sources/atlassian.py
Due: ðŸ”¨ Jira, ðŸ”¨ Confluence

[Connector API] Update postman collection (#2156)
  resources/connectors_api/Connectors API.postman_collection.json
Due: none

working test
  config.yml
  connectors/config.py
  connectors/sources/local_sql_rar.py
  connectors/sources/test_connect.py
  scripts/stack/docker/docker-compose.yml
Due: none

Fix native API auth
  connectors/es/sink.py
  connectors/sync_job_runner.py
  tests/test_sink.py
  tests/test_sync_job_runner.py
Due: none

Fix lint
  tests/test_sync_job_runner.py
Due: none

Fix native API key authentication (#2196)
  connectors/es/sink.py
  connectors/sync_job_runner.py
  tests/test_sink.py
  tests/test_sync_job_runner.py
Due: none

Generate API keys when running native connector syncs
  connectors/es/management_client.py
  connectors/services/job_execution.py
  connectors/source.py
  connectors/utils.py
  tests/es/test_management_client.py
  tests/services/test_job_execution.py
  tests/test_utils.py
Due: none

Fix native call
  connectors/services/job_execution.py
  tests/services/test_job_execution.py
Due: none

Fix lint
  tests/es/test_management_client.py
Due: none

Use inbuilt reload func
  connectors/services/job_execution.py
  tests/services/test_job_execution.py
Due: none

Generate API keys when running native connector syncs (#2188)
  connectors/es/management_client.py
  connectors/services/job_execution.py
  connectors/source.py
  connectors/utils.py
  tests/es/test_management_client.py
  tests/services/test_job_execution.py
  tests/test_utils.py
Due: none

Remove code not needed in backport
  connectors/utils.py
Due: none

[8.13] Generate API keys when running native connector syncs (#2188) (#2198)
  connectors/es/management_client.py
  connectors/services/job_execution.py
  connectors/source.py
  connectors/utils.py
  tests/es/test_management_client.py
  tests/services/test_job_execution.py
  tests/test_utils.py
Due: none

Remove `search-` prefix requirement from CLI (#2190)
  connectors/connectors_cli.py
  tests/test_connectors_cli.py
Due: none

[Network Drive] Fix Download of documents in Windows and debug logs (#2187)
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

Update config.yml
  config.yml
Due: none

Update connectors/sources/confluence.py
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

[NEtwork Drive]Add local extraction feature
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
