Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**

Improve request handling and support pagination
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: none

Fix lint but actually
  connectors/sources/salesforce.py
Due: none

Apply changes from code review
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: none

Fix tests
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: none

Fix retryables
  connectors/sources/salesforce.py
Due: none

YA fix lint
  tests/sources/test_salesforce.py
Due: none

Fix test source building
  tests/sources/test_salesforce.py
Due: none

Add MSSQL client abstraction (#1402)
  connectors/sources/mssql.py
  tests/sources/test_generic_database.py
  tests/sources/test_mssql.py
Due: ðŸ”¨ Microsoft SQL

[Salesforce] Improve request handling (#1393)
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: none

Improve request handling and support pagination
  connectors/sources/salesforce.py
Due: none

Ingest Contacts and Leads
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: none

Fix tests and lint
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: none

Fix merge mistakes
  connectors/sources/salesforce.py
Due: none

Remove unused exception
  connectors/sources/salesforce.py
Due: none

Fix logs
  connectors/sources/salesforce.py
Due: none

Typo in new change checking step
  .buildkite/pipeline.yml
Due: none

Typo in new change checking step (#1409)
  .buildkite/pipeline.yml
Due: none

Add Oracle client abstraction
  connectors/sources/oracle.py
  tests/sources/test_oracle.py
Due: ðŸ”¨ Oracle Database

use refactored fetch function
  connectors/sources/oracle.py
  tests/sources/test_generic_database.py
  tests/sources/test_oracle.py
Due: ðŸ”¨ Oracle Database

add indexing implementation
  connectors/sources/onedrive.py
  tests/sources/test_onedrive.py
Due: none

add e2e feature
  .buildkite/nightly_steps.yml
  tests/sources/fixtures/onedrive/.env
  tests/sources/fixtures/onedrive/Dockerfile
  tests/sources/fixtures/onedrive/config.yml
  tests/sources/fixtures/onedrive/docker-compose.yml
  tests/sources/fixtures/onedrive/fixture.py
  tests/sources/fixtures/onedrive/requirements.txt
Due: none

incorporate change related to create_source
  tests/sources/test_onedrive.py
Due: none

Always upper case user
  connectors/sources/oracle.py
Due: ðŸ”¨ Oracle Database

remove testing logs
  connectors/sources/oracle.py
Due: ðŸ”¨ Oracle Database

Remove common access control module (can be handled in separate PR).
  connectors/access_control.py
  connectors/sources/gmail.py
  connectors/sources/google.py
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
  tests/test_access_control.py
Due: ðŸ”¨ Sharepoint Online

Fix SPO
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Remove SPO changes
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Add comment
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

Test domain wide delegation for drive client
  connectors/sources/google_drive.py
Due: ðŸ”¨ Google Drive

Remove SPO test changes
  tests/sources/test_sharepoint_online.py
Due: none

Add "get_last_update_time" to MySQLClient
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL

Split up get_pem_format tests
  tests/test_utils.py
Due: none

Revert "Add "get_last_update_time" to MySQLClient"
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL

Improve test coverage
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: none

Fix lint
  tests/sources/test_salesforce.py
Due: none

Fix small typo
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

[Refactoring] Split up test_get_pem_format tests (#1418)
  tests/test_utils.py
Due: none

[SPO] Fix small typo (#1419)
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

[Salesforce] Ingest Contacts and Leads (#1407)
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: none
