Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ OneDrive:
  label: ðŸ”¨ OneDrive
  command:
  - .buildkite/run_nigthly.sh onedrive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Salesforce:
  label: ðŸ”¨ Salesforce
  command:
  - .buildkite/run_nigthly.sh salesforce small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Zoom:
  label: ðŸ”¨ Zoom
  command:
  - .buildkite/run_nigthly.sh zoom small
  artifact_paths:
  - perf8-report-*/**/*

[CLI] Add a command to show specific job informaton (#1991)
  connectors/cli/job.py
  connectors/connectors_cli.py
  connectors/protocol/connectors.py
  tests/test_connectors_cli.py
Due: none

check if DLS is enabled before fetching drive item permissions (#1990)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Ignore errors when Sink or Extractor is forcibly canceled (#1992)
  connectors/es/sink.py
  tests/test_sink.py
Due: none

Address comments
  tests/sources/fixtures/fixture.py
Due: none

fix scopes
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Make test fixture retry 429 errors (#1993)
  tests/sources/fixtures/fixture.py
Due: none

fix e2e
  tests/sources/fixtures/github/fixture.py
Due: ðŸ”¨ GitHub

Minor refactorings in ESClient and code that uses it
  connectors/cli/auth.py
  connectors/cli/connector.py
  connectors/cli/index.py
  connectors/cli/job.py
  connectors/es/client.py
  connectors/es/index.py
  connectors/preflight_check.py
  connectors/protocol/connectors.py
  tests/sources/fixtures/fixture.py
Due: none

Make autoformat
  connectors/es/client.py
  connectors/es/index.py
  connectors/protocol/connectors.py
Due: none

Fix tests for preflight
  connectors/es/client.py
  tests/test_preflight_check.py
Due: none

Fix tests + formatting
  connectors/services/job_cleanup.py
  tests/es/test_client.py
  tests/protocol/test_connectors.py
  tests/services/test_job_cleanup.py
  tests/test_connectors_cli.py
  tests/test_preflight_check.py
Due: none

address comments
  connectors/sources/servicenow.py
  tests/sources/test_servicenow.py
Due: ðŸ”¨ ServiceNow

[CLI] Remove blink=True
  connectors/connectors_cli.py
Due: none

[CLI] Remove blink=True (#2001)
  connectors/connectors_cli.py
Due: none

add precedence for Deny permisisons
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

Remove duplicate PK check for MySQL.
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL

[MySQL] Remove duplicate PK check in advanced sync rules (#2005)
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL

Remove duplicate PK check for PostgreSQL.
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

[8.11] [MySQL] Remove duplicate PK check in advanced sync rules (#2005) (#2008)
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL

Address feedback - rename es_client to es_management_client
  connectors/cli/auth.py
  connectors/cli/connector.py
  connectors/cli/index.py
  connectors/cli/job.py
  connectors/preflight_check.py
  tests/es/test_client.py
  tests/test_preflight_check.py
Due: none

change logic for filtering
  connectors/sources/azure_blob_storage.py
  tests/sources/test_azure_blob_storage.py
Due: ðŸ”¨ Azure Blob Storage

Refactor ES Client methods (#1999)
  connectors/cli/auth.py
  connectors/cli/connector.py
  connectors/cli/index.py
  connectors/cli/job.py
  connectors/es/client.py
  connectors/es/index.py
  connectors/preflight_check.py
  connectors/protocol/connectors.py
  connectors/services/job_cleanup.py
  tests/es/test_client.py
  tests/protocol/test_connectors.py
  tests/services/test_job_cleanup.py
  tests/sources/fixtures/fixture.py
  tests/test_connectors_cli.py
  tests/test_preflight_check.py
Due: none

[ServiceNow] Add DLS for ServiceNow (#1989)
  connectors/sources/servicenow.py
  tests/sources/fixtures/servicenow/connector.json
  tests/sources/test_servicenow.py
Due: ðŸ”¨ ServiceNow

add tests
  tests/sources/test_github.py
Due: none

add separate test
  tests/sources/test_github.py
Due: none

add check: if Windows, then only fetch groups
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

Make fixtures async
  tests/sources/fixtures/azure_blob_storage/fixture.py
  tests/sources/fixtures/dir/fixture.py
  tests/sources/fixtures/fixture.py
  tests/sources/fixtures/google_cloud_storage/fixture.py
  tests/sources/fixtures/mongodb/fixture.py
  tests/sources/fixtures/mongodb_serverless/fixture.py
  tests/sources/fixtures/mssql/fixture.py
  tests/sources/fixtures/mysql/fixture.py
  tests/sources/fixtures/network_drive/fixture.py
  tests/sources/fixtures/oracle/fixture.py
  tests/sources/fixtures/postgresql/fixture.py
  tests/sources/fixtures/s3/fixture.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Microsoft SQL, ðŸ”¨ MongoDB

Include fixture.py into diff for all pipeline tests
  .buildkite/pipeline.yml
Due: none

revert caller for fetch_groups_info
  connectors/sources/network_drive.py
  tests/sources/fixtures/network_drive/connector.json
Due: ðŸ”¨ Network Drive

Include fixture.py into diff for all pipeline tests (#2010)
  .buildkite/pipeline.yml
Due: none

Make fixtures async (#2009)
  tests/sources/fixtures/azure_blob_storage/fixture.py
  tests/sources/fixtures/dir/fixture.py
  tests/sources/fixtures/fixture.py
  tests/sources/fixtures/google_cloud_storage/fixture.py
  tests/sources/fixtures/mongodb/fixture.py
  tests/sources/fixtures/mongodb_serverless/fixture.py
  tests/sources/fixtures/mssql/fixture.py
  tests/sources/fixtures/mysql/fixture.py
  tests/sources/fixtures/network_drive/fixture.py
  tests/sources/fixtures/oracle/fixture.py
  tests/sources/fixtures/postgresql/fixture.py
  tests/sources/fixtures/s3/fixture.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Microsoft SQL, ðŸ”¨ MongoDB

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**
