Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis, ðŸ”¨ GraphQL

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=mysql
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=network_drive
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=s3
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=google_cloud_storage
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=azure_blob_storage
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=postgresql
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=dir
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=oracle
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=sharepoint_server
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=sharepoint_online
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=mssql
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=jira
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=confluence
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=servicenow
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

Pin Oracle DB version for ftest to 23.8.0.0 (#3694)
  NOTICE.txt
  tests/sources/fixtures/oracle/docker-compose.yml
Due: ðŸ”¨ Oracle Database

Add https-only validator to github connector
  connectors/sources/github.py
  connectors/utils.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Bump version from 9.0.7 to 9.0.8 (#3690)
  NOTICE.txt
  connectors/VERSION
Due: none

[8.18] Bump version to 8.18.8 (#3691)
  connectors/VERSION
Due: none

Update NOTICE.txt
  NOTICE.txt
Due: none

make autoformat
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Fix tests
  tests/fixtures/config.yml
  tests/fixtures/config_2.yml
  tests/fixtures/config_https.yml
  tests/fixtures/config_mem.yml
  tests/test_source.py
Due: none

make autoformat
  tests/test_source.py
Due: none

Put back imports
  scripts/verify.py
  src/connectors/services/__init__.py
Due: none

Move back VERSION
  .buildkite/publish/manual-release/restore-stack-version.sh
  .buildkite/publish/manual-release/update-release-version.sh
  .buildkite/publish/publish-common.sh
  .buildkite/release-pipeline.yml
  .github/workflows/add-labels-main.yml
  Makefile
  pyproject.toml
  scripts/stack/README.md
  scripts/stack/set-env.sh
  src/connectors/VERSION
  tests/ftest.sh
Due: none

Add package discovery
  pyproject.toml
Due: none

Fix CI
  MANIFEST.in
  connectors/__init__.py
  pyproject.toml
  tests/ftest.sh
Due: none

Update PYTHONPATH
  tests/ftest.sh
Due: none

Bump connectors version to 8.19.5
  connectors/VERSION
Due: none

agent-docker-build: add -y to "microdnf update" command
  Dockerfile.agent
Due: none

agent-docker-build: add -y to "microdnf update" command (#3703)
  Dockerfile.agent
  NOTICE.txt
Due: none

Add more logging
  connectors/source.py
Due: none

Fix http url which now fails GH validation
  tests/sources/fixtures/github/fixture.py
Due: ðŸ”¨ GitHub

Bump connectors version to 8.19.5 (#3702)
  connectors/VERSION
Due: none

Trigger functional tests on main
  tests/sources/fixtures/fixture.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis, ðŸ”¨ GraphQL

Move install build futher up
  Makefile
Due: none

Bump version for 9.1.4 release
  connectors/VERSION
Due: none

More logging, add tests as package
  NOTICE.txt
  pyproject.toml
  tests/sources/fixtures/google_drive/fixture.py
Due: ðŸ”¨ Google Drive

make autoformat
  tests/sources/fixtures/google_drive/fixture.py
Due: ðŸ”¨ Google Drive

Bump version for 9.1.4 release (#3689)
  NOTICE.txt
  connectors/VERSION
Due: none

Fix http url which now fails GH validation
  tests/sources/fixtures/github/connector.json
Due: ðŸ”¨ GitHub

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ GraphQL: any of: connectors/sources/graphql.py, tests/sources/fixtures/graphql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
