Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**

resolve comments
  connectors/sources/onedrive.py
  tests/sources/test_onedrive.py
Due: none

change log level, raise in ServerConnection, list_users
  connectors/sources/onedrive.py
  tests/sources/test_onedrive.py
Due: none

[OneDrive] Add Indexing Implementation (#1414)
  connectors/sources/onedrive.py
  tests/sources/test_onedrive.py
Due: none

resolve comments
  .buildkite/pipeline.yml
  tests/sources/fixtures/onedrive/connector.json
  tests/sources/fixtures/onedrive/fixture.py
Due: none

Add DLS docs for Jira and Confluence
  README.md
  docs/document-level-security/CONFLUENCE.md
  docs/document-level-security/JIRA.md
Due: none

Add cases, case feeds, case feed comments
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: none

Update tests
  tests/sources/test_salesforce.py
Due: none

Remove debug logging
  connectors/sources/salesforce.py
Due: none

[OneDrive] Add e2e feature (#1416)
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  tests/sources/fixtures/onedrive/.env
  tests/sources/fixtures/onedrive/Dockerfile
  tests/sources/fixtures/onedrive/config.yml
  tests/sources/fixtures/onedrive/connector.json
  tests/sources/fixtures/onedrive/docker-compose.yml
  tests/sources/fixtures/onedrive/fixture.py
  tests/sources/fixtures/onedrive/requirements.txt
Due: none

Update connectors/sources/salesforce.py
  connectors/sources/salesforce.py
Due: none

Clean up
  connectors/sources/salesforce.py
Due: none

Ingest Campaign, Case and related sobjects (#1431)
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: none

[Jira] Add DLS (#1396)
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

Make tests fail on warnings; add some warnings to ignore list (#1193)
  pytest.ini
  setup.cfg
  tests/sources/test_slack.py
Due: none

Enable linter rule to report shadowing issues
  .ruff.toml
  connectors/logger.py
  connectors/source.py
  connectors/sources/github.py
  connectors/sources/google_drive.py
  connectors/sources/servicenow.py
  connectors/sources/sharepoint_online.py
  connectors/utils.py
  tests/conftest.py
  tests/es/test_settings.py
  tests/services/test_job_cleanup.py
  tests/sources/fixtures/confluence/fixture.py
  tests/sources/fixtures/google_drive/fixture.py
  tests/sources/fixtures/jira/fixture.py
  tests/sources/fixtures/sharepoint_server/fixture.py
  tests/sources/test_github.py
  tests/sources/test_mysql.py
  tests/test_source.py
Due: ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ GitHub, ðŸ”¨ Google Drive

Enable linter rule to report shadowing issues (#1436)
  .ruff.toml
  connectors/logger.py
  connectors/source.py
  connectors/sources/github.py
  connectors/sources/google_drive.py
  connectors/sources/servicenow.py
  connectors/sources/sharepoint_online.py
  connectors/utils.py
  tests/conftest.py
  tests/es/test_settings.py
  tests/services/test_job_cleanup.py
  tests/sources/fixtures/confluence/fixture.py
  tests/sources/fixtures/google_drive/fixture.py
  tests/sources/fixtures/jira/fixture.py
  tests/sources/fixtures/sharepoint_server/fixture.py
  tests/sources/test_github.py
  tests/sources/test_mysql.py
  tests/test_source.py
Due: ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ GitHub, ðŸ”¨ Google Drive

Add some get_docs tests
  tests/test_gmail.py
Due: none

Add assert_called_once_with to AsyncIterator
  tests/commons.py
  tests/sources/test_sharepoint_online.py
  tests/test_commons.py
Due: none

Revert "Add "get_last_update_time" to MySQLClient"
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL

Add comments
  tests/test_commons.py
Due: none

[Commons] Add assert_called_once_with to AsyncIterator (#1437)
  tests/commons.py
  tests/sources/test_sharepoint_online.py
  tests/test_commons.py
Due: none

add documentation for onedrive connector
  docs/REFERENCE.md
  docs/reference/onedrive.md
Due: none

Populate webUrl for objects in SPO that are missing it
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Same for incremental
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Fix tests
  tests/sources/test_sharepoint_online.py
Due: none

Use AssertionError instead of returning a boolean
  tests/commons.py
  tests/test_commons.py
Due: none

Add dot
  tests/commons.py
Due: none

Autoformat
  tests/sources/test_sharepoint_online.py
Due: none

Fix SPO test
  tests/sources/test_sharepoint_online.py
Due: none

Fix SPO tests
  tests/sources/fixtures/sharepoint_online/fixture.py
Due: ðŸ”¨ Sharepoint Online

Autoformat
  tests/sources/fixtures/sharepoint_online/fixture.py
Due: ðŸ”¨ Sharepoint Online

[Commons] Use AssertionError instead of returning a boolean (#1441)
  tests/commons.py
  tests/sources/test_sharepoint_online.py
  tests/test_commons.py
Due: none

Update connectors/sources/sharepoint_online.py
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Apply suggestions from code review
  docs/document-level-security/CONFLUENCE.md
  docs/document-level-security/JIRA.md
Due: none

use updated CacheWithTimeout class method names
  connectors/sources/onedrive.py
Due: none

use updated CacheWithTimeout class method names (#1442)
  connectors/sources/onedrive.py
Due: none

Add OneDrive connector (#1433)
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  config.yml
  connectors/sources/onedrive.py
  tests/sources/fixtures/onedrive/.env
  tests/sources/fixtures/onedrive/Dockerfile
  tests/sources/fixtures/onedrive/config.yml
  tests/sources/fixtures/onedrive/connector.json
  tests/sources/fixtures/onedrive/docker-compose.yml
  tests/sources/fixtures/onedrive/fixture.py
  tests/sources/fixtures/onedrive/requirements.txt
  tests/sources/test_onedrive.py
Due: none

Apply suggestions from code review
  docs/reference/onedrive.md
Due: none

Add more tests
  connectors/sources/gmail.py
  tests/test_gmail.py
Due: none
