Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest

Add a unit-test to ensure function compatibility
  tests/test_utils.py
Due: none

Make autoformat
  tests/test_utils.py
Due: none

Implement feature flag for Elasticsearch API + use for connector heartbeat (#2561)
  config.yml.example
  connectors/config.py
  connectors/es/index.py
  connectors/protocol/connectors.py
  connectors/utils.py
  tests/test_utils.py
Due: none

fix flaky test_get_with_429_status
  tests/sources/test_confluence.py
Due: none

[Confluence] Fix flaky test_get_with_429_status (#2563)
  tests/sources/test_confluence.py
Due: none

[Azure Blob Storage] Optimize memory consumption (#2543)
  connectors/sources/azure_blob_storage.py
  requirements/framework.txt
  tests/sources/test_azure_blob_storage.py
Due: ðŸ”¨ Azure Blob Storage

address suggestions
  connectors/sources/onedrive.py
Due: ðŸ”¨ OneDrive

format the code
  connectors/sources/onedrive.py
Due: ðŸ”¨ OneDrive

[Box] Fix end signal not enqueued (#2560)
  connectors/sources/box.py
  tests/sources/test_box.py
Due: ðŸ”¨ Box

Apply suggestions from code review
  connectors/sources/mssql.py
Due: ðŸ”¨ Microsoft SQL

remove unnecessary log
  connectors/sources/onedrive.py
Due: ðŸ”¨ OneDrive

raise instead of swallowing error
  connectors/sources/servicenow.py
Due: ðŸ”¨ ServiceNow

Update docker.elastic.co/ci-agent-images/drivah Docker tag to v0.25.0
  .buildkite/release-pipeline.yml
Due: none

added support to read proxy settings from env vars
  connectors/sources/box.py
  connectors/sources/confluence.py
  connectors/sources/dropbox.py
  connectors/sources/github.py
  connectors/sources/graphql.py
  connectors/sources/jira.py
  connectors/sources/microsoft_teams.py
  connectors/sources/notion.py
  connectors/sources/onedrive.py
  connectors/sources/opentext_documentum.py
  connectors/sources/outlook.py
  connectors/sources/salesforce.py
  connectors/sources/servicenow.py
  connectors/sources/sharepoint_online.py
  connectors/sources/sharepoint_server.py
  connectors/sources/slack.py
  connectors/sources/zoom.py
Due: ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ GitHub, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion

improve logs
  connectors/sources/google_cloud_storage.py
Due: ðŸ”¨ Google Cloud Storage

reformat code
  connectors/sources/google_cloud_storage.py
Due: ðŸ”¨ Google Cloud Storage

move ping log
  connectors/sources/s3.py
Due: ðŸ”¨ Amazon S3

improve logs
  connectors/sources/box.py
Due: ðŸ”¨ Box

improve logs
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

improve logs
  connectors/sources/azure_blob_storage.py
Due: ðŸ”¨ Azure Blob Storage

move ping log to get_docs
  connectors/sources/oracle.py
Due: ðŸ”¨ Oracle Database

move ping log to get_docs
  connectors/sources/mssql.py
Due: ðŸ”¨ Microsoft SQL

fix lint
  connectors/sources/mssql.py
Due: ðŸ”¨ Microsoft SQL

Update docker.elastic.co/ci-agent-images/drivah Docker tag to v0.25.0 (#2570)
  .buildkite/release-pipeline.yml
Due: none

move ping log to get_docs
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

Use same aiomysql version on different platforms
  requirements/aarch64.txt
  requirements/framework.txt
  requirements/x86_64.txt
Due: none

upgrade exchangelib
  requirements/framework.txt
Due: none

[Outlook] Upgrade Exchangelib (#2576)
  requirements/framework.txt
Due: none

quote table names in logs
  connectors/sources/oracle.py
Due: ðŸ”¨ Oracle Database

[Servicenow] Fix end signal not enqueued (#2546)
  connectors/sources/servicenow.py
  tests/sources/test_servicenow.py
Due: ðŸ”¨ ServiceNow

add record count log in finally block
  connectors/sources/azure_blob_storage.py
Due: ðŸ”¨ Azure Blob Storage

Update aiomysql to 0.2.0
  requirements/aarch64.txt
  requirements/x86_64.txt
Due: none

Fix version conflict
  requirements/x86_64.txt
Due: none
