Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ OneDrive:
  label: ðŸ”¨ OneDrive
  command:
  - .buildkite/run_nigthly.sh onedrive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Salesforce:
  label: ðŸ”¨ Salesforce
  command:
  - .buildkite/run_nigthly.sh salesforce small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Zoom:
  label: ðŸ”¨ Zoom
  command:
  - .buildkite/run_nigthly.sh zoom small
  artifact_paths:
  - perf8-report-*/**/*

Apply suggestions from code review
  docs/document-level-security/SALESFORCE.md
Due: none

add graphql connector
  connectors/config.py
  connectors/sources/graphql.py
  requirements/framework.txt
  tests/sources/test_graphql.py
Due: none

fix CI
  connectors/sources/graphql.py
Due: none

update code with the comments
  connectors/sources/redis.py
  docs/reference/redis.md
  tests/sources/test_redis.py
Due: none

Documentation for Salesforce DLS (#2056)
  docs/document-level-security/SALESFORCE.md
Due: none

address comment
  tests/sources/fixtures/salesforce/fixture.py
Due: ðŸ”¨ Salesforce

Update connectors/sources/notion.py
  connectors/sources/notion.py
Due: none

get_text -> get_html
  tests/sources/fixtures/salesforce/fixture.py
Due: ðŸ”¨ Salesforce

Allow logging of doc ids for created, updated and deleted events.
  config.yml
  connectors/config.py
  connectors/es/sink.py
  connectors/sync_job_runner.py
  tests/test_sink.py
Due: none

Autoformat
  tests/test_sink.py
Due: none

address PR comments
  connectors/sources/notion.py
  tests/sources/test_notion.py
Due: none

Catch and re-raise queue full error properly
  connectors/es/sink.py
Due: none

Autoformat
  connectors/es/sink.py
Due: none

Add missing method
  connectors/utils.py
Due: none

Test the overloaded error
  tests/test_sink.py
Due: none

Rebase fix
  tests/test_sink.py
Due: none

Add job parameters, specificaly 'limit'
  connectors/es/sink.py
  connectors/protocol/connectors.py
  connectors/sync_job_runner.py
Due: none

Add unit test for limited sync
  connectors/es/sink.py
  tests/test_sink.py
Due: none

Remove debug logs
  connectors/sync_job_runner.py
Due: none

Make gmail 'subject' field label match docs
  connectors/sources/gmail.py
Due: none

Add sync job params to CLI
  connectors/cli/job.py
  connectors/connectors_cli.py
  connectors/protocol/connectors.py
  tests/test_connectors_cli.py
Due: none

Add Notion configurations and indexing Implementation (#2110)
  connectors/config.py
  connectors/sources/notion.py
  requirements/framework.txt
  tests/sources/test_notion.py
Due: none

Make it optional to crawl the root site of sharepoint
  connectors/sources/sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

update sharepoint test
  tests/sources/test_sharepoint_server.py
Due: none

Enable incremental sync
  connectors/sources/github.py
  connectors/sources/gmail.py
  connectors/sources/microsoft_teams.py
  connectors/sources/outlook.py
  connectors/sources/salesforce.py
Due: ðŸ”¨ GitHub, ðŸ”¨ Salesforce, ðŸ”¨ Microsoft Teams

Enabled incremental sync for azure blob
  connectors/sources/azure_blob_storage.py
Due: ðŸ”¨ Azure Blob Storage

15 -> 5 minutes
  connectors/protocol/connectors.py
Due: none

Make Gmail connector's 'subject' field label match docs (#2138)
  connectors/sources/gmail.py
Due: none

add notion e2e
  connectors/sources/notion.py
  tests/sources/fixtures/notion/.env
  tests/sources/fixtures/notion/config.yml
  tests/sources/fixtures/notion/connector.json
  tests/sources/fixtures/notion/docker-compose.yml
  tests/sources/fixtures/notion/fixture.py
  tests/sources/fixtures/notion/requirements.txt
Due: none

add to e2e pipeline
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
Due: none

Add volumes to Salesforce Fixture (#2132)
  connectors/sources/salesforce.py
  tests/sources/fixtures/salesforce/fixture.py
Due: ðŸ”¨ Salesforce

Enabled incremental syncs for more connectors (#2142)
  connectors/sources/azure_blob_storage.py
  connectors/sources/github.py
  connectors/sources/gmail.py
  connectors/sources/microsoft_teams.py
  connectors/sources/outlook.py
  connectors/sources/salesforce.py
Due: ðŸ”¨ Azure Blob Storage, ðŸ”¨ GitHub, ðŸ”¨ Salesforce, ðŸ”¨ Microsoft Teams

Bump idle job threshold to 5 minutes (#2090)
  connectors/protocol/connectors.py
Due: none

Address comments
  connectors/es/sink.py
Due: none

De-dupe the message
  connectors/es/sink.py
Due: none

Revert "Bump Dockerfile base image to python:3.11.6-slim (#1911)"
  Dockerfile
  Dockerfile.ftest
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive

Revert "Add logic to send a ping to connector's backend every loop (#2105)"
  connectors/services/job_scheduling.py
  tests/services/test_job_scheduling.py
Due: none

Revert "Add logic to send a ping to connector's backend every loop (#2105)" (#2148)
  connectors/services/job_scheduling.py
  tests/services/test_job_scheduling.py
Due: none

Revert "Bump Dockerfile base image to python:3.11.6-slim (#1911)" (#2146)
  Dockerfile
  Dockerfile.ftest
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**
