Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis, ðŸ”¨ GraphQL

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ GraphQL: any of: connectors/sources/graphql.py, tests/sources/fixtures/graphql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**

[8.x] Update docker.elastic.co/wolfi/python:3.11-dev Docker digest to 3135203 (#3319) (#3326)
  Dockerfile.ftest.wolfi
  Dockerfile.wolfi
Due: none

[8.18] Update docker.elastic.co/wolfi/python:3.11-dev Docker digest to 3135203 (#3319) (#3327)
  Dockerfile.ftest.wolfi
  Dockerfile.wolfi
Due: none

[8.16] Update docker.elastic.co/wolfi/python:3.11-dev Docker digest to 3135203 (#3319) (#3329)
  Dockerfile.ftest.wolfi
  Dockerfile.wolfi
Due: none

Update NOTICE.txt
  NOTICE.txt
Due: none

[8.17] Update docker.elastic.co/wolfi/python:3.11-dev Docker digest to 3135203 (#3319) (#3328)
  Dockerfile.ftest.wolfi
  Dockerfile.wolfi
Due: none

[Github] Update Logs Private Repository Sync Errors (#2816)
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Run renovate only on weekends
  renovate.json
Due: none

Run renovate only on weekends (#3334)
  renovate.json
Due: none

Update connectors/sources/confluence.py
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

Make job_scheduling service run schedule in a task pool
  config.yml.example
  connectors/config.py
  connectors/services/job_scheduling.py
  tests/services/test_job_scheduling.py
Due: none

Make autoformat
  connectors/services/job_scheduling.py
  tests/services/test_job_scheduling.py
Due: none

Update connectors/services/job_scheduling.py
  connectors/services/job_scheduling.py
Due: none

Update log message
  connectors/services/job_scheduling.py
Due: none

Make job_scheduling service run schedule in a task pool (#3335)
  NOTICE.txt
  config.yml.example
  connectors/config.py
  connectors/services/job_scheduling.py
  tests/services/test_job_scheduling.py
Due: none

Safely get permissions
  connectors/sources/onedrive.py
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

Modify test
  tests/sources/test_onedrive.py
Due: none

Improve tests
  connectors/sources/onedrive.py
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

make autoformat
  tests/sources/test_onedrive.py
Due: none

[9.0] Update docker.elastic.co/wolfi/python:3.11-dev Docker digest to 485e1ad (#3339) (#3340)
  Dockerfile.ftest.wolfi
  Dockerfile.wolfi
  NOTICE.txt
Due: none

[8.x] Update docker.elastic.co/wolfi/python:3.11-dev Docker digest to 485e1ad (#3339) (#3341)
  Dockerfile.ftest.wolfi
  Dockerfile.wolfi
  NOTICE.txt
Due: none

[8.18] Update docker.elastic.co/wolfi/python:3.11-dev Docker digest to 485e1ad (#3339) (#3342)
  Dockerfile.ftest.wolfi
  Dockerfile.wolfi
  NOTICE.txt
Due: none

[8.17] Update docker.elastic.co/wolfi/python:3.11-dev Docker digest to 485e1ad (#3339) (#3343)
  Dockerfile.ftest.wolfi
  Dockerfile.wolfi
  NOTICE.txt
Due: none

[8.16] Update docker.elastic.co/wolfi/python:3.11-dev Docker digest to 485e1ad (#3339) (#3344)
  Dockerfile.ftest.wolfi
  Dockerfile.wolfi
  NOTICE.txt
Due: none

Improve logs
  connectors/sources/onedrive.py
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

Fix id fetch
  connectors/sources/onedrive.py
Due: ðŸ”¨ OneDrive

Parse invalid OneDrive permissions without crashing (#3337)
  NOTICE.txt
  connectors/sources/onedrive.py
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

Parse invalid OneDrive permissions without crashing (#3337)
  connectors/sources/onedrive.py
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

Bump version to 8.17.6
  connectors/VERSION
Due: none

[9.0] Update docker.elastic.co/wolfi/python:3.11-dev Docker digest to 0863e59 (#3350) (#3353)
  Dockerfile.ftest.wolfi
  Dockerfile.wolfi
  NOTICE.txt
Due: none

Fix log line for when too many jobs are attempted to be scheduled
  connectors/services/job_scheduling.py
Due: none
