Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server extra_small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

Revert test change
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Break something for illustration
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Revert breaking change
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Update tests/sources/support.py
  tests/sources/support.py
Due: none

update test case
  tests/sources/test_mysql.py
  tests/sources/test_servicenow.py
Due: none

Add skipped exceptions to retryable
  connectors/utils.py
  tests/test_utils.py
Due: none

Decouple MSSQLDataSource from GenericBaseDataSource (#1363)
  connectors/sources/mssql.py
  tests/sources/test_generic_database.py
  tests/sources/test_mssql.py
Due: ðŸ”¨ Microsoft SQL

add username and password to validate services
  tests/sources/test_servicenow.py
Due: none

implement Jira DLS
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

add setup method to setup the configuration
  tests/sources/test_mongo.py
  tests/sources/test_mysql.py
  tests/sources/test_servicenow.py
Due: none

add setup for dropbox
  tests/sources/test_dropbox.py
Due: none

fix linting
  tests/sources/test_mysql.py
Due: none

fix mssql test case
  tests/sources/test_mssql.py
Due: none

Fix warning messages for respective connectors test cases (#1332)
  connectors/sources/google_cloud_storage.py
  tests/sources/fixtures/google_cloud_storage/service_account_dummy_cert.pem
  tests/sources/support.py
  tests/sources/test_azure_blob_storage.py
  tests/sources/test_confluence.py
  tests/sources/test_directory.py
  tests/sources/test_dropbox.py
  tests/sources/test_generic_database.py
  tests/sources/test_github.py
  tests/sources/test_jira.py
  tests/sources/test_mongo.py
  tests/sources/test_mssql.py
  tests/sources/test_mysql.py
  tests/sources/test_network_drive.py
  tests/sources/test_oracle.py
  tests/sources/test_postgresql.py
  tests/sources/test_s3.py
  tests/sources/test_servicenow.py
  tests/sources/test_sharepoint_online.py
  tests/sources/test_sharepoint_server.py
Due: ðŸ”¨ Google Cloud Storage

DLS
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

Try out buildkite diff plugin to run ftest once connector changes (#1394)
  .buildkite/diff
  .buildkite/pipeline.yml
Due: none

Address Chenhui's pr feedback
  connectors/sources/slack.py
  docs/reference/slack.md
  tests/sources/test_slack.py
Due: none

[SPO] Remove redundant with drive items permissions call (#1329)
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Fixed bad merge for test util
  tests/sources/test_slack.py
Due: none

[SPO] Fix typo and wrong docs (#1330)
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Slack connector (#1298)
  config.yml
  connectors/sources/slack.py
  connectors/utils.py
  docs/reference/slack.md
  tests/sources/test_slack.py
Due: none

Decouple OracleDataSource from GenericBaseDataSource
  connectors/sources/oracle.py
Due: ðŸ”¨ Oracle Database

add more tests
  tests/sources/test_oracle.py
Due: none

remove GenericBaseDataSource to improve the test coverage
  connectors/sources/generic_database.py
  connectors/sources/mssql.py
  connectors/sources/oracle.py
  connectors/sources/postgresql.py
  tests/sources/test_generic_database.py
Due: ðŸ”¨ Postgresql, ðŸ”¨ Oracle Database, ðŸ”¨ Microsoft SQL

lint
  tests/sources/test_oracle.py
Due: none

Add skipped exceptions to retryable (#1395)
  connectors/utils.py
  tests/test_utils.py
Due: none

Address minor nits
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

address comments
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

Change used port
  tests/sources/fixtures/confluence/docker-compose.yml
  tests/sources/fixtures/confluence/fixture.py
Due: ðŸ”¨ Confluence

Decouple OracleDataSource from GenericBaseDataSource (#1364)
  connectors/sources/generic_database.py
  connectors/sources/mssql.py
  connectors/sources/oracle.py
  connectors/sources/postgresql.py
  tests/sources/test_generic_database.py
  tests/sources/test_oracle.py
Due: ðŸ”¨ Postgresql, ðŸ”¨ Oracle Database, ðŸ”¨ Microsoft SQL

Refactor execute_query function
  connectors/sources/generic_database.py
  connectors/sources/postgresql.py
  tests/sources/test_generic_database.py
Due: ðŸ”¨ Postgresql

ignore pyright
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

Refactor execute_query to only one fetch function
  connectors/sources/generic_database.py
  connectors/sources/postgresql.py
  tests/sources/test_generic_database.py
  tests/sources/test_postgresql.py
Due: ðŸ”¨ Postgresql

lint error
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

lint
  tests/sources/test_generic_database.py
Due: none

Refactor execute_query function (#1401)
  connectors/sources/generic_database.py
  connectors/sources/postgresql.py
  tests/sources/test_generic_database.py
  tests/sources/test_postgresql.py
Due: ðŸ”¨ Postgresql

Add MSSQL client
  connectors/sources/mssql.py
  tests/sources/test_mssql.py
Due: ðŸ”¨ Microsoft SQL

Update MSSQL client to use fetch function
  connectors/sources/mssql.py
  tests/sources/test_generic_database.py
Due: ðŸ”¨ Microsoft SQL

add continue
  connectors/sources/mssql.py
Due: ðŸ”¨ Microsoft SQL

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**
