Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**

Update connectors/sources/s3.py
  connectors/sources/s3.py
Due: ðŸ”¨ Amazon S3

remove bucket from kwargs
  connectors/sources/s3.py
Due: ðŸ”¨ Amazon S3

[S3] Advanced Sync rules (#1921)
  connectors/sources/s3.py
  tests/sources/test_s3.py
Due: ðŸ”¨ Amazon S3

[CLI] Introduce Connectors CLI (#1616)
  .gitignore
  connectors/cli/.gitkeep
  connectors/cli/auth.py
  connectors/cli/connector.py
  connectors/cli/index.py
  connectors/cli/job.py
  connectors/connectors_cli.py
  connectors/es/client.py
  connectors/service_cli.py
  requirements/framework.txt
  setup.py
  tests/test_connectors_cli.py
  tests/test_service_cli.py
Due: none

uncomment tests
  tests/test_utils.py
Due: none

add default_value and value to agree
  connectors/sources/oracle.py
Due: ðŸ”¨ Oracle Database

Make oracle configs that require local FS access 'advanced' (#1929)
  connectors/sources/oracle.py
  tests/sources/fixtures/oracle/connector.json
Due: ðŸ”¨ Oracle Database

Skip empty permission batches (#1931)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
  tests/test_utils.py
Due: ðŸ”¨ Sharepoint Online

Fix issue for skipping buckets for GCS and ABS if it doesn't have access
  connectors/sources/azure_blob_storage.py
  connectors/sources/google_cloud_storage.py
  tests/sources/test_azure_blob_storage.py
  tests/sources/test_google_cloud_storage.py
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage

address PR comments
  connectors/sources/onedrive.py
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

resolve comment
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

add a support of custom objects and fields
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: ðŸ”¨ Salesforce

Added DLS For GitHub (#1923)
  connectors/sources/github.py
  tests/sources/fixtures/github/connector.json
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Documentation for S3 sync rules
  docs/sync-rules/s3.md
Due: none

add validation to Id field in SOQL query
  connectors/sources/salesforce.py
Due: ðŸ”¨ Salesforce

mongo ssl
  connectors/sources/mongo.py
  tests/sources/fixtures/mongodb/connector.json
  tests/sources/fixtures/mongodb_serverless/connector.json
  tests/sources/test_mongo.py
Due: ðŸ”¨ MongoDB

Break JobExecutionSerivce to ContentSyncJobExecutionService and AccessControlSyncJobExecutionService (#1840)
  connectors/service_cli.py
  connectors/services/__init__.py
  connectors/services/access_control_sync_job_execution.py
  connectors/services/content_sync_job_execution.py
  tests/services/test_access_control_sync_job_execution.py
  tests/services/test_content_sync_job_execution.py
  tests/services/test_job_execution.py
Due: none

Use BoundedSemaphore instead of asyncio.Event to control the max concurrency (#1477)
  connectors/utils.py
  tests/test_utils.py
Due: none

Apply # NOQA correctly
  connectors/services/__init__.py
Due: none

Extend a non-blocking Semaphore implementation (#1889)
  connectors/utils.py
  tests/test_utils.py
Due: none

use class variables
  connectors/services/access_control_sync_job_execution.py
  connectors/services/content_sync_job_execution.py
  connectors/services/job_execution.py
Due: none

lint
  connectors/services/content_sync_job_execution.py
Due: none

change info to debug
  connectors/services/job_execution.py
Due: none

Improve job execution concurrency (#1865)
  connectors/services/access_control_sync_job_execution.py
  connectors/services/content_sync_job_execution.py
  connectors/services/job_execution.py
  tests/services/test_access_control_sync_job_execution.py
  tests/services/test_content_sync_job_execution.py
  tests/services/test_job_execution.py
Due: none

Add non-blocking try_put method to ConcurrentTasks (#1479)
  connectors/utils.py
  tests/test_utils.py
Due: none

use cached_property method instead of class variables
  connectors/services/access_control_sync_job_execution.py
  connectors/services/content_sync_job_execution.py
  connectors/services/job_execution.py
Due: none

revert list_users to yied a user object
  connectors/sources/onedrive.py
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

fix formatting
  tests/sources/test_onedrive.py
Due: none

[OneDrive] Improve performance with DLS enabled (#1916)
  connectors/sources/onedrive.py
  tests/sources/fixtures/onedrive/fixture.py
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

resolve comments
  connectors/sources/mongo.py
  tests/sources/fixtures/mongodb/connector.json
  tests/sources/fixtures/mongodb_serverless/connector.json
  tests/sources/test_mongo.py
Due: ðŸ”¨ MongoDB

Update docs with more description
  docs/sync-rules/s3.md
Due: none

lint
  tests/sources/test_mongo.py
Due: none

Improve the concurrency of the Job execution service (#1925)
  connectors/service_cli.py
  connectors/services/__init__.py
  connectors/services/access_control_sync_job_execution.py
  connectors/services/content_sync_job_execution.py
  connectors/services/job_execution.py
  connectors/utils.py
  tests/services/test_content_sync_job_execution.py
  tests/services/test_job_execution.py
  tests/test_utils.py
Due: none

Use default configs in config module
  connectors/services/access_control_sync_job_execution.py
  connectors/services/content_sync_job_execution.py
  tests/services/test_content_sync_job_execution.py
Due: none

incorporate pr comments
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: ðŸ”¨ Salesforce

increase test coverage
  tests/sources/test_salesforce.py
Due: none

Create connectors on existing indices
  connectors/cli/connector.py
  connectors/cli/index.py
  connectors/connectors_cli.py
  connectors/es/client.py
  connectors/es/sink.py
  tests/es/test_client.py
  tests/test_connectors_cli.py
  tests/test_sink.py
Due: none

Simplify native flag
  connectors/connectors_cli.py
  tests/test_connectors_cli.py
Due: none
