Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server extra_small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ OneDrive:
  label: ðŸ”¨ OneDrive
  command:
  - .buildkite/run_nigthly.sh onedrive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Salesforce:
  label: ðŸ”¨ Salesforce
  command:
  - .buildkite/run_nigthly.sh salesforce small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Zoom:
  label: ðŸ”¨ Zoom
  command:
  - .buildkite/run_nigthly.sh zoom small
  artifact_paths:
  - perf8-report-*/**/*

Make GCS ftest use shared fixture (#1718)
  tests/sources/fixtures/google_cloud_storage/fixture.py
Due: ðŸ”¨ Google Cloud Storage

Make Google Drive ftest use shared fixture (#1719)
  tests/commons.py
  tests/sources/fixtures/google_drive/fixture.py
Due: ðŸ”¨ Google Drive

Update docs/DEVELOPING.md
  docs/DEVELOPING.md
Due: none

Make Jira ftest use shared fixture setup (#1720)
  tests/sources/fixtures/jira/fixture.py
Due: ðŸ”¨ Jira

[SUPPORT] Reflect repository name changes in support docs (#1782)
  docs/SUPPORT.md
Due: none

Improve phrasing
  docs/UPGRADING.md
Due: none

[DEVELOPING] Reflect repository name change in developing docs (#1784)
  docs/DEVELOPING.md
Due: none

[CONTRIBUTING] Reflect repository name changes in contributing docs (#1786)
  docs/CONTRIBUTING.md
Due: none

Improve phrasing
  .buildkite/pull-requests.json
Due: none

lowercase service
  catalog-info.yaml
Due: none

Redo change in pull-requests.json
  .buildkite/pull-requests.json
Due: none

Make Microsoft Teams ftest use shared fixture (#1725)
  tests/sources/fixtures/microsoft_teams/fixture.py
Due: none

Make MSSQL ftest use shared fixture + small fixture optimizations (#1726)
  tests/sources/fixtures/mssql/fixture.py
Due: ðŸ”¨ Microsoft SQL

[UPGRADING] Reflect repository name change in upgrading docs (#1783)
  docs/UPGRADING.md
Due: none

Make Network Drive connector use shared fixture (#1734)
  tests/sources/fixtures/network_drive/fixture.py
Due: ðŸ”¨ Network Drive

Make MySQL ftest use shared fixture (#1735)
  tests/sources/fixtures/mysql/fixture.py
Due: ðŸ”¨ MySQL

Make OneDrive ftest use shared fixture (#1736)
  tests/sources/fixtures/onedrive/fixture.py
Due: ðŸ”¨ OneDrive

Make Oracle ftest use shared fixture (#1744)
  tests/sources/fixtures/oracle/fixture.py
Due: ðŸ”¨ Oracle Database

Make PostgreSQL ftest use shared fixture (#1745)
  tests/sources/fixtures/postgresql/fixture.py
Due: ðŸ”¨ Postgresql

Make S3 ftest use shared fixture (#1754)
  tests/sources/fixtures/s3/fixture.py
Due: ðŸ”¨ Amazon S3

Make Salesforce ftest use shared fixture (#1755)
  tests/sources/fixtures/salesforce/fixture.py
Due: ðŸ”¨ Salesforce

Make SPO connector use shared fixture (#1756)
  tests/sources/fixtures/sharepoint_online/fixture.py
Due: ðŸ”¨ Sharepoint Online

[GCS] Fix issue related url-encoded (#1762)
  connectors/sources/google_cloud_storage.py
  tests/sources/test_google_cloud_storage.py
Due: ðŸ”¨ Google Cloud Storage

[Outlook] Add a new field for `max concurrent tasks` (#1778)
  connectors/sources/outlook.py
  docs/reference/outlook.md
Due: none

[BACKPORT] Update upstream repo to new name (#1787)
  .backportrc.json
Due: none

Add DLS support for Linux Network Drive connector (#1773)
  connectors/sources/network_drive.py
  docs/document-level-security/NETWORK_DRIVE.md
  tests/sources/fixtures/network_drive/connector.json
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

Make Sharepoint Server ftest use shared fixture (#1763)
  .buildkite/pipeline.yml
  tests/sources/fixtures/sharepoint_server/fixture.py
Due: ðŸ”¨ Sharepoint Server

Make zoom use shared fixture (#1764)
  tests/sources/fixtures/zoom/fixture.py
Due: ðŸ”¨ Zoom

[BACKSTAGE] Update catalog-info.yml to reflect new repo name (#1795)
  catalog-info.yaml
Due: none

Remove size from nightly QA ftest calls
  .buildkite/nightly_steps.yml
Due: none

Bump 8.10 branch to 8.10.5
  connectors/VERSION
Due: none

Bump 8.10 branch to 8.10.5 (#1799)
  connectors/VERSION
Due: none

Improve basic rule error message
  connectors/filtering/basic_rule.py
  connectors/filtering/validation.py
  connectors/utils.py
  tests/test_utils.py
Due: none

Add single quotes
  connectors/filtering/basic_rule.py
Due: none

Improve comment
  connectors/filtering/basic_rule.py
Due: none

Add format BasicRule test
  tests/filtering/test_basic_rule.py
Due: none

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**
