Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**

Populate webUrl for site pages and list item attachments (#1440)
  connectors/sources/sharepoint_online.py
  tests/sources/fixtures/sharepoint_online/fixture.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Improvements from PR review
  connectors/sources/salesforce.py
Due: none

Bump versions
  requirements/framework.txt
  tests/sources/fixtures/confluence/requirements.txt
  tests/sources/fixtures/google_cloud_storage/requirements.txt
  tests/sources/fixtures/google_drive/requirements.txt
  tests/sources/fixtures/jira/requirements.txt
  tests/sources/fixtures/servicenow/requirements.txt
  tests/sources/fixtures/sharepoint_online/requirements.txt
  tests/sources/fixtures/sharepoint_server/requirements.txt
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ Google Drive

Bump versions (#1454)
  requirements/framework.txt
  tests/sources/fixtures/confluence/requirements.txt
  tests/sources/fixtures/google_cloud_storage/requirements.txt
  tests/sources/fixtures/google_drive/requirements.txt
  tests/sources/fixtures/jira/requirements.txt
  tests/sources/fixtures/servicenow/requirements.txt
  tests/sources/fixtures/sharepoint_online/requirements.txt
  tests/sources/fixtures/sharepoint_server/requirements.txt
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ Google Drive

Change sorting for logs
  connectors/protocol/connectors.py
Due: none

move default configs to code (#1404)
  config.yml
  connectors/config.py
  connectors/kibana.py
  docs/CONFIG.md
  scripts/verify.py
  tests/sources/fixtures/azure_blob_storage/config.yml
  tests/sources/fixtures/confluence/config.yml
  tests/sources/fixtures/dir/config.yml
  tests/sources/fixtures/dropbox/config.yml
  tests/sources/fixtures/github/config.yml
  tests/sources/fixtures/google_cloud_storage/config.yml
  tests/sources/fixtures/google_drive/config.yml
  tests/sources/fixtures/jira/config.yml
  tests/sources/fixtures/mongodb/config.yml
  tests/sources/fixtures/mongodb_serverless/config.yml
  tests/sources/fixtures/mssql/config.yml
  tests/sources/fixtures/mysql/config.yml
  tests/sources/fixtures/network_drive/config.yml
  tests/sources/fixtures/oracle/config.yml
  tests/sources/fixtures/postgresql/config.yml
  tests/sources/fixtures/s3/config.yml
  tests/sources/fixtures/servicenow/config.yml
  tests/sources/fixtures/sharepoint_online/config.yml
  tests/sources/fixtures/sharepoint_server/config.yml
  tests/test_config.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox

Add gmail to sources list
  connectors/config.py
Due: none

Move whitespace around to more clearly delineate which comments were for which fields
  config.yml
Due: none

missed one
  config.yml
Due: none

reformat config yaml (#1456)
  config.yml
Due: none

[GMail] New connector (#1317)
  connectors/config.py
  connectors/sources/gmail.py
  connectors/sources/google.py
  connectors/utils.py
  tests/test_gmail.py
  tests/test_google.py
  tests/test_utils.py
Due: none

Make validate_config of data source call its super method first
  connectors/sources/confluence.py
  connectors/sources/dropbox.py
  connectors/sources/github.py
  connectors/sources/google_cloud_storage.py
  connectors/sources/google_drive.py
  connectors/sources/mongo.py
  connectors/sources/mysql.py
  connectors/sources/servicenow.py
  connectors/sources/sharepoint_online.py
  connectors/sources/sharepoint_server.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox

Apply the change to gmail
  connectors/sources/gmail.py
Due: none

Fix tests and handle wrong validator implementation
  connectors/filtering/validation.py
Due: none

Bump app version to 8.11
  .backportrc.json
  catalog-info.yaml
  connectors/VERSION
Due: none

Bump ftest
  tests/ftest.sh
Due: none

Add GMail sync rules docs
  docs/sync-rules/GMAIL.md
Due: none

Revert "Add "get_last_update_time" to MySQLClient"
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL

Fix name
  docs/sync-rules/GMAIL.md
Due: none

Revert ftest bump
  tests/ftest.sh
Due: none

Remove 8.8 from backport
  .backportrc.json
Due: none

Make message more explicit
  connectors/filtering/validation.py
Due: none

Bump app version to 8.11 (#1457)
  .backportrc.json
  catalog-info.yaml
  connectors/VERSION
Due: none

Remove array
  docs/sync-rules/GMAIL.md
Due: none

[Google Drive] Fix ACL sync logic for case when user has no groups
  connectors/sources/google_drive.py
Due: ðŸ”¨ Google Drive

Remove logger stmt
  connectors/sources/google_drive.py
Due: ðŸ”¨ Google Drive

Run linter
  connectors/sources/google_drive.py
Due: ðŸ”¨ Google Drive

Update google_drive connector.json
  tests/sources/fixtures/google_drive/connector.json
Due: ðŸ”¨ Google Drive

[Google Drive] Fix ACL sync logic for case when user has no groups (#1459)
  connectors/sources/google_drive.py
  tests/sources/fixtures/google_drive/connector.json
Due: ðŸ”¨ Google Drive

Improve logging in the framework
  connectors/es/sink.py
  connectors/filtering/validation.py
  connectors/preflight_check.py
  connectors/services/job_cleanup.py
  connectors/services/job_execution.py
  connectors/services/job_scheduling.py
  connectors/sync_job_runner.py
Due: none

Change sorting for logs (#1455)
  connectors/protocol/connectors.py
Due: none

Deduplicate common access control logic and move common functions to new access_control module.
  connectors/access_control.py
  connectors/sources/confluence.py
  connectors/sources/gmail.py
  connectors/sources/google_drive.py
  connectors/sources/jira.py
  connectors/sources/sharepoint_online.py
  tests/sources/test_jira.py
  tests/sources/test_sharepoint_online.py
  tests/test_access_control.py
Due: ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ Google Drive

Make autoformat
  connectors/services/job_execution.py
  connectors/services/job_scheduling.py
Due: none

Remove site user id and site group id from access control.
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

[Access control] Add new module for common functions (#1466)
  connectors/access_control.py
  connectors/sources/confluence.py
  connectors/sources/gmail.py
  connectors/sources/google_drive.py
  connectors/sources/jira.py
  connectors/sources/sharepoint_online.py
  tests/sources/test_jira.py
  tests/sources/test_sharepoint_online.py
  tests/test_access_control.py
Due: ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ Google Drive

default to api_key, fallback on username/password
  config.yml
  connectors/es/client.py
Due: none
