Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest

[Connector API] Validate and activate filtering with API call (#2626)
  connectors/es/index.py
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

[DOCS] Update REFERENCE.md
  docs/REFERENCE.md
Due: none

Fix urls
  docs/REFERENCE.md
Due: none

Fix url properly
  docs/REFERENCE.md
Due: none

Addressed comments
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

Modify Logger and Fix pipeline
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

Fix some log statements
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

[DOCS] Update REFERENCE.md (#2627)
  docs/REFERENCE.md
Due: none

Bump elasticsearch and elastic-transport versions
  requirements/framework.txt
Due: none

[PostgreSQL] Add logs (#2529)
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

[Confluence] Add Fields Author and Created Date
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

Bump elasticsearch and elastic-transport versions (#2628)
  requirements/framework.txt
Due: none

Replace nested gets with nested_get_from_dict method
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

Fix Functional test
  tests/sources/fixtures/confluence/fixture.py
Due: ðŸ”¨ Confluence

Bump to 8.14.2.0
  connectors/VERSION
Due: none

Bump to 8.14.2.0 (#2633)
  connectors/VERSION
Due: none

WIP use Connector API
  connectors/config.py
  connectors/es/index.py
  connectors/protocol/connectors.py
  connectors/utils.py
Due: none

MIN_API_CALL for error threshold handling
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

[Confluence] Add Fields Author and Created Date (#2630)
  connectors/sources/confluence.py
  tests/sources/fixtures/confluence/fixture.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

Add tooltip for service account id in jira
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

Add tests
  connectors/config.py
  tests/protocol/test_connectors.py
Due: none

try out pushed perf8 branch
  requirements/tests.txt
Due: none

messed up branch syntax
  requirements/tests.txt
Due: none

change label
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

[Connector API] Use for creating scheduled sync jobs
  connectors/es/index.py
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

Fix tests
  tests/protocol/test_connectors.py
Due: none

Use Connector APIs to claim a sync job
  connectors/es/index.py
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

Create scheduled jobs with Connector APIs (#2644)
  connectors/es/index.py
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

Make lint
  connectors/es/index.py
Due: none

Claim sync jobs with Connector APIs (#2646)
  connectors/es/index.py
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

Renaming pkey columns issue resolved
  connectors/sources/mysql.py
  tests/sources/test_mysql.py
Due: ðŸ”¨ MySQL

Revert Changes
  connectors/sources/mysql.py
  tests/sources/test_mysql.py
Due: ðŸ”¨ MySQL

use buildkite image for main
  README.md
Due: none

use buildkite image for main (#2648)
  README.md
Due: none

Add set_env to tests that init elasticsearch client
  tests/protocol/test_connectors.py
Due: none

Check ES version and build in preflight
  connectors/es/client.py
  connectors/preflight_check.py
  connectors/service_cli.py
  tests/test_preflight_check.py
  tests/test_service_cli.py
Due: none

Add set_env to tests that init elasticsearch client (#2649)
  tests/protocol/test_connectors.py
Due: none

[Confluence] Fix data loss for Data Center during Advance-Sync
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

fix changes local
  connectors/utils.py
Due: none

Update stack scripts README.md
  scripts/stack/README.md
Due: none
