Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server extra_small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ OneDrive:
  label: ðŸ”¨ OneDrive
  command:
  - .buildkite/run_nigthly.sh onedrive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Salesforce:
  label: ðŸ”¨ Salesforce
  command:
  - .buildkite/run_nigthly.sh salesforce small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Zoom:
  label: ðŸ”¨ Zoom
  command:
  - .buildkite/run_nigthly.sh zoom small
  artifact_paths:
  - perf8-report-*/**/*

[8.10] [Salesforce] Add ftests (#1589) (#1599)
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  connectors/sources/salesforce.py
  tests/sources/fixtures/salesforce/.env
  tests/sources/fixtures/salesforce/Dockerfile
  tests/sources/fixtures/salesforce/config.yml
  tests/sources/fixtures/salesforce/connector.json
  tests/sources/fixtures/salesforce/docker-compose.yml
  tests/sources/fixtures/salesforce/fixture.py
  tests/sources/fixtures/salesforce/requirements.txt
Due: ðŸ”¨ Salesforce

Update CONFIG.md (#1606)
  docs/CONFIG.md
Due: none

Saving progress, just catching exceptions in loops
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Address specific edge case of 400 on list item unique role permissions
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Don't retry 400 errors
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Error ignoring for get_docs
  connectors/source.py
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Autoformat
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Add an ErrorMonitor
  connectors/config.py
  connectors/error_monitor.py
  connectors/services/job_execution.py
  connectors/source.py
  connectors/sources/sharepoint_online.py
  connectors/sync_job_runner.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

[FTest] Separate Kibana fake logger from framework logger (#1608)
  connectors/kibana.py
  tests/test_kibana.py
Due: none

reanme functions and add exceptions
  connectors/sources/microsoft_teams.py
Due: none

Move content extraction out of utils
  connectors/cli.py
  connectors/content_extraction.py
  connectors/sources/sharepoint_online.py
  connectors/utils.py
  tests/sources/test_sharepoint_online.py
  tests/test_content_extraction.py
  tests/test_utils.py
Due: ðŸ”¨ Sharepoint Online

catch 400 on list item unique role assignments (#1610)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Fix yaml indentation
  docs/CONFIG.md
Due: none

Add serializer for DBRef
  connectors/sources/mongo.py
  connectors/utils.py
  tests/sources/test_mongo.py
Due: ðŸ”¨ MongoDB

autoformat
  connectors/utils.py
  tests/sources/test_mongo.py
Due: none

CLI base tool
  connectors/connectors_cli.py
  setup.py
Due: none

Add a cli folder
  connectors/cli/.gitkeep
Due: none

Rename the tool
  setup.py
Due: none

Create main parser
  connectors/connectors_cli.py
Due: none

use downloadurl and increase concurrent downloads
  connectors/sources/onedrive.py
  tests/sources/fixtures/onedrive/fixture.py
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

add missing config in connector.json
  tests/sources/fixtures/onedrive/connector.json
Due: ðŸ”¨ OneDrive

Bump VERSION to 8.10.1
  connectors/VERSION
Due: none

Main parser (#1617)
  connectors/connectors_cli.py
  setup.py
Due: none

[New Connector] Microsoft Teams: Indexing feature (#1574)
  connectors/sources/microsoft_teams.py
  tests/sources/test_microsoft_teams.py
Due: none

Replace argparser with click
  connectors/connectors_cli.py
  requirements/framework.txt
Due: none

Replace argparser with click (#1621)
  connectors/connectors_cli.py
  requirements/framework.txt
Due: none

resolve comments
  connectors/sources/onedrive.py
Due: ðŸ”¨ OneDrive

Recording age
  connectors/sources/zoom.py
  docs/reference/zoom.md
  tests/sources/test_zoom.py
Due: ðŸ”¨ Zoom

Update test
  tests/sources/test_zoom.py
Due: none

Add -c option
  connectors/connectors_cli.py
Due: none

Add -c option (#1625)
  connectors/connectors_cli.py
Due: none

Update tooltip
  connectors/sources/zoom.py
  docs/reference/zoom.md
  tests/sources/fixtures/zoom/connector.json
Due: ðŸ”¨ Zoom

[Zoom] Add recording age as config param (#1623)
  connectors/sources/zoom.py
  docs/reference/zoom.md
  tests/sources/fixtures/zoom/connector.json
  tests/sources/test_zoom.py
Due: ðŸ”¨ Zoom

[Microsoft Teams] Add ftests
  connectors/sources/microsoft_teams.py
  tests/sources/fixtures/microsoft_teams/.env
  tests/sources/fixtures/microsoft_teams/config.yml
  tests/sources/fixtures/microsoft_teams/connector.json
  tests/sources/fixtures/microsoft_teams/docker-compose.yml
  tests/sources/fixtures/microsoft_teams/fixture.py
  tests/sources/test_microsoft_teams.py
Due: none

Bump VERSION to 8.10.1 (#1620)
  connectors/VERSION
Due: none

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**
