Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**

Redo db values
  connectors/sources/mongo.py
  connectors/sources/mssql.py
  connectors/sources/mysql.py
  connectors/sources/oracle.py
  connectors/sources/postgresql.py
  tests/sources/test_mongo.py
  tests/sources/test_mssql.py
  tests/sources/test_mysql.py
  tests/sources/test_oracle.py
  tests/sources/test_postgresql.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Postgresql, ðŸ”¨ Oracle Database, ðŸ”¨ Microsoft SQL, ðŸ”¨ MongoDB

Add ftest connector definitions
  connectors/sources/mongo.py
  tests/sources/fixtures/mssql/connector.json
  tests/sources/fixtures/postgresql/connector.json
Due: ðŸ”¨ Postgresql, ðŸ”¨ Microsoft SQL, ðŸ”¨ MongoDB

Fix configs a bit
  connectors/sources/mongo.py
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL, ðŸ”¨ MongoDB

Safely get RCF value
  connectors/source.py
Due: none

Remove unnecessary func
  connectors/sources/generic_database.py
Due: none

Add oracle ftest connector definition
  tests/sources/fixtures/oracle/connector.json
Due: ðŸ”¨ Oracle Database

Fix booleans
  tests/sources/fixtures/oracle/connector.json
Due: ðŸ”¨ Oracle Database

Fix more malformed json
  tests/sources/fixtures/oracle/connector.json
Due: ðŸ”¨ Oracle Database

Add protocol to oracle ftest
  tests/sources/fixtures/oracle/connector.json
Due: ðŸ”¨ Oracle Database

Address comments
  connectors/sources/onedrive.py
  docs/sync-rules/ONEDRIVE.md
  tests/sources/test_onedrive.py
Due: none

rename to owners
  connectors/sources/onedrive.py
  docs/sync-rules/ONEDRIVE.md
  tests/sources/test_onedrive.py
Due: none

Remove value field from connector default RCFs (batch 1) (#761)
  connectors/source.py
  connectors/sources/mongo.py
  connectors/sources/mssql.py
  connectors/sources/mysql.py
  connectors/sources/oracle.py
  connectors/sources/postgresql.py
  tests/sources/fixtures/mssql/connector.json
  tests/sources/fixtures/oracle/connector.json
  tests/sources/fixtures/postgresql/connector.json
  tests/sources/test_mongo.py
  tests/sources/test_mssql.py
  tests/sources/test_mysql.py
  tests/sources/test_oracle.py
  tests/sources/test_postgresql.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Postgresql, ðŸ”¨ Oracle Database, ðŸ”¨ Microsoft SQL, ðŸ”¨ MongoDB

resolve comments
  connectors/sources/mssql.py
  tests/sources/test_mssql.py
Due: ðŸ”¨ Microsoft SQL

Remove `value` field from connectors
  connectors/sources/azure_blob_storage.py
  connectors/sources/confluence.py
  connectors/sources/network_drive.py
  connectors/sources/servicenow.py
  tests/sources/fixtures/azure_blob_storage/connector.json
  tests/sources/fixtures/confluence/connector.json
  tests/sources/fixtures/network_drive/connector.json
  tests/sources/test_azure_blob_storage.py
  tests/sources/test_confluence.py
  tests/sources/test_network_drive.py
  tests/sources/test_servicenow.py
Due: ðŸ”¨ Network Drive, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow

Revert dropdown value removal
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

Add changes for dropbox and github
  connectors/sources/dropbox.py
  connectors/sources/github.py
  tests/sources/fixtures/github/connector.json
  tests/sources/test_dropbox.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub, ðŸ”¨ Dropbox

Fix lint
  tests/sources/test_dropbox.py
  tests/sources/test_github.py
Due: none

Reformat github connector definition
  tests/sources/fixtures/github/connector.json
Due: ðŸ”¨ GitHub

Remove value field from connectors
  connectors/sources/gmail.py
  connectors/sources/google_cloud_storage.py
  connectors/sources/google_drive.py
  connectors/sources/jira.py
  connectors/sources/onedrive.py
  tests/sources/fixtures/google_cloud_storage/connector.json
  tests/sources/fixtures/jira/connector.json
  tests/sources/test_gmail.py
  tests/sources/test_google_cloud_storage.py
  tests/sources/test_google_drive.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Jira, ðŸ”¨ Google Drive

Fix lint
  tests/sources/test_jira.py
Due: none

Fix gmail test structure
  tests/sources/test_gmail.py
Due: none

Fix lint again
  tests/sources/test_gmail.py
Due: none

Remove value field from connector default RCFs (batch 2) (#1539)
  connectors/sources/azure_blob_storage.py
  connectors/sources/confluence.py
  connectors/sources/dropbox.py
  connectors/sources/github.py
  connectors/sources/network_drive.py
  connectors/sources/servicenow.py
  tests/sources/fixtures/azure_blob_storage/connector.json
  tests/sources/fixtures/confluence/connector.json
  tests/sources/fixtures/github/connector.json
  tests/sources/fixtures/network_drive/connector.json
  tests/sources/test_azure_blob_storage.py
  tests/sources/test_confluence.py
  tests/sources/test_dropbox.py
  tests/sources/test_github.py
  tests/sources/test_network_drive.py
  tests/sources/test_servicenow.py
Due: ðŸ”¨ Network Drive, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ GitHub, ðŸ”¨ Dropbox

Remove value from connectors
  connectors/sources/s3.py
  connectors/sources/salesforce.py
  connectors/sources/sharepoint_online.py
  connectors/sources/sharepoint_server.py
  connectors/sources/slack.py
  tests/sources/fixtures/README.md
  tests/sources/fixtures/sharepoint_server/connector.json
  tests/sources/test_s3.py
  tests/sources/test_sharepoint_online.py
  tests/sources/test_sharepoint_server.py
Due: ðŸ”¨ Amazon S3, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online

Remove value field from connector default RCFs (batch 3) (#1540)
  connectors/sources/gmail.py
  connectors/sources/google_cloud_storage.py
  connectors/sources/google_drive.py
  connectors/sources/jira.py
  connectors/sources/onedrive.py
  tests/sources/fixtures/google_cloud_storage/connector.json
  tests/sources/fixtures/jira/connector.json
  tests/sources/test_gmail.py
  tests/sources/test_google_cloud_storage.py
  tests/sources/test_google_drive.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Jira, ðŸ”¨ Google Drive

Revert removal of boolean values
  connectors/sources/sharepoint_online.py
  connectors/sources/sharepoint_server.py
  connectors/sources/slack.py
Due: ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online

Add missing s3 connector definition
  tests/sources/fixtures/s3/connector.json
Due: ðŸ”¨ Amazon S3

Functional tests
  connectors/config.py
  connectors/sources/zoom.py
  tests/sources/fixtures/zoom/.env
  tests/sources/fixtures/zoom/Dockerfile
  tests/sources/fixtures/zoom/config.yml
  tests/sources/fixtures/zoom/connector.json
  tests/sources/fixtures/zoom/docker-compose.yml
  tests/sources/fixtures/zoom/fixture.py
  tests/sources/fixtures/zoom/requirements.txt
  tests/sources/test_zoom.py
Due: none

Fix whitespace
  tests/sources/fixtures/zoom/connector.json
Due: none

Add to buildkite
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
Due: none

[Microsoft SQL] Advanced Sync rules (#1485)
  README.md
  connectors/sources/generic_database.py
  connectors/sources/mssql.py
  connectors/sources/oracle.py
  connectors/sources/postgresql.py
  docs/sync-rules/MSSQL.md
  tests/sources/test_generic_database.py
  tests/sources/test_mssql.py
Due: ðŸ”¨ Postgresql, ðŸ”¨ Oracle Database, ðŸ”¨ Microsoft SQL

Remove value field from connector default RCFs (batch 4) (#1541)
  connectors/sources/s3.py
  connectors/sources/salesforce.py
  connectors/sources/sharepoint_online.py
  connectors/sources/sharepoint_server.py
  connectors/sources/slack.py
  tests/sources/fixtures/README.md
  tests/sources/fixtures/s3/connector.json
  tests/sources/fixtures/sharepoint_server/connector.json
  tests/sources/test_s3.py
  tests/sources/test_sharepoint_online.py
  tests/sources/test_sharepoint_server.py
Due: ðŸ”¨ Amazon S3, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online

Remove unncessary links, clarify where docs live
  README.md
Due: none

Mention connector service shared code
  README.md
Due: none

Maybe this will work?
  Makefile
Due: none

Delete whitespace, clarify verbiage
  README.md
Due: none

Address nits
  connectors/sources/zoom.py
  tests/sources/test_zoom.py
Due: none

Test assert
  tests/sources/test_zoom.py
Due: none

[New Connector] Zoom Implementation (#1504)
  connectors/config.py
  connectors/sources/zoom.py
  tests/sources/test_zoom.py
Due: none
