Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest

[CLI] Improve config missing error handling (#2369)
  connectors/connectors_cli.py
Due: none

Use constant for default scheduling interval
  connectors/cli/connector.py
Due: none

Log actual exception, if uvloop couldn't be enabled.
  connectors/service_cli.py
Due: none

Fix preflight check patching in test_cli for 8.11
  tests/test_cli.py
Due: none

[Service CLI] Log exception, if uvloop couldn't be enabled (#2371)
  connectors/service_cli.py
Due: none

[CLI] Use constant for default scheduling interval (#2370)
  connectors/cli/connector.py
Due: none

Add X-elastic-product-origin header (#2363)
  connectors/es/client.py
Due: none

Renamed counter for binary doc downloads
  connectors/es/sink.py
  tests/test_sink.py
Due: none

added some code comments to explain bulk response logic
  connectors/es/sink.py
Due: none

Update connector.json for GitHub ftest
  tests/sources/fixtures/github/connector.json
Due: ðŸ”¨ GitHub

Migrate service CLI to use click
  connectors/service_cli.py
  tests/test_service_cli.py
Due: none

revert unnessary change
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

Adapt constant name
  tests/test_service_cli.py
Due: none

Update connector.json for GitHub ftest (#2374)
  tests/sources/fixtures/github/connector.json
Due: ðŸ”¨ GitHub

Remove some pyright ignores
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

graphql e2e
  tests/sources/fixtures/graphql/config.yml
  tests/sources/fixtures/graphql/connector.json
  tests/sources/fixtures/graphql/docker-compose.yml
  tests/sources/fixtures/graphql/fixture.py
Due: none

update e2e for generating unique ids
  tests/sources/fixtures/opentext_documentum/fixture.py
Due: none

add graphql in buildkite
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
Due: none

fix lint
  tests/sources/fixtures/opentext_documentum/fixture.py
Due: none

fix custom path issue in jira
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

Safe error message handling
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

fake_provider.name -> fake_provider.fake.name
  tests/sources/fixtures/graphql/fixture.py
Due: none

address comment
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

fix test case
  tests/sources/test_atlassian.py
Due: none

Add connectors-cli product origin to track CLI usage
  connectors/cli/auth.py
  connectors/cli/connector.py
  connectors/cli/index.py
  connectors/cli/job.py
  connectors/es/cli_client.py
  connectors/es/client.py
  tests/es/test_cli_client.py
  tests/es/test_client.py
Due: none

update desciption
  tests/sources/fixtures/graphql/fixture.py
Due: none

Format
  connectors/es/client.py
Due: none

Fix patching
  tests/test_connectors_cli.py
Due: none

[Service CLI] Migrate to click (#2375)
  connectors/service_cli.py
  tests/test_service_cli.py
Due: none

Use user-agent instead of product origin
  connectors/es/cli_client.py
  connectors/es/client.py
  tests/es/test_cli_client.py
  tests/es/test_client.py
Due: none

Fix test name
  tests/es/test_cli_client.py
Due: none

Adapt tests and add /service suffix
  connectors/es/client.py
  tests/es/test_cli_client.py
  tests/es/test_client.py
Due: none

ensure end signals are added to queue if exception occurs
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

Fix user agents
  connectors/es/cli_client.py
  connectors/es/client.py
Due: none

[Jira] Add more logging, tests and constants (#2326)
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

count more things (#2347)
  connectors/es/sink.py
  connectors/protocol/connectors.py
  connectors/sync_job_runner.py
  connectors/utils.py
  tests/test_sink.py
Due: none

Fixing connection issue when JIRA has a path in URL (like jira.company.com/jira)
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

assert pinged url
  tests/sources/test_jira.py
Due: none

[CLI] Track CLI usage through user agent header (#2379)
  connectors/cli/auth.py
  connectors/cli/connector.py
  connectors/cli/index.py
  connectors/cli/job.py
  connectors/es/cli_client.py
  connectors/es/client.py
  tests/es/test_cli_client.py
  tests/es/test_client.py
  tests/test_connectors_cli.py
Due: none
