Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**

Remove sync rules trailing docs
  docs/sync-rules/CONFLUENCE.md
  docs/sync-rules/DROPBOX.md
  docs/sync-rules/GITHUB.md
  docs/sync-rules/GMAIL.md
  docs/sync-rules/JIRA.md
  docs/sync-rules/MSSQL.md
  docs/sync-rules/MYSQL.md
  docs/sync-rules/NETWORK_DRIVE.md
  docs/sync-rules/ONEDRIVE.md
  docs/sync-rules/POSTGRESQL.md
  docs/sync-rules/SERVICENOW.md
Due: none

Link to reference.md
  docs/reference/README.md
Due: none

Add config for telemetry
  config.yml
  connectors/config.py
Due: none

Bump version to 8.11.1 + fix version in ftest (#1893)
  connectors/VERSION
  tests/ftest.sh
Due: none

decouple get_docs
  connectors/sources/dropbox.py
Due: ðŸ”¨ Dropbox

revert some code pushed by mistake
  connectors/sources/dropbox.py
Due: ðŸ”¨ Dropbox

[DOCS] Delete prerelease refs that now live in Elastic docs (#1892)
  docs/reference/README.md
  docs/reference/box.md
  docs/reference/dropbox.md
  docs/reference/github.md
  docs/reference/microsoft_teams.md
  docs/reference/onedrive.md
  docs/reference/outlook.md
  docs/reference/slack.md
  docs/reference/zoom.md
  docs/sync-rules/CONFLUENCE.md
  docs/sync-rules/DROPBOX.md
  docs/sync-rules/GITHUB.md
  docs/sync-rules/GMAIL.md
  docs/sync-rules/JIRA.md
  docs/sync-rules/MSSQL.md
  docs/sync-rules/MYSQL.md
  docs/sync-rules/NETWORK_DRIVE.md
  docs/sync-rules/ONEDRIVE.md
  docs/sync-rules/POSTGRESQL.md
  docs/sync-rules/SERVICENOW.md
Due: none

Bump version after 8.11.1 release
  connectors/VERSION
  tests/ftest.sh
Due: none

Add config for telemetry (#1894)
  config.yml
  connectors/config.py
Due: none

move meta methods to ESIndex
  connectors/es/index.py
  connectors/protocol/connectors.py
  tests/es/test_index.py
  tests/protocol/test_connectors.py
Due: none

Add meta methods to ConnectorIndex
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

change label
  connectors/sources/oracle.py
Due: ðŸ”¨ Oracle Database

update connector.json
  tests/sources/fixtures/oracle/connector.json
Due: ðŸ”¨ Oracle Database

Add all_sync_jobs method
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

[DOCS] Update CONTRIBUTING.md, DEVELOPING.md (#1875)
  docs/CONTRIBUTING.md
  docs/DEVELOPING.md
Due: none

bump version after 8.11.1 release (#1897)
  connectors/VERSION
  tests/ftest.sh
Due: none

[8.10] [DOCS] Update CONTRIBUTING.md, DEVELOPING.md (#1875) (#1902)
  docs/CONTRIBUTING.md
  docs/DEVELOPING.md
Due: none

[8.11] [DOCS] Update CONTRIBUTING.md, DEVELOPING.md (#1875) (#1901)
  docs/CONTRIBUTING.md
  docs/DEVELOPING.md
Due: none

Add support for DLS in Dropbox (#1839)
  connectors/sources/dropbox.py
  tests/sources/fixtures/dropbox/connector.json
  tests/sources/test_dropbox.py
Due: ðŸ”¨ Dropbox

Specify port when calling all smbclient methods
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

Specify port when calling all smbclient methods in network drive connector (#1898)
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

Added document version field (gustavo's edit)
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

[SPO] Adding OData__UIVersionString document version field (#1884)
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Remove timestamp optimization for full syncs
  connectors/es/sink.py
  tests/test_sink.py
Due: none

[Oracle] Update Labels (#1899)
  connectors/sources/oracle.py
  tests/sources/fixtures/oracle/connector.json
Due: ðŸ”¨ Oracle Database

Update pipeline.yml to rerun tests on Dockerfile.ftest changes
  .buildkite/pipeline.yml
Due: none

Update pipeline.yml to rerun tests on Dockerfile.ftest changes (#1908)
  .buildkite/pipeline.yml
Due: none

Remove timestamp optimization for full syncs (#1907)
  connectors/es/sink.py
  tests/test_sink.py
Due: none

Bump Dockerfile base image to python:3.11.6-slim to reduce vulnerabilities in image
  Dockerfile
  Dockerfile.ftest
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive

Make service_account_credentials RCF sensitive
  connectors/sources/gmail.py
  connectors/sources/google_cloud_storage.py
Due: ðŸ”¨ Google Cloud Storage

Make service_account_credentials RCF sensitive (#1913)
  connectors/sources/gmail.py
  connectors/sources/google_cloud_storage.py
Due: ðŸ”¨ Google Cloud Storage

Add Documentation for DLS in Dropbox
  docs/document-level-security/DROPBOX.md
Due: none

Bump Dockerfile base image to python:3.11.6-slim (#1911)
  Dockerfile
  Dockerfile.ftest
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive
