Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest

Bump aioboto
  requirements/aarch64.txt
  requirements/framework.txt
  requirements/ftest.txt
  requirements/x86_64.txt
  tests/sources/test_s3.py
Due: none

remove unused import
  tests/sources/test_s3.py
Due: none

remove OT Documentum connector from main
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  connectors/config.py
  connectors/sources/opentext_documentum.py
  tests/sources/fixtures/opentext_documentum/.env
  tests/sources/fixtures/opentext_documentum/config.yml
  tests/sources/fixtures/opentext_documentum/connector.json
  tests/sources/fixtures/opentext_documentum/docker-compose.yml
  tests/sources/fixtures/opentext_documentum/fixture.py
  tests/sources/fixtures/opentext_documentum/requirements.txt
  tests/sources/test_opentext_documentum.py
Due: none

Bump aioboto (#2666)
  requirements/aarch64.txt
  requirements/framework.txt
  requirements/ftest.txt
  requirements/x86_64.txt
  tests/sources/test_s3.py
Due: none

Build and publish Wolfi-based images only (#2665)
  .buildkite/nightly_docker.yml
  .buildkite/publish/publish-common.sh
  .buildkite/release-pipeline.yml
Due: none

update requets version
  requirements/tests.txt
Due: none

Bump requests (#2667)
  requirements/tests.txt
Due: none

Remove Opentext Documentum connector (#2670)
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  connectors/config.py
  connectors/sources/opentext_documentum.py
  tests/sources/fixtures/opentext_documentum/.env
  tests/sources/fixtures/opentext_documentum/config.yml
  tests/sources/fixtures/opentext_documentum/connector.json
  tests/sources/fixtures/opentext_documentum/docker-compose.yml
  tests/sources/fixtures/opentext_documentum/fixture.py
  tests/sources/fixtures/opentext_documentum/requirements.txt
  tests/sources/test_opentext_documentum.py
Due: none

Include `manage_connector` privilege in generated api keys
  connectors/cli/connector.py
Due: none

Include `manage_connector` privilege in generated api keys (#2674)
  connectors/cli/connector.py
Due: none

Bump stack version to 8.16
  .backportrc.json
  catalog-info.yaml
  connectors/VERSION
  tests/ftest.sh
Due: none

remove 8.13 builds
  catalog-info.yaml
Due: none

id_column optional fix
  tests/sources/test_mysql.py
Due: none

bump to 8.14.3
  connectors/VERSION
Due: none

Bump version to 8.14.3.0 (#2678)
  connectors/VERSION
Due: none

Add incremental sync for GDrive connector
  connectors/sources/google_drive.py
  tests/sources/test_google_drive.py
Due: ðŸ”¨ Google Drive

fix lint
  connectors/sources/google_drive.py
Due: ðŸ”¨ Google Drive

update query
  connectors/sources/google_drive.py
Due: ðŸ”¨ Google Drive

view ingestion fixed for postgresql
  connectors/sources/postgresql.py
  tests/sources/test_postgresql.py
Due: ðŸ”¨ Postgresql

WIP docstrings work, constructor works
  Makefile
  package/__init__.py
  package/generated/azure_blob_storage.py
  package/generated/box.py
  package/generated/confluence.py
  package/generated/dir.py
  package/generated/dropbox.py
  package/generated/github.py
  package/generated/gmail.py
  package/generated/google_cloud_storage.py
  package/generated/google_drive.py
  package/generated/googledrivedatasource.py
  package/generated/graphql.py
  package/generated/jira.py
  package/generated/microsoft_teams.py
  package/generated/mongodb.py
  package/generated/mssql.py
  package/generated/mysql.py
  package/generated/network_drive.py
  package/generated/notion.py
  package/generated/onedrive.py
  package/generated/oracle.py
  package/generated/outlook.py
  package/generated/postgresql.py
  package/generated/redis.py
  package/generated/s3.py
  package/generated/salesforce.py
  package/generated/servicenow.py
  package/generated/sharepoint_online.py
  package/generated/sharepoint_server.py
  package/generated/slack.py
  package/generated/zoom.py
  requirements/package-dev.txt
  scripts/codegen/generate_wrappers.py
  scripts/codegen/templates/datasource_wrapper.jinja2
Due: none

reverting a change
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

Try ignoring BadRequestError for SPO site list item attachments
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Revert retryable_aiohttp_call
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

changing minlength for id_columns
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

Bump stack version to 8.16 (#2676)
  .backportrc.json
  catalog-info.yaml
  connectors/VERSION
  tests/ftest.sh
Due: none

api_call method callers modified
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

[PostgreSQL] Add new field id_columns in sync rules to generate id and adding support for views (#2681)
  connectors/sources/postgresql.py
  tests/sources/test_postgresql.py
Due: ðŸ”¨ Postgresql

address comments
  connectors/sources/google_drive.py
Due: ðŸ”¨ Google Drive

[Github] Add Path Filter in Advanced Rules
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Replace task.name with task.get_name()
  connectors/es/sink.py
  tests/test_sink.py
Due: none

Remove the pyright ignores
  connectors/es/sink.py
Due: none

fix lint
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Replace task.name with task.get_name() (#2690)
  connectors/es/sink.py
  tests/test_sink.py
Due: none

Remove more things in make clean
  Makefile
Due: none
