Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**

add specific exception to gcs
  connectors/sources/google_cloud_storage.py
Due: ðŸ”¨ Google Cloud Storage

fix test case
  connectors/sources/google_cloud_storage.py
  tests/sources/test_google_cloud_storage.py
Due: ðŸ”¨ Google Cloud Storage

Try to upgrade native features if missing keys
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

Fix issue for skipping buckets for GCS and ABS if it doesn't have access (#1935)
  connectors/sources/azure_blob_storage.py
  connectors/sources/google_cloud_storage.py
  tests/sources/test_azure_blob_storage.py
  tests/sources/test_google_cloud_storage.py
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage

Bump VERSION to 8.11.4.0
  connectors/VERSION
Due: none

Fix job cleanup calling fail with wrong argument
  connectors/services/job_cleanup.py
  tests/services/test_job_cleanup.py
Due: none

Bumping 8.11 branch VERSION to 8.11.4.0 (#1977)
  connectors/VERSION
Due: none

Got the unit test working
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

log which features were added
  connectors/protocol/connectors.py
Due: none

autoformat
  connectors/protocol/connectors.py
Due: none

Fix job cleanup calling fail with wrong argument (#1978)
  connectors/services/job_cleanup.py
  tests/services/test_job_cleanup.py
Due: none

Try to upgrade native features if missing keys (#1975)
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

Added new RCF `bucket` for GCS and ABS
  connectors/sources/azure_blob_storage.py
  connectors/sources/google_cloud_storage.py
  tests/sources/fixtures/azure_blob_storage/connector.json
  tests/sources/fixtures/google_cloud_storage/connector.json
  tests/sources/test_azure_blob_storage.py
  tests/sources/test_google_cloud_storage.py
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage

fix lint for gcs
  tests/sources/test_google_cloud_storage.py
Due: none

change config name
  connectors/sources/azure_blob_storage.py
  connectors/sources/google_cloud_storage.py
  tests/sources/fixtures/azure_blob_storage/connector.json
  tests/sources/fixtures/google_cloud_storage/connector.json
  tests/sources/test_azure_blob_storage.py
  tests/sources/test_google_cloud_storage.py
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage

fix nam change
  connectors/sources/azure_blob_storage.py
Due: ðŸ”¨ Azure Blob Storage

change label names
  connectors/sources/azure_blob_storage.py
  connectors/sources/google_cloud_storage.py
  tests/sources/fixtures/azure_blob_storage/connector.json
  tests/sources/fixtures/google_cloud_storage/connector.json
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage

[SPO] Fix bugs when handling drive_items in incremental sync (#1827)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

fix merge conflict
  tests/sources/test_sharepoint_online.py
Due: none

[8.10] [SPO] Fix bugs when handling drive_items in incremental sync (#1827) (#1986)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

servicenow dls
  connectors/sources/servicenow.py
  tests/sources/fixtures/servicenow/connector.json
  tests/sources/test_servicenow.py
Due: ðŸ”¨ ServiceNow

lint
  connectors/sources/servicenow.py
Due: ðŸ”¨ ServiceNow

Let's try like this
  connectors/es/index.py
  tests/sources/fixtures/sharepoint_online/docker-compose.yml
Due: ðŸ”¨ Sharepoint Online

WIP - new approach
  test_ingestion.py
Due: none

Script for testing ingestion
  test_ingestion.py
Due: none

WIP
  test_ingestion.py
Due: none

check if DLS is enabled before fetching drive item permissions
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

autoformat
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

View specific job information
  connectors/cli/job.py
  connectors/connectors_cli.py
  tests/test_connectors_cli.py
Due: none

Ignore errors when Sink or Extractor is forcibly canceled
  connectors/es/sink.py
  tests/test_sink.py
Due: none

Return job id when create a new one
  connectors/cli/job.py
Due: none

Print job_id
  connectors/connectors_cli.py
  connectors/protocol/connectors.py
  tests/test_connectors_cli.py
Due: none

Make test fixture retry 429 errors
  tests/sources/fixtures/fixture.py
Due: none

Make autoformat
  tests/sources/fixtures/fixture.py
Due: none

Autoformat
  connectors/connectors_cli.py
  connectors/protocol/connectors.py
  tests/test_connectors_cli.py
Due: none

re-raise when the task is not forcibly canceled
  connectors/es/sink.py
Due: none
