Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server extra_small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

Lint code
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Fix zoom tests
  tests/sources/test_zoom.py
Due: none

Add "get_last_update_time" to MySQLClient
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL

[SPO] Remove site_group_id and site_user_id (#1467)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

[Utils] Support synchronous functions in retryable decorator (#1587)
  connectors/utils.py
  tests/sources/test_dropbox.py
  tests/sources/test_github.py
  tests/sources/test_google_drive.py
  tests/sources/test_jira.py
  tests/sources/test_mssql.py
  tests/sources/test_onedrive.py
  tests/sources/test_servicenow.py
  tests/sources/test_slack.py
  tests/sources/test_zoom.py
  tests/test_utils.py
Due: none

[FTest] Remove retry library and use utils.py retryable decorator (#1578)
  requirements/tests.txt
  tests/sources/fixtures/fixture.py
Due: none

Skip site collection query if * is configured for site collections
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

[SPO] Remove site_group_id and site_user_id (#1467) (#1594)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Skip site collection query if * is configured for site collections (#1595)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Change print statements to use the logger. Also add some more additional information.
  tests/sources/fixtures/fixture.py
Due: none

Revert "Add "get_last_update_time" to MySQLClient"
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL

Adapt some variables and error/log messages
  tests/sources/fixtures/fixture.py
Due: none

Autoformat
  tests/sources/fixtures/fixture.py
Due: none

Fix log message
  tests/sources/fixtures/fixture.py
Due: none

[Outlook] Implement Ping + Indexing (#1501)
  connectors/config.py
  connectors/sources/outlook.py
  requirements/framework.txt
  tests/sources/test_outlook.py
Due: none

[Salesforce] Add ftests (#1589)
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  connectors/sources/salesforce.py
  tests/sources/fixtures/salesforce/.env
  tests/sources/fixtures/salesforce/config.yml
  tests/sources/fixtures/salesforce/connector.json
  tests/sources/fixtures/salesforce/docker-compose.yml
  tests/sources/fixtures/salesforce/fixture.py
Due: none

Skip site collection query if * is configured for site collections (#1595) (#1600)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

[SPO] Remove site_group_id and site_user_id (#1467) (#1598)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Run all functional tests on changes in Dockerfile.ftest (#1591)
  .buildkite/pipeline.yml
Due: none

[Google Drive] Support domain-wide delegation for syncing data
  connectors/sources/google_drive.py
Due: ðŸ”¨ Google Drive

Make size .lower() + add case _
  tests/sources/fixtures/confluence/fixture.py
Due: ðŸ”¨ Confluence

[FTest] Use logger instead of print (#1597)
  tests/sources/fixtures/fixture.py
Due: none

Add requirements.txt
  tests/sources/fixtures/salesforce/requirements.txt
Due: none

Make autoformat
  tests/sources/fixtures/confluence/fixture.py
Due: ðŸ”¨ Confluence

Add Dockerfile
  tests/sources/fixtures/salesforce/Dockerfile
Due: none

Fix docker compose
  tests/sources/fixtures/salesforce/docker-compose.yml
Due: none

Update CONFIG.md
  docs/CONFIG.md
Due: none

Avoid confusion docker/source
  docs/CONFIG.md
Due: none

Migrate setup for dropbox
  tests/sources/fixtures/dropbox/docker-compose.yml
  tests/sources/fixtures/dropbox/fixture.py
Due: ðŸ”¨ Dropbox

Also include ABS
  tests/sources/fixtures/azure_blob_storage/fixture.py
Due: ðŸ”¨ Azure Blob Storage

Separate the kibana fake logger
  connectors/kibana.py
Due: none

Remove log assertion
  tests/test_kibana.py
Due: none

Add example config multiple API keys
  docs/CONFIG.md
Due: none

Cleanup
  docs/CONFIG.md
Due: none

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**
