Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ OneDrive:
  label: ðŸ”¨ OneDrive
  command:
  - .buildkite/run_nigthly.sh onedrive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Salesforce:
  label: ðŸ”¨ Salesforce
  command:
  - .buildkite/run_nigthly.sh salesforce small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Zoom:
  label: ðŸ”¨ Zoom
  command:
  - .buildkite/run_nigthly.sh zoom small
  artifact_paths:
  - perf8-report-*/**/*

Add link to regression
  scripts/stack/README.md
Due: none

Update README.md
  scripts/stack/README.md
Due: none

[Confluence] Fix data loss for Data Center during Advance-Sync (#2651)
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

Update stack scripts README (#2652)
  scripts/stack/README.md
Due: none

Fixes from code review
  README.md
  connectors/es/client.py
  connectors/preflight_check.py
  scripts/verify.py
  tests/ftest.sh
  tests/test_preflight_check.py
Due: none

Fix lint
  connectors/preflight_check.py
Due: none

Add service.idling: 1 to all ftests + decrease size of ftest for gcs
  tests/sources/fixtures/azure_blob_storage/config.yml
  tests/sources/fixtures/box/config.yml
  tests/sources/fixtures/confluence/config.yml
  tests/sources/fixtures/dir/config.yml
  tests/sources/fixtures/dropbox/config.yml
  tests/sources/fixtures/github/config.yml
  tests/sources/fixtures/google_cloud_storage/config.yml
  tests/sources/fixtures/google_cloud_storage/fixture.py
  tests/sources/fixtures/google_drive/config.yml
  tests/sources/fixtures/graphql/config.yml
  tests/sources/fixtures/jira/config.yml
  tests/sources/fixtures/microsoft_teams/config.yml
  tests/sources/fixtures/mongodb/config.yml
  tests/sources/fixtures/mongodb_serverless/config.yml
  tests/sources/fixtures/mssql/config.yml
  tests/sources/fixtures/mysql/config.yml
  tests/sources/fixtures/network_drive/config.yml
  tests/sources/fixtures/notion/config.yml
  tests/sources/fixtures/onedrive/config.yml
  tests/sources/fixtures/opentext_documentum/config.yml
  tests/sources/fixtures/oracle/config.yml
  tests/sources/fixtures/postgresql/config.yml
  tests/sources/fixtures/redis/config.yml
  tests/sources/fixtures/s3/config.yml
  tests/sources/fixtures/salesforce/config.yml
  tests/sources/fixtures/servicenow/config.yml
  tests/sources/fixtures/sharepoint_online/config.yml
  tests/sources/fixtures/sharepoint_server/config.yml
  tests/sources/fixtures/zoom/config.yml
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

Fixes to README.md
  README.md
Due: none

Add service.idling: 1 to all ftests + decrease size of ftest for gcs (#2653)
  tests/sources/fixtures/azure_blob_storage/config.yml
  tests/sources/fixtures/box/config.yml
  tests/sources/fixtures/confluence/config.yml
  tests/sources/fixtures/dir/config.yml
  tests/sources/fixtures/dropbox/config.yml
  tests/sources/fixtures/github/config.yml
  tests/sources/fixtures/google_cloud_storage/config.yml
  tests/sources/fixtures/google_cloud_storage/fixture.py
  tests/sources/fixtures/google_drive/config.yml
  tests/sources/fixtures/graphql/config.yml
  tests/sources/fixtures/jira/config.yml
  tests/sources/fixtures/microsoft_teams/config.yml
  tests/sources/fixtures/mongodb/config.yml
  tests/sources/fixtures/mongodb_serverless/config.yml
  tests/sources/fixtures/mssql/config.yml
  tests/sources/fixtures/mysql/config.yml
  tests/sources/fixtures/network_drive/config.yml
  tests/sources/fixtures/notion/config.yml
  tests/sources/fixtures/onedrive/config.yml
  tests/sources/fixtures/opentext_documentum/config.yml
  tests/sources/fixtures/oracle/config.yml
  tests/sources/fixtures/postgresql/config.yml
  tests/sources/fixtures/redis/config.yml
  tests/sources/fixtures/s3/config.yml
  tests/sources/fixtures/salesforce/config.yml
  tests/sources/fixtures/servicenow/config.yml
  tests/sources/fixtures/sharepoint_online/config.yml
  tests/sources/fixtures/sharepoint_server/config.yml
  tests/sources/fixtures/zoom/config.yml
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

remove security concerned logs
  connectors/sources/s3.py
Due: ðŸ”¨ Amazon S3

Confluence Flaky Test issue fixed
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

fix lint
  connectors/sources/s3.py
Due: ðŸ”¨ Amazon S3

[Amazon S3] Remove security concerned logs (#2656)
  connectors/sources/s3.py
Due: ðŸ”¨ Amazon S3

Use Connector APIs to update sync job stats
  connectors/es/index.py
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

[8.14] [Confluence] Fix data loss for Data Center during Advance-Sync
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

Ensure orchestrator tasks are always canceled
  connectors/connectors_cli.py
  connectors/es/sink.py
  connectors/sync_job_runner.py
  tests/test_sink.py
  tests/test_sync_job_runner.py
Due: none

typo
  connectors/es/sink.py
Due: none

Remove unnecessary mocks
  tests/test_sync_job_runner.py
Due: none

Fix minor version comparison
  connectors/preflight_check.py
  tests/test_preflight_check.py
Due: none

removed DEFAULT_RETRY_SECONDS
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

Comments addressed and testcase added
  connectors/sources/mysql.py
  tests/sources/test_mysql.py
Due: ðŸ”¨ MySQL

Use Connector APIs to update sync job stats (#2659)
  connectors/es/index.py
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

Ensure orchestrator tasks are always canceled (#2661)
  connectors/connectors_cli.py
  connectors/es/sink.py
  connectors/sync_job_runner.py
  tests/test_sink.py
  tests/test_sync_job_runner.py
Due: none

[Jira] Add tooltip for service account id (#2640)
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

Fix flakey interrupt test
  .buildkite/pipeline.yml
  Makefile
  tests/conftest.py
  tests/test_service_cli.py
Due: none

Autoformat
  tests/conftest.py
  tests/test_service_cli.py
Due: none

[8.14] [Confluence] Fix data loss for Data Center during Advance-Sync (#2660)
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

Try terminating the service when it's already running
  tests/conftest.py
  tests/test_service_cli.py
Due: none

Constant reduction
  tests/test_service_cli.py
Due: none

Correct exception class
  tests/test_service_cli.py
Due: none

Consolidate update status and error into a single call
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

Fix error message
  tests/conftest.py
Due: none

Add retries
  tests/test_service_cli.py
Due: none

Fix linting
  connectors/es/index.py
Due: none

Check ES version compatibility and build flavor on startup (#2650)
  README.md
  connectors/es/client.py
  connectors/preflight_check.py
  connectors/service_cli.py
  scripts/verify.py
  tests/ftest.sh
  tests/test_preflight_check.py
  tests/test_service_cli.py
Due: none

Build and publish Wolfi-based images only
  .buildkite/nightly_docker.yml
  .buildkite/publish/publish-common.sh
  .buildkite/release-pipeline.yml
Due: none

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
