Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis, ðŸ”¨ GraphQL

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ GraphQL: any of: connectors/sources/graphql.py, tests/sources/fixtures/graphql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**

Update Jira API (#3710)
  connectors/sources/jira.py
  tests/sources/fixtures/jira/fixture.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

Minor cleanup before the next phase of restructuring (#3724)
  .gitignore
  Makefile
  app/.ruff.toml
  app/MANIFEST.in
  app/pyproject.toml
Due: none

Add more logging
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL

make autoformat
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL

Improve pagination performance in MySQL connector (#3719)
  connectors/sources/mysql.py
  tests/sources/fixtures/mysql/fixture.py
  tests/sources/test_mysql.py
Due: ðŸ”¨ MySQL

Autogenerate tests to improve coverage
  tests/sources/test_github.py
Due: none

make autoformat
  tests/sources/test_github.py
Due: none

Add another level to run_functional_test.sh VENV_ROOT path
  .buildkite/run_functional_test.sh
Due: none

Update .backportrc.json - remove 8.17
  .backportrc.json
Due: none

Test fixture config.ymls were being ignored again :facepalm:
  .gitignore
  app/connectors_service/tests/fixtures/config.yml
  app/connectors_service/tests/sources/fixtures/azure_blob_storage/config.yml
  app/connectors_service/tests/sources/fixtures/box/config.yml
  app/connectors_service/tests/sources/fixtures/confluence/config.yml
  app/connectors_service/tests/sources/fixtures/dir/config.yml
  app/connectors_service/tests/sources/fixtures/dropbox/config.yml
  app/connectors_service/tests/sources/fixtures/github/config.yml
  app/connectors_service/tests/sources/fixtures/google_cloud_storage/config.yml
  app/connectors_service/tests/sources/fixtures/google_drive/config.yml
  app/connectors_service/tests/sources/fixtures/graphql/config.yml
  app/connectors_service/tests/sources/fixtures/jira/config.yml
  app/connectors_service/tests/sources/fixtures/microsoft_teams/config.yml
  app/connectors_service/tests/sources/fixtures/mongodb/config.yml
  app/connectors_service/tests/sources/fixtures/mongodb_serverless/config.yml
  app/connectors_service/tests/sources/fixtures/mssql/config.yml
  app/connectors_service/tests/sources/fixtures/mysql/config.yml
  app/connectors_service/tests/sources/fixtures/network_drive/config.yml
  app/connectors_service/tests/sources/fixtures/notion/config.yml
  app/connectors_service/tests/sources/fixtures/onedrive/config.yml
  app/connectors_service/tests/sources/fixtures/oracle/config.yml
  app/connectors_service/tests/sources/fixtures/postgresql/config.yml
  app/connectors_service/tests/sources/fixtures/redis/config.yml
  app/connectors_service/tests/sources/fixtures/s3/config.yml
  app/connectors_service/tests/sources/fixtures/salesforce/config.yml
  app/connectors_service/tests/sources/fixtures/sandfly/config.yml
  app/connectors_service/tests/sources/fixtures/servicenow/config.yml
  app/connectors_service/tests/sources/fixtures/sharepoint_online/config.yml
  app/connectors_service/tests/sources/fixtures/sharepoint_server/config.yml
  app/connectors_service/tests/sources/fixtures/zoom/config.yml
Due: none

Update .backportrc.json - remove 8.17 (#3735)
  .backportrc.json
Due: none

Fix error handling
  NOTICE.txt
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Update NOTICE.txt
  NOTICE.txt
Due: none

make autoformat
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Clean up comments and slight refactor
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Further comment cleanup
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Cleanup some irrelevant genai comments
  tests/sources/test_github.py
Due: none

Address review comments
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Lol
  Makefile
Due: none

Fix some stuff
  Makefile
Due: none

This/
  Dockerfile
  Dockerfile.agent
  Dockerfile.wolfi
  Makefile
  app/connectors_service/Makefile
  app/connectors_service/NOTICE.txt
  app/connectors_service/tests/sources/fixtures/fixture.py
Due: none

NOTICE
  app/connectors_service/NOTICE.txt
Due: none

Minor fixes
  Makefile
  app/connectors_service/tests/sources/fixtures/fixture.py
Due: none

Yeah
  Makefile
Due: none

yup
  app/connectors_service/tests/Dockerfile.ftest
Due: none
