Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ OneDrive:
  label: ðŸ”¨ OneDrive
  command:
  - .buildkite/run_nigthly.sh onedrive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Salesforce:
  label: ðŸ”¨ Salesforce
  command:
  - .buildkite/run_nigthly.sh salesforce small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Zoom:
  label: ðŸ”¨ Zoom
  command:
  - .buildkite/run_nigthly.sh zoom small
  artifact_paths:
  - perf8-report-*/**/*

Use same aiomysql version on different platforms (#2575)
  requirements/aarch64.txt
  requirements/framework.txt
  requirements/x86_64.txt
Due: none

Set UTC timezone explicitly in job scheduling logic
  connectors/protocol/connectors.py
  connectors/services/job_scheduling.py
  connectors/utils.py
  tests/test_utils.py
Due: none

make logs consistant
  connectors/sources/oracle.py
Due: ðŸ”¨ Oracle Database

Update job scheduling service to use tz aware timestamps
  connectors/services/job_scheduling.py
Due: none

Update tests
  tests/services/test_job_scheduling.py
Due: none

make autoformat
  tests/services/test_job_scheduling.py
Due: none

[Job scheduling] Use UTC timezone with timestamps (#2586)
  connectors/protocol/connectors.py
  connectors/services/job_scheduling.py
  connectors/utils.py
  tests/services/test_job_scheduling.py
  tests/test_utils.py
Due: none

Migration for timezone aware timestamps
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

remove unnecessary logs
  connectors/sources/dropbox.py
Due: ðŸ”¨ Dropbox

Fix mappings addition to existing index
  connectors/es/management_client.py
  tests/es/test_management_client.py
  tests/es/test_management_client_deepchainmap.py
Due: none

Add comment pr feedback
  connectors/protocol/connectors.py
Due: none

Add comment pr feedback change copy
  connectors/protocol/connectors.py
Due: none

Migration for timezone aware timestamps (#2587)
  connectors/protocol/connectors.py
  tests/protocol/test_connectors.py
Due: none

Update logs
  connectors/sources/mssql.py
Due: ðŸ”¨ Microsoft SQL

make autoformat
  connectors/sources/mssql.py
Due: ðŸ”¨ Microsoft SQL

[MSSQL] Add logs (#2527)
  connectors/sources/mssql.py
Due: ðŸ”¨ Microsoft SQL

bump certifi
  requirements/framework.txt
Due: none

bump certifi (#2589)
  requirements/framework.txt
Due: none

Add tests
  tests/test_utils.py
Due: none

More tests
  tests/test_utils.py
Due: none

Now fix scheduler
  connectors/utils.py
  requirements/framework.txt
Due: none

Autoformat + comments
  connectors/utils.py
  tests/test_utils.py
Due: none

Oops
  requirements/framework.txt
Due: none

Fix fixtures
  tests/sources/fixtures/google_cloud_storage/connector.json
  tests/sources/fixtures/google_drive/connector.json
  tests/sources/fixtures/graphql/connector.json
  tests/sources/fixtures/jira/connector.json
  tests/sources/fixtures/notion/connector.json
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Jira, ðŸ”¨ Google Drive, ðŸ”¨ Notion

Switch to tzcron for schedule parsing + add tests for supported cron expressions in Kibana (#2594)
  connectors/utils.py
  requirements/framework.txt
  tests/sources/fixtures/google_cloud_storage/connector.json
  tests/sources/fixtures/google_drive/connector.json
  tests/sources/fixtures/graphql/connector.json
  tests/sources/fixtures/jira/connector.json
  tests/sources/fixtures/notion/connector.json
  tests/test_utils.py
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Jira, ðŸ”¨ Google Drive, ðŸ”¨ Notion

Switch to tzcron for schedule parsing + add tests for supported cron expressions in Kibana (#2594)
  connectors/utils.py
  requirements/framework.txt
  tests/sources/fixtures/google_cloud_storage/connector.json
  tests/sources/fixtures/google_drive/connector.json
  tests/sources/fixtures/jira/connector.json
  tests/sources/fixtures/notion/connector.json
  tests/test_utils.py
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Jira, ðŸ”¨ Google Drive, ðŸ”¨ Notion

Autoformat
  connectors/utils.py
Due: none

Saleforce client error handling
  connectors/sources/salesforce.py
Due: ðŸ”¨ Salesforce

Update linting and tests for salesforce connector
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: ðŸ”¨ Salesforce

Replaced deep dict gets with util function
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Fix job cleanup calling fail with wrong argument (#1978)
  connectors/services/job_cleanup.py
  tests/services/test_job_cleanup.py
Due: none

move query inside debug_query_string
  connectors/sources/box.py
Due: ðŸ”¨ Box

Saleforce client token generation error logging (#2593)
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: ðŸ”¨ Salesforce

Manually cherry-picj old change
  connectors/utils.py
Due: none

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
