Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest

Add author to issues and PRs
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Fix tests
  tests/sources/test_github.py
Due: none

Remove debug logs and cleanup
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

More cleanup
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Check against repo members as well
  .github/workflows/scripts/label_community_issues.py
Due: none

Always close data source (#2441)
  connectors/services/job_scheduling.py
  tests/services/test_job_scheduling.py
Due: none

Update scripts/stack/README.md (#2449)
  scripts/stack/README.md
Due: none

Ensure config.yml exist
  scripts/stack/copy-config.sh
  scripts/stack/run-stack.sh
Due: none

Copy config.yml from config.yml.example
  scripts/stack/copy-config.sh
  scripts/stack/run-stack.sh
Due: none

[Jira] Map custom field ids with their names (#2442)
  connectors/sources/jira.py
  tests/sources/fixtures/jira/fixture.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

[Network Drive] Fix unknown enum error: 0xc0000070
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

Handle rate limit in confluence
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

[Jira] Add support for reserved keywords as a project key in `Jira project keys` RCF (#2444)
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

[GitHub] Add author to issue and pull request docs (#2454)
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

[Network Drive] Change traversal strategy to ingest as you go instead of pre-fetching the whole tree for sync rule (#2355)
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

[8.13] [Network Drive] Change traversal strategy to ingest as you go instead of pre-fetching the whole tree (#2286) (#2338)
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

[Network Drive] Fix unknown enum error: 0xc0000070 (#2458)
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

remove `while` for api_call
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

[8.13] [Network Drive] Change traversal strategy to ingest as you go instead of pre-fetching the whole tree for sync rule (#2355) (#2462)
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

Add DLS in outlook (#2421)
  connectors/sources/outlook.py
  tests/sources/test_outlook.py
Due: none

Fixed linting. Added authentication configuration to connector.json.
  connectors/sources/sharepoint_server.py
  tests/sources/fixtures/sharepoint_server/connector.json
  tests/sources/test_sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

Try this simple fix
  connectors/services/job_scheduling.py
Due: none

Don't fail the sync if there are failed operations in the bulk api request
  connectors/es/sink.py
  tests/test_sink.py
Due: none

update constant name
  tests/test_sink.py
Due: none

[Confluence] Handle rate limit (#2459)
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

Add log line for future troubleshooting
  connectors/services/job_scheduling.py
Due: none

[8.13] [Network Drive] Fix unknown enum error: 0xc0000070 (#2458) (#2469)
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

Fix concurrent scheduling (#2470)
  connectors/services/job_scheduling.py
Due: none

Bump VERSION to 8.13.2.2
  connectors/VERSION
Due: none

Don't fail the sync if there are failed operations in the bulk api request (#2271)
  connectors/es/sink.py
  tests/test_sink.py
Due: none

Update fixture for ftest
  tests/sources/fixtures/sharepoint_server/fixture.py
Due: ðŸ”¨ Sharepoint Server
