Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ OneDrive:
  label: ðŸ”¨ OneDrive
  command:
  - .buildkite/run_nigthly.sh onedrive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Salesforce:
  label: ðŸ”¨ Salesforce
  command:
  - .buildkite/run_nigthly.sh salesforce small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Zoom:
  label: ðŸ”¨ Zoom
  command:
  - .buildkite/run_nigthly.sh zoom small
  artifact_paths:
  - perf8-report-*/**/*

Maybe like this?
  pytest.ini
  tests/test_service_cli.py
Due: none

address suggestions
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

fix lint
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

ensure __aexit__ is defined in the mock
  tests/sources/test_confluence.py
Due: none

ensure end signals are added to queue
  connectors/sources/servicenow.py
Due: ðŸ”¨ ServiceNow

revert unnecessary change
  connectors/sources/servicenow.py
Due: ðŸ”¨ ServiceNow

log records counts for table and query
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

autoformat
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

enable incremental sync
  connectors/sources/notion.py
Due: ðŸ”¨ Notion

add author/editor for all entities
  connectors/sources/sharepoint_server.py
  tests/sources/test_sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

fix lint
  tests/sources/test_sharepoint_server.py
Due: none

address comments
  connectors/sources/mssql.py
Due: ðŸ”¨ Microsoft SQL

add record count for tables
  connectors/sources/oracle.py
Due: ðŸ”¨ Oracle Database

revert unwanted change
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

Enabled incremental syncs for Notion Connector (#2547)
  connectors/sources/notion.py
Due: ðŸ”¨ Notion

[Confluence] Fix flaky test case (#2540)
  tests/sources/test_confluence.py
Due: none

Add author/editor for all entities (#2548)
  connectors/sources/sharepoint_server.py
  tests/sources/test_sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

[Confluence] Add labels in confluence
  connectors/sources/confluence.py
  tests/sources/fixtures/confluence/connector.json
  tests/sources/fixtures/confluence/fixture.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

address suggestions
  connectors/sources/azure_blob_storage.py
Due: ðŸ”¨ Azure Blob Storage

fix ftest
  tests/sources/fixtures/confluence/fixture.py
Due: ðŸ”¨ Confluence

closes connector clients
  connectors/sources/azure_blob_storage.py
  tests/sources/test_azure_blob_storage.py
Due: ðŸ”¨ Azure Blob Storage

Fix formatting issue: Correct indentation
  tests/sources/fixtures/confluence/connector.json
Due: ðŸ”¨ Confluence

add logging for box
  connectors/sources/box.py
Due: ðŸ”¨ Box

Add logging for dropbox
  connectors/sources/dropbox.py
Due: ðŸ”¨ Dropbox

Add logging for S3
  connectors/sources/s3.py
Due: ðŸ”¨ Amazon S3

Add logging for GCS
  connectors/sources/google_cloud_storage.py
Due: ðŸ”¨ Google Cloud Storage

Add logging for Onedrive
  connectors/sources/onedrive.py
Due: ðŸ”¨ OneDrive

add relevant unit test
  tests/sources/test_servicenow.py
Due: none

fix formatting in tests
  tests/sources/test_servicenow.py
Due: none

Use newer discuss category
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Use newer discuss category (#2556)
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Fix flaky test
  tests/sources/test_sharepoint_server.py
Due: none

[SharePoint Server]Fix flaky test (#2558)
  tests/sources/test_sharepoint_server.py
Due: none

[Confluence] Add labels in confluence (#2549)
  connectors/sources/confluence.py
  tests/sources/fixtures/confluence/connector.json
  tests/sources/fixtures/confluence/fixture.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

address suggestions
  connectors/sources/s3.py
Due: ðŸ”¨ Amazon S3

fix lint
  connectors/sources/s3.py
Due: ðŸ”¨ Amazon S3

ensure end signals are added to queue
  connectors/sources/box.py
  tests/sources/test_box.py
Due: ðŸ”¨ Box

Feature flag implementation of connector API calls + one endpoint converted
  connectors/config.py
  connectors/es/index.py
  connectors/protocol/connectors.py
  connectors/utils.py
Due: none

make autoformat
  connectors/config.py
  connectors/es/index.py
  connectors/protocol/connectors.py
  connectors/utils.py
Due: none

Add config option into example config file
  config.yml.example
Due: none

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
