Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server extra_small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

[Confluence/Jira] Add DLS docs (#1430)
  README.md
  docs/document-level-security/CONFLUENCE.md
  docs/document-level-security/JIRA.md
Due: none

Remove TODOs, which are now tracked by GH issues.
  connectors/sources/gmail.py
Due: none

Remove some more TODOs
  connectors/sources/google.py
Due: none

Simplify created_at
  connectors/sources/gmail.py
Due: none

Apply suggestions from code review
  docs/reference/onedrive.md
Due: none

Update connectors/sources/sharepoint_online.py
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Small fix for better readability
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Inline constants
  connectors/sources/google.py
Due: none

Adjust constant name
  connectors/sources/google.py
Due: none

Remove redundant guards
  connectors/sources/gmail.py
Due: none

Add documentation for OneDrive connector (#1439)
  docs/REFERENCE.md
  docs/reference/onedrive.md
Due: none

Make autoformat
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Add info, if a basic rule includes or excludes a document.
  connectors/filtering/basic_rule.py
Due: none

Revert "Add "get_last_update_time" to MySQLClient"
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL

Autoformat
  connectors/filtering/basic_rule.py
Due: none

Add _dls_enabled() before fetching unique permissions
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Also test + remove access control from attachments when DLS is disabled
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Add _dls_enabled() before fetching unique permissions (#1446)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Indentation
  tests/sources/test_sharepoint_online.py
Due: none

Add debug logging for basic rule validation
  connectors/filtering/basic_rule.py
  connectors/filtering/validation.py
  tests/filtering/test_basic_rule.py
Due: none

Access name directly
  connectors/filtering/validation.py
Due: none

Adapt variable name
  connectors/filtering/validation.py
Due: none

Drop standalone isort and use one from ruff distribution
  .isort.cfg
  .ruff.toml
  Makefile
  connectors/es/client.py
  requirements/tests.txt
Due: none

First pass at moving default configs to code
  config.yml
  connectors/config.py
  tests/test_config.py
Due: none

missed jira sources
  tests/sources/fixtures/jira/config.yml
Due: ðŸ”¨ Jira

Remove unnecessary configs
  connectors/config.py
  connectors/kibana.py
  docs/CONFIG.md
  tests/sources/fixtures/azure_blob_storage/config.yml
  tests/sources/fixtures/confluence/config.yml
  tests/sources/fixtures/dir/config.yml
  tests/sources/fixtures/dropbox/config.yml
  tests/sources/fixtures/github/config.yml
  tests/sources/fixtures/google_cloud_storage/config.yml
  tests/sources/fixtures/google_drive/config.yml
  tests/sources/fixtures/jira/config.yml
  tests/sources/fixtures/mongodb/config.yml
  tests/sources/fixtures/mongodb_serverless/config.yml
  tests/sources/fixtures/mssql/config.yml
  tests/sources/fixtures/mysql/config.yml
  tests/sources/fixtures/network_drive/config.yml
  tests/sources/fixtures/oracle/config.yml
  tests/sources/fixtures/postgresql/config.yml
  tests/sources/fixtures/s3/config.yml
  tests/sources/fixtures/servicenow/config.yml
  tests/sources/fixtures/sharepoint_online/config.yml
  tests/sources/fixtures/sharepoint_server/config.yml
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox

fix lint and test
  config.yml
  connectors/config.py
  tests/test_config.py
Due: none

Fix lint
  scripts/verify.py
Due: none

Clean up config docs and add comments to the default YAML file
  config.yml
  docs/CONFIG.md
Due: none

Get verify to also read default configs
  scripts/verify.py
Due: none

move all config to the config.yml
  config.yml
  docs/CONFIG.md
Due: none

added onedrive connector to hardcoded list
  connectors/config.py
Due: none

Drop standalone isort and use one from ruff distribution (#1449)
  .isort.cfg
  .ruff.toml
  Makefile
  connectors/es/client.py
  requirements/tests.txt
Due: none

Download ContentDocuments and extract binary content
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: none

Add test for combining doc duplicates
  connectors/sources/salesforce.py
  tests/sources/test_salesforce.py
Due: none

Fix lint
  tests/sources/test_salesforce.py
Due: none

Update RCFs
  connectors/sources/salesforce.py
Due: none

Populate webUrl for site pages and list item attachments (#1440)
  connectors/sources/sharepoint_online.py
  tests/sources/fixtures/sharepoint_online/fixture.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**
