Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis, ðŸ”¨ GraphQL

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=mysql
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=network_drive
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=s3
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=google_cloud_storage
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=azure_blob_storage
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=postgresql
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=dir
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=oracle
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=sharepoint_server
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=sharepoint_online
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=mssql
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=jira
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=confluence
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  env:
  - PYTHON_VERSION=3.11
  - DATA_SIZE=small
  - CONNECTOR=servicenow
  command:
  - .buildkite/run_functional_test.sh
  artifact_paths:
  - perf8-report-*/**/*

Update NOTICE.txt
  libs/connectors_sdk/NOTICE.txt
Due: none

Further work
  connectors/sources/gitlab.py
Due: none

Fix typo in notice check (#3750)
  .buildkite/run_notice_check.sh
Due: none

Address review comments
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

make autoformat
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Fixed some Dropbox tests
  app/connectors_service/tests/sources/test_dropbox.py
Due: none

Renamed some files + added import statements to __init__.py files so we can drop .datasource in config.py
  app/connectors_service/connectors/config.py
  app/connectors_service/connectors/sources/directory/__init__.py
  app/connectors_service/connectors/sources/dropbox/__init__.py
  app/connectors_service/connectors/sources/dropbox/client.py
  app/connectors_service/connectors/sources/dropbox/datasource.py
  app/connectors_service/connectors/sources/gmail/__init__.py
  app/connectors_service/connectors/sources/google_cloud_storage/__init__.py
  app/connectors_service/connectors/sources/google_drive/__init__.py
  app/connectors_service/connectors/sources/mongo/__init__.py
  app/connectors_service/connectors/sources/mongo/datasource.py
  app/connectors_service/connectors/sources/mongo/validator.py
  app/connectors_service/connectors/sources/network_drive/__init__.py
  app/connectors_service/tests/sources/test_dropbox.py
  app/connectors_service/tests/sources/test_mongo.py
Due: none

make autoformat
  app/connectors_service/connectors/sources/directory/__init__.py
  app/connectors_service/connectors/sources/dropbox/__init__.py
  app/connectors_service/connectors/sources/dropbox/datasource.py
  app/connectors_service/connectors/sources/gmail/__init__.py
  app/connectors_service/connectors/sources/google_cloud_storage/__init__.py
  app/connectors_service/connectors/sources/google_drive/__init__.py
  app/connectors_service/connectors/sources/mongo/__init__.py
  app/connectors_service/connectors/sources/network_drive/__init__.py
  app/connectors_service/tests/sources/test_dropbox.py
Due: none

Bump main to 9.3 (#3739)
  .backportrc.json
  .buildkite/pipeline.yml
  NOTICE.txt
  catalog-info.yaml
  connectors/VERSION
  renovate.json
Due: none

Bump main to 9.3 (#3739)
  .backportrc.json
  NOTICE.txt
  catalog-info.yaml
  connectors/VERSION
  renovate.json
Due: none

Update NOTICE.txt
  NOTICE.txt
Due: none

Bump version to 9.0.9 for 9.0.8 release
  connectors/VERSION
Due: none

Bump version to 9.0.9 for 9.0.8 release (#3752)
  NOTICE.txt
  connectors/VERSION
Due: none

Bump version to 9.1.6
  connectors/VERSION
Due: none

Bump 9.1 version to 9.1.6 (#3753)
  NOTICE.txt
  connectors/VERSION
Due: none

Temper excessive gh config validation reqs (#3708)
  NOTICE.txt
  connectors/source.py
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Temper excessive gh config validation reqs (#3708)
  connectors/source.py
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Bump product version to 8.19.6
  connectors/VERSION
Due: none

[8.18] Bump product version to 8.18.9
  connectors/VERSION
Due: none

Bump 8.19.6 (#3759)
  connectors/VERSION
Due: none

[8.18] Bump product version to 8.18.9 (#3760)
  connectors/VERSION
Due: none

Incorporate pydantic, remove previous dependency to gitlab client
  connectors/sources/gitlab.py
  requirements/framework.txt
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis, ðŸ”¨ GraphQL

Refactor weird codepath that conflated different fetched data
  connectors/sources/gitlab.py
Due: none

Corrected __init__.py imports by changing to relative imports + add __all__ to prevent ruff from adding a redundant import alias on autoformat + broke out dropbox validator bc I forgot to do it
  app/connectors_service/connectors/sources/directory/__init__.py
  app/connectors_service/connectors/sources/dropbox/__init__.py
  app/connectors_service/connectors/sources/dropbox/client.py
  app/connectors_service/connectors/sources/dropbox/datasource.py
  app/connectors_service/connectors/sources/dropbox/validator.py
  app/connectors_service/connectors/sources/gmail/__init__.py
  app/connectors_service/connectors/sources/google_cloud_storage/__init__.py
  app/connectors_service/connectors/sources/google_drive/__init__.py
  app/connectors_service/connectors/sources/mongo/__init__.py
  app/connectors_service/connectors/sources/network_drive/__init__.py
  app/connectors_service/connectors/sources/shared/database/__init__.py
  app/connectors_service/connectors/sources/shared/google/__init__.py
  app/connectors_service/tests/sources/test_dropbox.py
  app/connectors_service/tests/sources/test_gmail.py
  app/connectors_service/tests/sources/test_google.py
  app/connectors_service/tests/sources/test_google_cloud_storage.py
  app/connectors_service/tests/sources/test_google_drive.py
  app/connectors_service/tests/sources/test_mongo.py
  app/connectors_service/tests/sources/test_network_drive.py
Due: none

fix: Exclude /contentstorage/ URLs from Sharepoint Online Connector
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Fix botched rebase
  app/connectors_service/connectors/sources/directory/__init__.py
  app/connectors_service/connectors/sources/dropbox/__init__.py
  app/connectors_service/connectors/sources/dropbox/datasource.py
  app/connectors_service/connectors/sources/google_drive/__init__.py
  app/connectors_service/tests/sources/test_dropbox.py
Due: none

notice
  app/connectors_service/NOTICE.txt
Due: none

Simplified checks for /contentstorage/ and kept them in the core places
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Fixed Google shared import statements
  app/connectors_service/connectors/sources/directory/__init__.py
  app/connectors_service/connectors/sources/gmail/datasource.py
  app/connectors_service/connectors/sources/google_cloud_storage/datasource.py
  app/connectors_service/connectors/sources/google_drive/clients.py
  app/connectors_service/connectors/sources/google_drive/datasource.py
  app/connectors_service/tests/sources/test_directory.py
Due: none

make autoformat
  app/connectors_service/connectors/sources/directory/__init__.py
Due: none

Correct buildkite label
  catalog-info.yaml
Due: none

Use script in pypi-publish pipeline too
  .buildkite/pypi-publish-pipeline.yml
Due: none

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
  ðŸ”¨ GraphQL: any of: connectors/sources/graphql.py, tests/sources/fixtures/graphql/**, tests/sources/fixtures/fixture.py, ${DOCKERFILE_FTEST_PATH}, requirements/**
