Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ OneDrive:
  label: ðŸ”¨ OneDrive
  command:
  - .buildkite/run_nigthly.sh onedrive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Salesforce:
  label: ðŸ”¨ Salesforce
  command:
  - .buildkite/run_nigthly.sh salesforce small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Zoom:
  label: ðŸ”¨ Zoom
  command:
  - .buildkite/run_nigthly.sh zoom small
  artifact_paths:
  - perf8-report-*/**/*

redis-syncrules
  connectors/sources/redis.py
  tests/sources/test_redis.py
Due: none

redis-syncrule
  connectors/sources/redis.py
  tests/sources/test_redis.py
Due: none

update variable `is_cloud` -> `data_source_type`
  connectors/sources/confluence.py
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira, ðŸ”¨ Confluence

fix lint
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

update test case
  tests/sources/test_redis.py
Due: none

e2e redis
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  tests/sources/fixtures/redis/config.yml
  tests/sources/fixtures/redis/connector.json
  tests/sources/fixtures/redis/docker-compose.yml
  tests/sources/fixtures/redis/fixture.py
  tests/sources/fixtures/redis/requirements.txt
Due: none

remove unused import
  tests/sources/test_redis.py
Due: none

bump es and es-transport to 8.12.0
  requirements/framework.txt
Due: none

Bump elasticsearch and elasticsearch-transport to 8.12.0 (#2084)
  requirements/framework.txt
Due: none

Rename timestamp_optimization
  connectors/es/sink.py
  connectors/sources/google_drive.py
  connectors/sync_job_runner.py
  tests/test_sync_job_runner.py
Due: ðŸ”¨ Google Drive

Rename skip_unchagned_documents
  connectors/sync_job_runner.py
  tests/test_sync_job_runner.py
Due: none

Fix test name
  tests/test_sync_job_runner.py
Due: none

Initial implementation
  connectors/es/sink.py
  connectors/sources/mysql.py
  connectors/sync_job_runner.py
Due: ðŸ”¨ MySQL

Tests and autoformat
  connectors/es/sink.py
  connectors/sources/mysql.py
  connectors/sync_job_runner.py
  tests/test_sync_job_runner.py
Due: ðŸ”¨ MySQL

Add more test to fix coverage limit
  tests/test_sync_job_runner.py
Due: none

Enable default incremental sync for GCS connector
  connectors/sources/google_cloud_storage.py
Due: ðŸ”¨ Google Cloud Storage

Fix tests
  connectors/sync_job_runner.py
  tests/test_sync_job_runner.py
Due: none

Enable default incremental sync for supported connectors
  connectors/sources/box.py
  connectors/sources/confluence.py
  connectors/sources/dropbox.py
  connectors/sources/jira.py
  connectors/sources/network_drive.py
  connectors/sources/onedrive.py
  connectors/sources/servicenow.py
  connectors/sources/sharepoint_server.py
  connectors/sources/zoom.py
Due: ðŸ”¨ Network Drive, ðŸ”¨ Sharepoint Server, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Zoom, ðŸ”¨ Box

Cancel jobs with error if incremental sync isn't supported
  connectors/sync_job_runner.py
  tests/test_sync_job_runner.py
Due: none

lint
  tests/test_sync_job_runner.py
Due: none

Remove comments
  connectors/sync_job_runner.py
Due: none

Drop unnecessary option
  connectors/es/sink.py
  connectors/sources/mysql.py
  connectors/sync_job_runner.py
Due: ðŸ”¨ MySQL

Support timestamp-based optimization (#2057)
  connectors/es/sink.py
  connectors/sources/box.py
  connectors/sources/confluence.py
  connectors/sources/dropbox.py
  connectors/sources/google_cloud_storage.py
  connectors/sources/google_drive.py
  connectors/sources/jira.py
  connectors/sources/network_drive.py
  connectors/sources/onedrive.py
  connectors/sources/servicenow.py
  connectors/sources/sharepoint_server.py
  connectors/sources/zoom.py
  connectors/sync_job_runner.py
  tests/test_sync_job_runner.py
Due: ðŸ”¨ Network Drive, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Sharepoint Server, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Zoom, ðŸ”¨ Box

Retry more error codes
  connectors/es/client.py
Due: none

Rename retry_timeout -> retry_interval
  connectors/config.py
  connectors/es/client.py
  tests/es/test_client.py
Due: none

handle smb connection closed error
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

Add constants + deprecation message
  connectors/config.py
  connectors/es/client.py
  tests/test_config.py
Due: none

Autoformat
  tests/test_config.py
Due: none

Fix packaging
  connectors/utils.py
  setup.py
  tests/test_utils.py
Due: none

Remove function
  setup.py
Due: none

Remove exception
  setup.py
Due: none

Lint
  connectors/utils.py
  setup.py
Due: none

Add max_file_download_size config and expose to DataSource (#2080)
  config.yml
  connectors/config.py
  connectors/services/job_execution.py
  connectors/source.py
  connectors/sources/box.py
  connectors/sources/network_drive.py
  connectors/sync_job_runner.py
  tests/test_sync_job_runner.py
Due: ðŸ”¨ Network Drive, ðŸ”¨ Box

Fix packaging script (#2086)
  connectors/utils.py
  setup.py
  tests/test_utils.py
Due: none

Add faker dependency to tests.txt requirements file
  requirements/tests.txt
Due: none

Add faker dependency to tests.txt requirements file (#2088)
  requirements/tests.txt
Due: none

Return elasticsearch.bulk.max_retries back
  connectors/config.py
  connectors/es/sink.py
Due: none

Remove deprecation notices for now
  connectors/config.py
  tests/test_config.py
Due: none

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**
