Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest

Fix table/db names not being escaped for MySQL connector (#2230)
  connectors/sources/mysql.py
  tests/sources/test_mysql.py
Due: ðŸ”¨ MySQL

remove singleton and call close in ping
  connectors/sources/network_drive.py
  connectors/utils.py
Due: ðŸ”¨ Network Drive

use await since async method
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

Fix specs
  tests/test_connectors_cli.py
Due: none

[CLI] Add connector name support (#2236)
  connectors/cli/connector.py
  connectors/connectors_cli.py
  tests/test_connectors_cli.py
Due: none

Update config.yml
  config.yml
Due: none

bifurcate api for confluence datacenter/server access control
  connectors/sources/atlassian.py
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Jira, ðŸ”¨ Confluence

Catch unauthorized errors during sync
  connectors/protocol/connectors.py
  connectors/sync_job_runner.py
  tests/protocol/test_connectors.py
  tests/test_sync_job_runner.py
Due: none

add custom pagination
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

Add confluence data center/server DLS (#2165)
  connectors/sources/atlassian.py
  connectors/sources/confluence.py
  tests/sources/fixtures/confluence/connector.json
  tests/sources/test_confluence.py
Due: ðŸ”¨ Jira, ðŸ”¨ Confluence

Revert "Add confluence data center/server DLS (#2165)"
  connectors/sources/atlassian.py
  connectors/sources/confluence.py
  tests/sources/fixtures/confluence/connector.json
  tests/sources/test_confluence.py
Due: ðŸ”¨ Jira, ðŸ”¨ Confluence

Avoid ftest perf8 race condition
  tests/ftest.sh
Due: none

missed the 'then'
  tests/ftest.sh
Due: none

[CLI] Show all indices
  connectors/es/management_client.py
  tests/es/test_management_client.py
Due: none

Avoid ftest perf8 race condition (#2243)
  tests/ftest.sh
Due: none

Remove unnecessary ACL index name creator
  connectors/protocol/connectors.py
  connectors/sync_job_runner.py
  tests/protocol/test_connectors.py
  tests/test_sync_job_runner.py
Due: none

Fix lint
  tests/test_sync_job_runner.py
Due: none

Catch unauthorized errors during sync (#2240)
  connectors/sync_job_runner.py
  tests/test_sync_job_runner.py
Due: none

Change some log messages
  connectors/es/client.py
  connectors/preflight_check.py
  connectors/sources/mongo.py
Due: ðŸ”¨ MongoDB

autoformat
  connectors/preflight_check.py
  connectors/sources/mongo.py
Due: ðŸ”¨ MongoDB

fixed test
  tests/es/test_client.py
Due: none

[CLI] Index list shows all indices (#2244)
  connectors/es/management_client.py
  tests/es/test_management_client.py
Due: none

update tooltip and allow same level pagination
  connectors/sources/graphql.py
  tests/sources/test_graphql.py
Due: none

get id from doc
  connectors/sources/graphql.py
  tests/sources/test_graphql.py
Due: none

[PostgreSQL] Add custom pagination to reduce memory consumption (#2242)
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

Generate API keys for native connectors in CLI
  connectors/cli/connector.py
  connectors/connectors_cli.py
  connectors/es/management_client.py
  tests/es/test_management_client.py
Due: none

change some logging (#2249)
  connectors/es/client.py
  connectors/preflight_check.py
  connectors/sources/mongo.py
  tests/es/test_client.py
Due: ðŸ”¨ MongoDB

Update tests and lint
  tests/es/test_management_client.py
  tests/test_connectors_cli.py
Due: none

Create `cli/README.md`
  connectors/cli/README.md
Due: none

[DOCS] Create `cli/README.md` (#2253)
  connectors/cli/README.md
Due: none

[CLI] Create and store API keys for native connectors in CLI (#2252)
  connectors/cli/connector.py
  connectors/connectors_cli.py
  connectors/es/management_client.py
  tests/es/test_management_client.py
  tests/test_connectors_cli.py
Due: none
