Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest

Well, whatever
  .buildkite/pipeline.yml
Due: none

fixed unit test
  tests/sources/test_mysql.py
Due: none

Removed unnecessary change
  tests/sources/fixtures/mssql/fixture.py
Due: ðŸ”¨ Microsoft SQL

catch specific exceptions
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

[MSSQL] Fix serialization to parse time object (#2717)
  connectors/source.py
  tests/sources/fixtures/mssql/fixture.py
Due: ðŸ”¨ Microsoft SQL

[OneDrive] Add support for field mime-type (#2731)
  connectors/sources/onedrive.py
  tests/sources/test_onedrive.py
Due: ðŸ”¨ OneDrive

[MySQL] Add custom pagination to fix connector dies issue (#2729)
  connectors/sources/mysql.py
  lib64
  tests/sources/test_mysql.py
Due: ðŸ”¨ MySQL

resloved conflicts
  connectors/sources/atlassian.py
  connectors/sources/confluence.py
  tests/sources/fixtures/confluence/fixture.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Jira, ðŸ”¨ Confluence

revert changes
  Dockerfile.ftest.wolfi
  Dockerfile.wolfi
  connectors/es/sink.py
  connectors/service_cli.py
  connectors/source.py
  connectors/sources/github.py
  connectors/sources/google_drive.py
  connectors/sources/mssql.py
  connectors/sources/mysql.py
  connectors/sources/onedrive.py
  connectors/sources/sharepoint_server.py
  requirements/framework.txt
  scripts/stack/docker/docker-compose.yml
  scripts/stack/run-stack.sh
  tests/sources/fixtures/github/fixture.py
  tests/sources/fixtures/mssql/fixture.py
  tests/sources/fixtures/sharepoint_server/connector.json
  tests/sources/fixtures/sharepoint_server/fixture.py
  tests/sources/test_github.py
  tests/sources/test_google_drive.py
  tests/sources/test_mssql.py
  tests/sources/test_mysql.py
  tests/sources/test_onedrive.py
  tests/sources/test_sharepoint_server.py
  tests/test_content_extraction.py
  tests/test_service_cli.py
  tests/test_sink.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

revert deleted files
  lib64
  renovate.json
  tests/sources/fixtures/sharepoint_server/connector.json
Due: ðŸ”¨ Sharepoint Server

Bump msal to 1.30.0
  requirements/framework.txt
Due: none

Bump version to 8.15.0.1
  connectors/VERSION
Due: none

Bump version to 8.15.0.1 (#2741)
  connectors/VERSION
Due: none

Bump msal to 1.30.0 (#2740)
  requirements/framework.txt
Due: none

Let's see
  .buildkite/pipeline.yml
Due: none

Add LL
  .buildkite/pipeline.yml
Due: none

Typo
  .buildkite/pipeline.yml
Due: none

Let's do with sudo
  .buildkite/pipeline.yml
Due: none

Catting bashrc
  .buildkite/pipeline.yml
Due: none

Whoami?
  .buildkite/pipeline.yml
Due: none

Drop LL
  .buildkite/pipeline.yml
Due: none

Well let's try again
  .buildkite/pipeline.yml
Due: none

Just for experiment
  .buildkite/pipeline.yml
Due: none

Try this?
  .buildkite/pipeline.yml
Due: none

Use just python, not python3
  Makefile
Due: none

Small changes here and there
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  .buildkite/run_nigthly.sh
Due: none

This?
  .buildkite/pipeline.yml
Due: none

Cat profile
  .buildkite/pipeline.yml
Due: none

Let's run stuff via shell scripts
  .buildkite/pipeline.yml
  .buildkite/run_linter.sh
  .buildkite/run_tests.sh
Due: none

Hope linter/tester will work
  .buildkite/pipeline.yml
  .buildkite/run_linter.sh
  .buildkite/run_tests.sh
Due: none

Sauce
  .buildkite/run_linter.sh
  .buildkite/run_tests.sh
Due: none

Fix linter step
  .buildkite/run_linter.sh
Due: none

Some fixes for linter/tester
  .buildkite/pipeline.yml
  .buildkite/run_linter.sh
  .buildkite/run_tests.sh
Due: none

Fix the pipeline
  .buildkite/pipeline.yml
  .buildkite/run_functional_test.sh
Due: none

Fix command for ftest
  .buildkite/run_functional_test.sh
Due: none

A bit of echo
  .buildkite/run_functional_test.sh
  .buildkite/run_linter.sh
  .buildkite/run_tests.sh
Due: none
