Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest

increase test coverage
  tests/sources/test_opentext_documentum.py
Due: none

Opentext Documentum connector (#2318)
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  connectors/config.py
  connectors/sources/opentext_documentum.py
  tests/sources/fixtures/opentext_documentum/.env
  tests/sources/fixtures/opentext_documentum/config.yml
  tests/sources/fixtures/opentext_documentum/connector.json
  tests/sources/fixtures/opentext_documentum/docker-compose.yml
  tests/sources/fixtures/opentext_documentum/fixture.py
  tests/sources/fixtures/opentext_documentum/requirements.txt
  tests/sources/test_opentext_documentum.py
Due: none

add doc for graphql
  docs/reference/graphql.md
Due: none

[Confluence] Ensure end signals are added to queue if exception occurs (#2380)
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

narrow down skipping to external_objects
  connectors/sources/notion.py
Due: ðŸ”¨ Notion

[Jira] Add a new field for project and issue doc (#2390)
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

rename method and add more tests
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Add tests
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Update config validation to support GitHub App authentication
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Add unit test for atlassian fetch_all_users
  tests/sources/test_atlassian.py
Due: none

autoformat
  tests/sources/test_atlassian.py
Due: none

not working yet
  connectors/es/sink.py
  connectors/sync_job_runner.py
  connectors/utils.py
Due: none

Add callbacks, and make them work
  connectors/es/sink.py
  connectors/sync_job_runner.py
  connectors/utils.py
  tests/test_sink.py
Due: none

Removed _result_callback from ConcurrentTasks utility
  connectors/es/sink.py
  connectors/utils.py
  tests/test_utils.py
Due: none

Cancel task queues on errors, and rename error vars
  connectors/es/sink.py
  connectors/utils.py
  tests/test_sink.py
  tests/test_utils.py
Due: none

Safer class name referencing
  connectors/es/sink.py
Due: none

Add task names so that async error messages make more sense
  connectors/es/sink.py
  connectors/utils.py
Due: none

Remove reproducing error
  connectors/es/sink.py
Due: none

autoformat
  connectors/es/sink.py
Due: none

Pyright doesn't like __class__.__name__
  connectors/es/sink.py
Due: none

Replace fetch_error with get_error or extractor_error
  connectors/es/sink.py
  tests/test_sink.py
  tests/test_sync_job_runner.py
Due: none

Fix sync orchestrator's definition of done
  connectors/es/sink.py
  connectors/sync_job_runner.py
Due: none

Add unit test for atlassian fetch_all_users (#2398)
  tests/sources/test_atlassian.py
Due: none

Test change to send different telemetry
  connectors/es/document.py
  connectors/logger.py
  connectors/protocol/connectors.py
  connectors/services/access_control_sync_job_execution.py
  connectors/services/base.py
  connectors/services/content_sync_job_execution.py
  connectors/services/job_cleanup.py
  connectors/services/job_execution.py
  connectors/services/job_scheduling.py
Due: none

use message property of error in place of str
  connectors/sources/notion.py
  tests/sources/test_notion.py
Due: ðŸ”¨ Notion

More stuff for better logging
  connectors/services/base.py
  connectors/services/job_cleanup.py
  connectors/services/job_execution.py
  connectors/services/job_scheduling.py
Due: none

Bump to 8.15
  .backportrc.json
  catalog-info.yaml
  connectors/VERSION
  tests/ftest.sh
Due: none

Attempt to handle errors from Sink (#2364)
  connectors/es/sink.py
  connectors/sync_job_runner.py
  connectors/utils.py
  tests/test_sink.py
  tests/test_sync_job_runner.py
  tests/test_utils.py
Due: none

new community slack channel
  docs/SUPPORT.md
Due: none

[Notion] [Bugfix] Handle error on fetching children of external objects (#2337)
  connectors/sources/notion.py
  tests/sources/test_notion.py
Due: ðŸ”¨ Notion

Update config validation to support GitHub App authentication (#2384)
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Update GitHub access control sync to support GitHub App
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

reuse constant
  tests/sources/test_github.py
Due: none

extend _get_repos to _get_owners and add test
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

update doc as per suggestion
  docs/reference/graphql.md
Due: none

add example
  docs/reference/graphql.md
Due: none

Provice example certificate path in the config.yml comment
  config.yml.example
Due: none
