Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ OneDrive:
  label: ðŸ”¨ OneDrive
  command:
  - .buildkite/run_nigthly.sh onedrive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Salesforce:
  label: ðŸ”¨ Salesforce
  command:
  - .buildkite/run_nigthly.sh salesforce small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Zoom:
  label: ðŸ”¨ Zoom
  command:
  - .buildkite/run_nigthly.sh zoom small
  artifact_paths:
  - perf8-report-*/**/*

clean more things (#2694)
  Makefile
Due: none

Log in UTC, and simplify level style
  connectors/logger.py
Due: none

autoformat
  connectors/logger.py
Due: none

fix ftest
  tests/sources/fixtures/github/fixture.py
Due: ðŸ”¨ GitHub

views ingestion fixed for MSSQL
  connectors/sources/mssql.py
  tests/sources/test_mssql.py
Due: ðŸ”¨ Microsoft SQL

Log error when sync ends
  connectors/sync_job_runner.py
Due: none

[WIP] work on packaging
  package/connectors/__init__.py
  package/connectors/connector_base.py
  package/connectors/generated/azure_blob_storage.py
  package/connectors/generated/box.py
  package/connectors/generated/confluence.py
  package/connectors/generated/dir.py
  package/connectors/generated/dropbox.py
  package/connectors/generated/github.py
  package/connectors/generated/gmail.py
  package/connectors/generated/google_cloud_storage.py
  package/connectors/generated/google_drive.py
  package/connectors/generated/graphql.py
  package/connectors/generated/jira.py
  package/connectors/generated/microsoft_teams.py
  package/connectors/generated/mongodb.py
  package/connectors/generated/mssql.py
  package/connectors/generated/mysql.py
  package/connectors/generated/network_drive.py
  package/connectors/generated/notion.py
  package/connectors/generated/onedrive.py
  package/connectors/generated/oracle.py
  package/connectors/generated/outlook.py
  package/connectors/generated/postgresql.py
  package/connectors/generated/redis.py
  package/connectors/generated/s3.py
  package/connectors/generated/salesforce.py
  package/connectors/generated/servicenow.py
  package/connectors/generated/sharepoint_online.py
  package/connectors/generated/sharepoint_server.py
  package/connectors/generated/slack.py
  package/connectors/generated/zoom.py
  package/setup.py
  requirements/package-dev.txt
  scripts/codegen/generate_connectors_init.py
  scripts/codegen/templates/connector_template.jinja2
Due: none

WIP
  package/__init__.py
  package/connectors/__init__.py
  package/connectors/generated/dir.py
  package/setup.py
  scripts/codegen/generate_connectors_init.py
  scripts/codegen/templates/init_template.jinja2
Due: none

Code review comments and add test
  connectors/logger.py
  tests/test_logger.py
Due: none

Clean up color logic a bit
  connectors/logger.py
Due: none

add trashedTime for shared files
  connectors/sources/google_drive.py
  tests/sources/test_google_drive.py
Due: ðŸ”¨ Google Drive

linting error fixed
  connectors/sources/mssql.py
Due: ðŸ”¨ Microsoft SQL

update makefile
  Makefile
Due: none

Split _fetch_files into fetch_files and fetch_files_by_path
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

api_call method's termination modified
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

Add docs, cleanup repo
  .gitignore
  Makefile
  package/README.md
  package/connector_base.py
  package/docs/.pages
  package/docs/README.md
  package/docs/generated.azure_blob_storage.md
  package/docs/generated.box.md
  package/docs/generated.confluence.md
  package/docs/generated.dir.md
  package/docs/generated.dropbox.md
  package/docs/generated.github.md
  package/docs/generated.gmail.md
  package/docs/generated.google_cloud_storage.md
  package/docs/generated.google_drive.md
  package/docs/generated.graphql.md
  package/docs/generated.jira.md
  package/docs/generated.microsoft_teams.md
  package/docs/generated.mongodb.md
  package/docs/generated.mssql.md
  package/docs/generated.mysql.md
  package/docs/generated.network_drive.md
  package/docs/generated.notion.md
  package/docs/generated.onedrive.md
  package/docs/generated.oracle.md
  package/docs/generated.outlook.md
  package/docs/generated.postgresql.md
  package/docs/generated.redis.md
  package/docs/generated.s3.md
  package/docs/generated.salesforce.md
  package/docs/generated.servicenow.md
  package/docs/generated.sharepoint_online.md
  package/docs/generated.sharepoint_server.md
  package/docs/generated.slack.md
  package/docs/generated.zoom.md
  package/setup.py
  requirements/package-dev.txt
Due: none

Linting error fixed
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

Delete unused scrupt
  scripts/package/manage_package.sh
Due: none

Bump connectors VERSION to 8.14.4.0
  connectors/VERSION
Due: none

Actually we bump to 8.14.3.1
  connectors/VERSION
Due: none

Another attempt to fix the issue by ignoring weird errors
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Bump VERSION to 8.14.3.1 (#2703)
  connectors/VERSION
Due: none

reverting unnecessary change
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

expanded error handling
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

log in utc (#2695)
  connectors/logger.py
  tests/test_logger.py
Due: none

sharepoint NTLM authentication support
  connectors/sources/sharepoint_server.py
  requirements/framework.txt
  tests/sources/fixtures/sharepoint_server/connector.json
  tests/sources/test_sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

optimise memomry and use return instead yield
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

fixed CI
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

Cancel and fail downloads if exception happened
  connectors/es/sink.py
  tests/test_sink.py
Due: none

Make autoformat
  tests/test_sink.py
Due: none

Actually raise when cancelling downloads too
  connectors/es/sink.py
Due: none

Fixed github rate limit error
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

removed awaitableasyncmock
  tests/sources/test_confluence.py
Due: none

[DOCS] Update connectors overview table for 8.15
  docs/REFERENCE.md
Due: none

[DOCS] Update connectors overview table for 8.15 (#2712)
  docs/REFERENCE.md
Due: none

Cancel and fail downloads if exception happened (#2710)
  connectors/es/sink.py
  tests/test_sink.py
Due: none

[Confluence] Fix flaky test case (#2668)
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
