Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**

Make mongodb work without admin privelege
  connectors/sources/mongo.py
  tests/sources/test_mongo.py
Due: ðŸ”¨ MongoDB

Remove unnecessary expand_wildcard option
  connectors/es/management_client.py
  connectors/kibana.py
  connectors/preflight_check.py
  tests/es/test_management_client.py
  tests/test_kibana.py
  tests/test_preflight_check.py
  tests/test_sink.py
Due: none

[Google Drive] Fix permission fetching bug for domain-wide delegation sync
  connectors/sources/google_drive.py
Due: ðŸ”¨ Google Drive

Fix linter stage
  connectors/cli/connector.py
  connectors/cli/job.py
Due: none

add servicenow dls doc
  docs/document-level-security/SERVICENOW.md
Due: none

Replace more places accessing Elasticsearch client directly with proxied calls (#2016)
  connectors/cli/auth.py
  connectors/cli/connector.py
  connectors/cli/index.py
  connectors/cli/job.py
  connectors/es/client.py
  connectors/es/management_client.py
  connectors/es/settings.py
  connectors/es/sink.py
  connectors/kibana.py
  connectors/preflight_check.py
  connectors/services/job_cleanup.py
  tests/es/test_client.py
  tests/es/test_management_client.py
  tests/services/test_job_cleanup.py
  tests/sources/fixtures/fixture.py
  tests/test_connectors_cli.py
  tests/test_kibana.py
  tests/test_sink.py
Due: none

update gcs fetch buckets method
  connectors/sources/azure_blob_storage.py
  connectors/sources/google_cloud_storage.py
  tests/sources/test_google_cloud_storage.py
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage

Fix problems with tests
  connectors/sources/mongo.py
  tests/sources/test_mongo.py
Due: ðŸ”¨ MongoDB

Fix more problems reported by CI
  connectors/sources/mongo.py
  tests/sources/test_mongo.py
Due: ðŸ”¨ MongoDB

incorporate pr comments
  connectors/sources/salesforce.py
Due: ðŸ”¨ Salesforce

add mapping of roles
  docs/document-level-security/SERVICENOW.md
Due: none

Address review comment
  connectors/sources/mongo.py
Due: ðŸ”¨ MongoDB

Autoformat
  connectors/sources/mongo.py
Due: ðŸ”¨ MongoDB

Make bin/connectors index output help
  connectors/connectors_cli.py
Due: none

Make clean_index method proceed on conflicts
  connectors/es/index.py
Due: none

Fix linters
  connectors/es/index.py
Due: none

Adapt files list query
  connectors/sources/google_drive.py
Due: ðŸ”¨ Google Drive

make lint
  connectors/sources/google_drive.py
Due: ðŸ”¨ Google Drive

update README; .gitignore
  .gitignore
  scripts/stack/README.md
Due: none

Make bin/connectors index without arguments output help (#2028)
  connectors/connectors_cli.py
Due: none

Make clean_index method proceed on conflicts (#2029)
  connectors/es/index.py
Due: none

[CLI] Add documentation
  README.md
  docs/CLI.md
Due: none

Address feedback
  docs/CLI.md
Due: none

silly spelling error
  scripts/stack/README.md
Due: none

add log into Kibana instructions
  scripts/stack/README.md
  scripts/stack/run-stack.sh
Due: none

Fix sharepoint server SSL options
  connectors/sources/sharepoint_server.py
  tests/sources/test_sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

Added new RCF `bucket` for GCS and ABS (#1982)
  connectors/sources/azure_blob_storage.py
  connectors/sources/google_cloud_storage.py
  tests/sources/fixtures/azure_blob_storage/connector.json
  tests/sources/fixtures/google_cloud_storage/connector.json
  tests/sources/test_azure_blob_storage.py
  tests/sources/test_google_cloud_storage.py
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage

address comments
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

[GitHub] Fix scopes related issue (#1997)
  connectors/sources/github.py
  tests/sources/fixtures/github/fixture.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

address comments
  docs/document-level-security/SERVICENOW.md
Due: none

[CLI] Add documentation (#2031)
  README.md
  docs/CLI.md
Due: none

[Google Drive] Fix permission fetching bug for domain-wide delegation sync (#2024)
  connectors/sources/google_drive.py
Due: ðŸ”¨ Google Drive

Make mongodb work without admin privelege (#2023)
  connectors/sources/mongo.py
  tests/sources/test_mongo.py
Due: ðŸ”¨ MongoDB

add inline comments
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

fix formatting
  tests/sources/test_network_drive.py
Due: none

Remove automatically deleting indices for orphaned jobs
  LICENSE
  connectors/services/job_cleanup.py
  tests/services/test_job_cleanup.py
Due: none
