Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**

Bump version to 8.10.2 (#1657)
  connectors/VERSION
Due: none

add e2e
  connectors/sources/box.py
  tests/sources/fixtures/box/.env
  tests/sources/fixtures/box/config.yml
  tests/sources/fixtures/box/connector.json
  tests/sources/fixtures/box/docker-compose.yml
  tests/sources/fixtures/box/fixture.py
Due: none

Add retryable to bulk api call (#1658)
  connectors/config.py
  connectors/es/sink.py
  connectors/utils.py
  tests/test_sink.py
Due: none

add box in nightly_steps.yml
  .buildkite/nightly_steps.yml
Due: none

add box in pipeline.yml
  .buildkite/pipeline.yml
Due: none

Outlook Documentation (#1641)
  docs/REFERENCE.md
  docs/reference/outlook.md
Due: none

Fetch sitegroup members for ACL
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Run linter
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Fix tests
  connectors/.DS_Store
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Remove duplicate test
  tests/sources/test_sharepoint_online.py
Due: none

Delete editor files
  connectors/.DS_Store
Due: none

Fix linting
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

[SPO] Handle aiohttp.ClientPayloadError (#1660)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Retrieve individual sites when site collections are configured
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Include UserPrincipalName in the ACL
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

add BOX_BASE_URL
  connectors/sources/box.py
  tests/sources/fixtures/box/docker-compose.yml
Due: none

[SPO] Handle aiohttp.ClientPayloadError (#1660) (#1663)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

[SPO] Handle email used as usernames for access control syncs
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Address review feedback, add tests
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Fix typos
  tests/sources/test_sharepoint_online.py
Due: none

Add subsite fetching
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Add 'migration' for newly added RCFs.
  connectors/protocol/connectors.py
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Eliminate unnecessary cache purging
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Fix yaml indentation (#1614) (#1654)
  docs/CONFIG.md
Due: none

Fix lint
  tests/sources/test_sharepoint_online.py
Due: none

Fix cache key to be globally unique
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Search API POC
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

[SPO] Add logic to handle sitegroups in ACL for drive_items and sites (#1659)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Update all config meta fields, not just those that are net-new
  connectors/protocol/connectors.py
  connectors/sources/sharepoint_online.py
  tests/protocol/test_connectors.py
Due: ðŸ”¨ Sharepoint Online

Fix tests
  tests/protocol/test_connectors.py
  tests/sources/test_sharepoint_online.py
Due: none

lint
  connectors/protocol/connectors.py
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Update VERSION for 8.10.2 release
  connectors/VERSION
Due: none

better recursion of subsites
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Tests for new recursion approach
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Improve tooltip messages, improve logic to handle admin emails, intorduce email for shared drives sync
  connectors/sources/google_drive.py
Due: ðŸ”¨ Google Drive

Fix failing tests
  tests/sources/fixtures/google_drive/connector.json
  tests/sources/test_google_drive.py
Due: ðŸ”¨ Google Drive

Update tests
  tests/sources/test_google_drive.py
Due: none

Make code clearer
  connectors/sources/google_drive.py
Due: ðŸ”¨ Google Drive

[SPO] Add logic to handle sitegroups in ACL for drive_items and sites (#1659)
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online
