Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server extra_small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

Override default auth with connector api key
  connectors/config.py
  tests/test_config.py
Due: none

Fix slack time range error (#1545)
  connectors/sources/slack.py
  tests/sources/test_slack.py
Due: none

[OneDrive] Add sync rules (#1483)
  connectors/sources/onedrive.py
  docs/sync-rules/ONEDRIVE.md
  tests/sources/test_onedrive.py
Due: none

Revert removed boolean `value` fields (#1552)
  connectors/sources/confluence.py
  connectors/sources/github.py
  connectors/sources/google_drive.py
  connectors/sources/jira.py
  connectors/sources/mongo.py
  connectors/sources/mssql.py
  connectors/sources/mysql.py
  connectors/sources/postgresql.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Postgresql, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive

Revert "Add "get_last_update_time" to MySQLClient"
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL

Also check configuration value, if dls is enabled or not.
  connectors/sources/gmail.py
  tests/sources/test_gmail.py
Due: none

[GMail] Consider RCF configuration value in dls_enabled check (#1555)
  connectors/sources/gmail.py
  tests/sources/test_gmail.py
Due: none

Resolve merge conflicts
  connectors/sources/gmail.py
  tests/test_gmail.py
Due: none

Fix backport
  tests/test_gmail.py
Due: none

[Setup] Use team email as author email (#1548)
  setup.py
Due: none

Validate subject field value.
  connectors/sources/gmail.py
  connectors/sources/google_drive.py
  connectors/utils.py
  tests/sources/test_gmail.py
  tests/test_utils.py
Due: ðŸ”¨ Google Drive

Simplify tests
  tests/sources/test_gmail.py
Due: none

Add auth check to validate_config in GMail connector (checking for 401 errors).
  connectors/sources/gmail.py
  connectors/sources/google.py
  tests/sources/test_gmail.py
Due: none

Adjust error message
  connectors/sources/gmail.py
Due: none

Dockerfile renames
  Dockerfile
  Dockerfile.ftest
  Makefile
  docs/DOCKER.md
  tests/sources/fixtures/confluence/docker-compose.yml
  tests/sources/fixtures/dropbox/docker-compose.yml
  tests/sources/fixtures/github/docker-compose.yml
  tests/sources/fixtures/google_cloud_storage/docker-compose.yml
  tests/sources/fixtures/google_drive/docker-compose.yml
  tests/sources/fixtures/jira/docker-compose.yml
  tests/sources/fixtures/onedrive/docker-compose.yml
  tests/sources/fixtures/servicenow/docker-compose.yml
  tests/sources/fixtures/sharepoint_online/docker-compose.yml
  tests/sources/fixtures/sharepoint_server/docker-compose.yml
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox

separate out common methods from jira to atlassian.py
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

Remove semicolon (sigh)
  tests/sources/fixtures/onedrive/docker-compose.yml
Due: none

Fix test
  tests/sources/test_gmail.py
Due: none

Fix mongodb tests by removing mocking of _get_socket + patching admin ping call (#1514)
  tests/sources/test_mongo.py
Due: none

Add pagination to fetch azure AD users
  connectors/sources/outlook.py
  tests/sources/test_outlook.py
Due: none

Docs
  docs/REFERENCE.md
  docs/reference/zoom.md
Due: none

Fix stuff
  tests/sources/test_mongo.py
Due: none

Fix test
  tests/sources/test_mongo.py
Due: none

[GMail] Validate subject RCF value (#1557)
  connectors/sources/gmail.py
  connectors/sources/google_drive.py
  connectors/utils.py
  tests/sources/test_gmail.py
  tests/test_utils.py
Due: ðŸ”¨ Google Drive

[DLS] Remove must_not exists clause from access control query (#1531)
  connectors/access_control.py
  tests/sources/test_confluence.py
  tests/sources/test_google_drive.py
  tests/sources/test_jira.py
  tests/test_access_control.py
Due: none

Fix mongodb tests by removing mocking of _get_socket + patching admin ping call (#1514) (#1561)
  tests/sources/test_mongo.py
Due: none

Fix mongodb tests by removing mocking of _get_socket + patching admin ping call (#1514) (#1562)
  tests/sources/test_mongo.py
Due: none

[DOCS] Update README.md (#1537) (#1551)
  README.md
Due: none

revert code to latest one
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

Add "get_last_update_time" to MySQLClient
  connectors/sources/mysql.py
Due: ðŸ”¨ MySQL

[GMail] Validate GMail authentication (#1558)
  connectors/sources/gmail.py
  connectors/sources/google.py
  tests/sources/test_gmail.py
Due: none

remove loget and add anext to get json
  connectors/sources/microsoft_teams.py
Due: none

Validate google directory auth in GMail connector.
  connectors/sources/gmail.py
  tests/sources/test_gmail.py
Due: none

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**
