Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ OneDrive:
  label: ðŸ”¨ OneDrive
  command:
  - .buildkite/run_nigthly.sh onedrive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Salesforce:
  label: ðŸ”¨ Salesforce
  command:
  - .buildkite/run_nigthly.sh salesforce small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Zoom:
  label: ðŸ”¨ Zoom
  command:
  - .buildkite/run_nigthly.sh zoom small
  artifact_paths:
  - perf8-report-*/**/*

add more comments and test
  connectors/utils.py
  tests/test_utils.py
Due: none

revert changes to exception logging
  connectors/utils.py
  tests/test_utils.py
Due: none

Use Semaphore instead of asyncio.Event to control the max concurrency
  connectors/utils.py
  tests/test_utils.py
Due: none

Use BoundedSemaphore and add more tests
  connectors/utils.py
  tests/test_utils.py
Due: none

Separate JobExecutionSerivce to ContentSyncJobExecutionService and AccessControlSyncJobExecutionService
  connectors/cli.py
  connectors/services/access_control_sync_job_execution.py
  connectors/services/content_sync_job_execution.py
  connectors/services/job_execution.py
  tests/services/test_access_control_sync_job_execution.py
  tests/services/test_content_sync_job_execution.py
  tests/services/test_job_execution.py
Due: none

Add new services to __init__
  connectors/services/__init__.py
Due: none

fix CI
  connectors/services/__init__.py
  connectors/services/access_control_sync_job_execution.py
  connectors/services/content_sync_job_execution.py
  connectors/services/job_execution.py
  tests/services/test_access_control_sync_job_execution.py
  tests/services/test_content_sync_job_execution.py
  tests/services/test_job_execution.py
Due: none

Update connectors/es/sink.py
  connectors/es/sink.py
Due: none

Enable S rule
  .ruff.toml
  connectors/cli.py
  connectors/sources/directory.py
  connectors/sources/dropbox.py
  connectors/sources/microsoft_teams.py
  connectors/sources/outlook.py
  connectors/sources/s3.py
  connectors/sources/salesforce.py
  connectors/utils.py
Due: ðŸ”¨ Amazon S3, ðŸ”¨ System Directory, ðŸ”¨ Dropbox, ðŸ”¨ Salesforce, ðŸ”¨ Microsoft Teams

Make autoformat
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

rename service names
  connectors/cli.py
  connectors/services/access_control_sync_job_execution.py
  connectors/services/content_sync_job_execution.py
Due: none

Enable ISC rule + autoformat (#1856)
  .ruff.toml
  tests/sources/fixtures/postgresql/fixture.py
Due: ðŸ”¨ Postgresql

Update user agent string for the ES client
  connectors/es/client.py
Due: none

Use self-managed instead of self-hosted
  docs/DOCKER.md
Due: none

Update user agent string for the ES client (#1858)
  connectors/es/client.py
Due: none

make load_max_concurrent_access_control_syncs inline
  connectors/services/access_control_sync_job_execution.py
  tests/services/test_access_control_sync_job_execution.py
Due: none

Fix merge
  .ruff.toml
Due: none

Fix merge + sort ignores
  .ruff.toml
Due: none

Revert change to convert_to_b64
  connectors/utils.py
Due: none

Remove convert_file_to_b64 in SP Server (unused)
  connectors/sources/sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

Make autoformat
  connectors/sources/sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

Remove convert_file_to_b64 in SP Server (unused) (#1862)
  connectors/sources/sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

Clean up unused code
  connectors/es/client.py
  connectors/es/sink.py
  connectors/filtering/basic_rule.py
  connectors/filtering/validation.py
  connectors/kibana.py
  connectors/sources/dropbox.py
  connectors/sources/gmail.py
  connectors/sources/google_cloud_storage.py
  connectors/sources/mysql.py
  connectors/sources/sharepoint_online.py
  connectors/sources/slack.py
  tests/filtering/test_basic_rule.py
  tests/sources/test_mysql.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Sharepoint Online, ðŸ”¨ Dropbox

[Docker] Add link to docker image registry with connectors images
  docs/DOCKER.md
Due: none

Update DOCKER.md with link to elastic docker registry
  docs/DOCKER.md
Due: none

Update typo
  docs/DOCKER.md
Due: none

Fix ticking timebomb in tests
  tests/sources/test_sharepoint_online.py
Due: none

Remove redundant line
  connectors/es/sink.py
Due: none

Fix failing SPO test that checks incremental sync
  tests/sources/test_sharepoint_online.py
Due: none

Break assert into pieces to make sure errors are easier to spot
  tests/sources/test_sharepoint_online.py
Due: none

Update DOCKER.md with link to elastic docker registry (#1866)
  docs/DOCKER.md
  tests/sources/test_sharepoint_online.py
Due: none

Explain why -2
  tests/sources/test_sharepoint_online.py
Due: none

Make autoformat
  tests/sources/test_sharepoint_online.py
Due: none

update code of dls with batching
  connectors/sources/dropbox.py
  tests/sources/fixtures/dropbox/connector.json
  tests/sources/test_dropbox.py
Due: ðŸ”¨ Dropbox

Update asserts in test_get_docs_incrementally to make it easier to spot problems (#1867)
  tests/sources/test_sharepoint_online.py
Due: none

fix lint error
  connectors/sources/dropbox.py
Due: ðŸ”¨ Dropbox

Improve the logic around loop closing + comment
  tests/test_utils.py
Due: none

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**
