Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

ðŸ”¨ MySQL:
  label: ðŸ”¨ MySQL
  command:
  - .buildkite/run_nigthly.sh mysql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Network Drive:
  label: ðŸ”¨ Network Drive
  command:
  - .buildkite/run_nigthly.sh network_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Amazon S3:
  label: ðŸ”¨ Amazon S3
  command:
  - .buildkite/run_nigthly.sh s3 small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Cloud Storage:
  label: ðŸ”¨ Google Cloud Storage
  command:
  - .buildkite/run_nigthly.sh google_cloud_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Azure Blob Storage:
  label: ðŸ”¨ Azure Blob Storage
  command:
  - .buildkite/run_nigthly.sh azure_blob_storage small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Postgresql:
  label: ðŸ”¨ Postgresql
  command:
  - .buildkite/run_nigthly.sh postgresql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ System Directory:
  label: ðŸ”¨ System Directory
  command:
  - .buildkite/run_nigthly.sh dir small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Oracle Database:
  label: ðŸ”¨ Oracle Database
  command:
  - .buildkite/run_nigthly.sh oracle small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Server:
  label: ðŸ”¨ Sharepoint Server
  command:
  - .buildkite/run_nigthly.sh sharepoint_server small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Sharepoint Online:
  label: ðŸ”¨ Sharepoint Online
  command:
  - .buildkite/run_nigthly.sh sharepoint_online small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Microsoft SQL:
  label: ðŸ”¨ Microsoft SQL
  command:
  - .buildkite/run_nigthly.sh mssql small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Jira:
  label: ðŸ”¨ Jira
  command:
  - .buildkite/run_nigthly.sh jira small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Confluence:
  label: ðŸ”¨ Confluence
  command:
  - .buildkite/run_nigthly.sh confluence small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ ServiceNow:
  label: ðŸ”¨ ServiceNow
  command:
  - .buildkite/run_nigthly.sh servicenow small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ MongoDB:
  label: ðŸ”¨ MongoDB
  command:
  - .buildkite/run_nigthly.sh mongodb small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ GitHub:
  label: ðŸ”¨ GitHub
  command:
  - .buildkite/run_nigthly.sh github small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Google Drive:
  label: ðŸ”¨ Google Drive
  command:
  - .buildkite/run_nigthly.sh google_drive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Dropbox:
  label: ðŸ”¨ Dropbox
  command:
  - .buildkite/run_nigthly.sh dropbox small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ OneDrive:
  label: ðŸ”¨ OneDrive
  command:
  - .buildkite/run_nigthly.sh onedrive small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Salesforce:
  label: ðŸ”¨ Salesforce
  command:
  - .buildkite/run_nigthly.sh salesforce small
  artifact_paths:
  - perf8-report-*/**/*

ðŸ”¨ Zoom:
  label: ðŸ”¨ Zoom
  command:
  - .buildkite/run_nigthly.sh zoom small
  artifact_paths:
  - perf8-report-*/**/*

Remove pyright ignore
  connectors/sources/jira.py
Due: ðŸ”¨ Jira

Update connectors/sources/dropbox.py
  connectors/sources/dropbox.py
Due: ðŸ”¨ Dropbox

Add header information to debug log
  connectors/sources/dropbox.py
Due: ðŸ”¨ Dropbox

Autoformat and fix suggestions
  connectors/sources/dropbox.py
Due: ðŸ”¨ Dropbox

Add info progress log line
  connectors/sources/dropbox.py
Due: ðŸ”¨ Dropbox

incremental sync
  connectors/sources/sharepoint_server.py
  tests/sources/test_sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

[Network Drive]Add local extraction feature (#2202)
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

address suggestions
  connectors/sources/confluence.py
  connectors/sources/mssql.py
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql, ðŸ”¨ Microsoft SQL, ðŸ”¨ Confluence

Apply function nested_get_from_dict to more places (#2330)
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Bump VERSION to 8.13.1.1
  connectors/VERSION
Due: none

incremental sync
  connectors/sources/sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

refactor GitHubClient
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Remove headers again
  connectors/sources/dropbox.py
Due: ðŸ”¨ Dropbox

Bump connectors VERSION to 8.13.1.1 (#2332)
  connectors/VERSION
Due: none

Autoformat
  connectors/sources/dropbox.py
Due: ðŸ”¨ Dropbox

add RCF for unique field
  connectors/sources/graphql.py
  tests/sources/test_graphql.py
Due: none

handle error on fetching children of external object
  connectors/sources/notion.py
Due: ðŸ”¨ Notion

add test for external_object_instance_page
  tests/sources/test_notion.py
Due: none

[Network Drive] Change traversal strategy to ingest as you go instead of pre-fetching the whole tree (#2286)
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

Fix merge issue
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

Log all counters
  connectors/sync_job_runner.py
  tests/test_sync_job_runner.py
Due: none

autoformat
  connectors/sync_job_runner.py
Due: none

Log full dict, separate to own func, and add docstring explanation
  connectors/sync_job_runner.py
Due: none

Add logs for cloud based connectors
  connectors/sources/box.py
  connectors/sources/dropbox.py
  connectors/sources/google_cloud_storage.py
  connectors/sources/onedrive.py
  connectors/sources/s3.py
Due: ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Box

Made Site collections required to contain the entire URL so that the connector supports Host Named Site Collections. Added support for NTLM by switching from aiohttp to httpx.
  connectors/sources/sharepoint_server.py
  requirements/framework.txt
Due: ðŸ”¨ Sharepoint Server

Removed asyncio from imports
  connectors/sources/sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

Update README.md
  scripts/stack/README.md
Due: none

Update README.md (#2342)
  scripts/stack/README.md
Due: none

Bump elasticsearch package from 8.12.0 to 8.13.0
  requirements/framework.txt
Due: none

Bump elasticsearch package from 8.12.0 to 8.13.0 (#2344)
  requirements/framework.txt
Due: none

Log all counters (#2323)
  connectors/sync_job_runner.py
  tests/test_sync_job_runner.py
Due: none

Moved sink counters to a wrapping Counter object
  connectors/es/sink.py
  connectors/protocol/connectors.py
  connectors/sync_job_runner.py
  connectors/utils.py
  tests/test_sink.py
Due: none

Move sink ops to Counters object
  connectors/es/sink.py
  connectors/utils.py
  tests/test_sink.py
Due: none

Moved extractor counts to a Counter object
  connectors/es/sink.py
  tests/test_sink.py
Due: none

Rename some dumb counter names
  connectors/es/sink.py
  connectors/protocol/connectors.py
  connectors/sync_job_runner.py
  tests/test_sink.py
Due: none

Missed some dumb renames
  connectors/es/sink.py
  tests/test_sink.py
Due: none

Add docs extracted and filtered
  connectors/es/sink.py
  connectors/sync_job_runner.py
  tests/test_sink.py
Due: none

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
