Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest

[GitHub] Raising 403 exception (#2507)
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Run all functional tests if any requirements change (#2516)
  .buildkite/pipeline.yml
Due: none

PostgreSQL logs
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

Update pipeline.yml
  .buildkite/pipeline.yml
Due: none

[8.13] Run all functional tests if any requirements change (#2516) (#2521)
  .buildkite/pipeline.yml
Due: none

Upgrade aiohttp and pyOpenSSL (#2515)
  requirements/framework.txt
Due: none

[PostgreSQL] Updated queries to support primary key column name with uppercase letters (#2514)
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

Add data source type validation
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

sort imports
  tests/sources/test_confluence.py
Due: none

Add * as default value for comma-separated lists that support it
  connectors/sources/mssql.py
  connectors/sources/mysql.py
  connectors/sources/oracle.py
  connectors/sources/postgresql.py
  connectors/sources/redis.py
  connectors/sources/servicenow.py
  connectors/sources/sharepoint_online.py
  connectors/sources/sharepoint_server.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Postgresql, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ ServiceNow, ðŸ”¨ Redis

Update sharepoint_server.py
  connectors/sources/sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

Autoformat
  connectors/sources/mssql.py
  connectors/sources/mysql.py
  connectors/sources/oracle.py
  connectors/sources/postgresql.py
  connectors/sources/redis.py
  connectors/sources/servicenow.py
  connectors/sources/sharepoint_online.py
  share/man/man1/ttx.1
Due: ðŸ”¨ MySQL, ðŸ”¨ Postgresql, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ ServiceNow, ðŸ”¨ Redis

Remove weird files
  share/man/man1/ttx.1
Due: none

Add * as default value for comma-separated lists that support it (#2532)
  connectors/sources/mssql.py
  connectors/sources/mysql.py
  connectors/sources/oracle.py
  connectors/sources/postgresql.py
  connectors/sources/redis.py
  connectors/sources/servicenow.py
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ MySQL, ðŸ”¨ Postgresql, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ ServiceNow, ðŸ”¨ Redis

[8.13] [GitHub] Raising 403 exception (#2507) (#2520)
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

[Jira] show custom fields seperately (#2505)
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

Bump version to 8.13.4.0
  connectors/VERSION
Due: none

Upgrade setuptools on installation
  Makefile
Due: none

Bump version to 8.13.4.0 (#2534)
  connectors/VERSION
Due: none

[Jira] Handle empty response when status code is 200 #2506
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

[Jira] Handle empty response when status code is 200 (#2506)
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

Bump version to 8.13.4.1
  connectors/VERSION
Due: none

Bump version to 8.13.4.1 (#2538)
  connectors/VERSION
Due: none

fix flaky test case
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

Add ancestor title in confluence (#2495)
  connectors/sources/confluence.py
  tests/sources/test_confluence.py
Due: ðŸ”¨ Confluence

Update setuptools package on installation (#2535)
  Makefile
Due: none

Optimize memory consumption
  connectors/sources/azure_blob_storage.py
  requirements/framework.txt
  tests/sources/test_azure_blob_storage.py
Due: ðŸ”¨ Azure Blob Storage

[8.14][Jira] Handle empty response when status code is 200 (#2506) (#2536)
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

[8.13][Jira] Handle empty response when status code is 200 (#2506) (#2537)
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

Make patch logger not silent
  tests/conftest.py
Due: none
