Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom, ðŸ”¨ Box, ðŸ”¨ Microsoft Teams, ðŸ”¨ Notion, ðŸ”¨ Redis

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Box: any of: connectors/sources/box.py, tests/sources/fixtures/box/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Microsoft Teams: any of: connectors/sources/microsoft_teams.py, tests/sources/fixtures/microsoft_teams/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Notion: any of: connectors/sources/notion.py, tests/sources/fixtures/notion/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest
  ðŸ”¨ Redis: any of: connectors/sources/redis.py, tests/sources/fixtures/redis/**, tests/sources/fixtures/fixture.py, Dockerfile.ftest

[GraphQL] End to end test (#2376)
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  tests/sources/fixtures/graphql/config.yml
  tests/sources/fixtures/graphql/connector.json
  tests/sources/fixtures/graphql/docker-compose.yml
  tests/sources/fixtures/graphql/fixture.py
Due: none

resolve comments
  connectors/sources/graphql.py
  tests/sources/fixtures/graphql/connector.json
Due: none

update type
  tests/sources/fixtures/graphql/connector.json
Due: none

update if confition for advanced sync rule
  connectors/sources/mssql.py
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql, ðŸ”¨ Microsoft SQL

use regex to match
  connectors/sources/notion.py
Due: ðŸ”¨ Notion

use double quotes
  tests/sources/fixtures/graphql/connector.json
Due: none

Refactor code structure of Jira and Confluence (#2350)
  connectors/sources/confluence.py
  connectors/sources/jira.py
  tests/sources/test_confluence.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira, ðŸ”¨ Confluence

Use graphql method of GitHubAPI for GraphQL requests
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

revert changes to connector.json
  tests/sources/fixtures/github/connector.json
Due: ðŸ”¨ GitHub

fix ftest
  tests/sources/fixtures/github/fixture.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

add back trailling blank line
  tests/sources/fixtures/github/connector.json
Due: ðŸ”¨ GitHub

lint and fix ftest
  connectors/sources/github.py
  tests/sources/fixtures/github/fixture.py
Due: ðŸ”¨ GitHub

Fixed item URLs Added option to select between Basic and NTLM authentication Other changes suggested by the Elasticsearch team
  connectors/sources/sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server

[GraphQL] Update GraphQL Object List RCF for identifying unique fields (#2336)
  connectors/sources/graphql.py
  tests/sources/fixtures/graphql/connector.json
  tests/sources/test_graphql.py
Due: none

[Jira] Fix NotFound when the path is present in host URL (#2377)
  connectors/sources/jira.py
  tests/sources/test_atlassian.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

resolve comments
  connectors/sources/graphql.py
Due: none

Update connectors/sources/confluence.py
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

add more details in logger
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

GraphQL Connector (#2383)
  .buildkite/nightly_steps.yml
  .buildkite/pipeline.yml
  connectors/config.py
  connectors/sources/graphql.py
  requirements/framework.txt
  tests/sources/fixtures/graphql/config.yml
  tests/sources/fixtures/graphql/connector.json
  tests/sources/fixtures/graphql/docker-compose.yml
  tests/sources/fixtures/graphql/fixture.py
  tests/sources/test_graphql.py
Due: none

backport PR #2377
  connectors/sources/jira.py
  tests/sources/test_atlassian.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

Use graphql method of GitHubAPI for GraphQL requests (#2372)
  connectors/sources/github.py
  tests/sources/fixtures/github/connector.json
  tests/sources/fixtures/github/fixture.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

Update connector.json for GitHub ftest
  tests/sources/fixtures/github/connector.json
Due: ðŸ”¨ GitHub

add issue key to es doc
  connectors/sources/jira.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira

Apply suggestions from code review
  tests/sources/test_opentext_documentum.py
Due: none

Update connector.json for GitHub ftest (#2389)
  tests/sources/fixtures/github/connector.json
Due: ðŸ”¨ GitHub

resolve merge conflicts
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

rename variables
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

revert LICENSE change
  LICENSE
Due: none

Catch RateLimitExceeded for throttling error
  connectors/sources/github.py
Due: ðŸ”¨ GitHub

Update GitHubClient to support GitHub App authentication
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

add more tests
  LICENSE
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

add _logged_in_user method
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

add raise
  connectors/sources/confluence.py
Due: ðŸ”¨ Confluence

Apply suggestions from code review
  connectors/sources/opentext_documentum.py
Due: none

Update GitHubClient to support GitHub App authentication (#2381)
  connectors/sources/github.py
  tests/sources/test_github.py
Due: ðŸ”¨ GitHub

updating sycn rule code as per the discussion for traversing
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

address suggestions
  connectors/sources/opentext_documentum.py
  tests/sources/test_opentext_documentum.py
Due: none

fix lint,test
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

format code
  connectors/sources/opentext_documentum.py
Due: none

[8.13] [Jira] Fix NotFound when the path is present in host URL #2377 (#2388)
  connectors/sources/jira.py
  tests/sources/test_atlassian.py
  tests/sources/test_jira.py
Due: ðŸ”¨ Jira
