Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**

[SPO] Add logic to handle sitegroups in ACL for drive_items and sites (#1659)
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Simplify config merging logic
  connectors/protocol/connectors.py
Due: none

[SPO] Add logic to handle sitegroups in ACL for drive_items and sites (#1659)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

[SPO] Add logic to handle sitegroups in ACL for drive_items and sites (#1659) (#1672)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Add docker release docs
  docs/RELEASING.md
Due: none

[SPO] individual site lookup RCF (#1653)
  connectors/protocol/connectors.py
  connectors/sources/sharepoint_online.py
  tests/protocol/test_connectors.py
  tests/sources/fixtures/sharepoint_online/connector.json
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Move content extraction out of utils (#1611)
  connectors/cli.py
  connectors/content_extraction.py
  connectors/sources/sharepoint_online.py
  connectors/utils.py
  tests/sources/test_sharepoint_online.py
  tests/test_content_extraction.py
  tests/test_utils.py
Due: ðŸ”¨ Sharepoint Online

[SPO] individual site lookup RCF (#1653) (#1677)
  connectors/protocol/connectors.py
  connectors/sources/sharepoint_online.py
  tests/protocol/test_connectors.py
  tests/sources/fixtures/sharepoint_online/connector.json
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

[SPO] individual site lookup RCF (#1653) (#1676)
  connectors/protocol/connectors.py
  connectors/sources/sharepoint_online.py
  tests/protocol/test_connectors.py
  tests/sources/fixtures/sharepoint_online/connector.json
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Update NOTICE.txt to include link to certifi source
  NOTICE.txt
Due: none

Fix bugs in MS teams
  connectors/sources/microsoft_teams.py
  tests/sources/fixtures/microsoft_teams/.env
  tests/sources/fixtures/microsoft_teams/config.yml
  tests/sources/fixtures/microsoft_teams/connector.json
  tests/sources/fixtures/microsoft_teams/docker-compose.yml
  tests/sources/fixtures/microsoft_teams/fixture.py
  tests/sources/test_microsoft_teams.py
Due: none

Update docs/RELEASING.md
  docs/RELEASING.md
Due: none

Documentation for Microsoft Teams
  docs/REFERENCE.md
  docs/reference/microsoft_teams.md
Due: none

Add extraction service to ABS
  connectors/source.py
  connectors/sources/azure_blob_storage.py
  connectors/sources/sharepoint_online.py
  tests/sources/test_azure_blob_storage.py
Due: ðŸ”¨ Azure Blob Storage, ðŸ”¨ Sharepoint Online

Update connector.json
  tests/sources/fixtures/azure_blob_storage/connector.json
Due: ðŸ”¨ Azure Blob Storage

Refactor test file
  tests/sources/test_azure_blob_storage.py
Due: none

Fix connector.json
  tests/sources/fixtures/azure_blob_storage/connector.json
Due: ðŸ”¨ Azure Blob Storage

Fix bugs in MS teams (#1680)
  connectors/sources/microsoft_teams.py
  tests/sources/fixtures/microsoft_teams/fixture.py
  tests/sources/test_microsoft_teams.py
Due: none

Add docker release docs (#1674)
  docs/RELEASING.md
Due: none

Trying something out
  tests/sources/fixtures/google_cloud_storage/docker-compose.yml
Due: ðŸ”¨ Google Cloud Storage

Fix test
  tests/sources/test_postgresql.py
Due: none

Update VERSION for 8.10.2 release (#1667)
  connectors/VERSION
Due: none

Update connector.json
  tests/sources/fixtures/postgresql/connector.json
Due: ðŸ”¨ Postgresql

Lint
  connectors/sources/postgresql.py
  tests/sources/test_postgresql.py
Due: ðŸ”¨ Postgresql

Maybe now?
  tests/sources/fixtures/dropbox/docker-compose.yml
  tests/sources/fixtures/github/docker-compose.yml
  tests/sources/fixtures/google_drive/docker-compose.yml
  tests/sources/fixtures/jira/docker-compose.yml
  tests/sources/fixtures/onedrive/docker-compose.yml
  tests/sources/fixtures/salesforce/docker-compose.yml
  tests/sources/fixtures/servicenow/docker-compose.yml
  tests/sources/fixtures/sharepoint_online/docker-compose.yml
  tests/sources/fixtures/sharepoint_server/docker-compose.yml
  tests/sources/fixtures/zoom/docker-compose.yml
Due: ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ ServiceNow, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

Refactor based on code review
  connectors/sources/postgresql.py
  tests/sources/test_postgresql.py
Due: ðŸ”¨ Postgresql

remove unnecessary changes
  docs/reference/microsoft_teams.md
Due: none

remove then from sentence
  docs/reference/microsoft_teams.md
Due: none

[PostgreSQL] Allow only one schema to be configured (#559)
  connectors/sources/postgresql.py
  tests/sources/fixtures/postgresql/connector.json
  tests/sources/test_postgresql.py
Due: ðŸ”¨ Postgresql

Log index name
  connectors/es/sink.py
Due: none

Drop return
  connectors/es/sink.py
Due: none

Update connectors/es/sink.py
  connectors/es/sink.py
Due: none

Create a new index if it doesn't already exist
  connectors/es/sink.py
  connectors/sync_job_runner.py
  tests/test_sink.py
Due: none

Reformat some comments
  connectors/es/sink.py
Due: none

Add data extraction service to Azure Blob Storage connectors (#1682)
  connectors/source.py
  connectors/sources/azure_blob_storage.py
  connectors/sources/sharepoint_online.py
  tests/sources/fixtures/azure_blob_storage/connector.json
  tests/sources/test_azure_blob_storage.py
Due: ðŸ”¨ Azure Blob Storage, ðŸ”¨ Sharepoint Online
