Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**

Remove more obsolete code
  connectors/sources/onedrive.py
  connectors/sources/outlook.py
  connectors/sources/salesforce.py
  connectors/sources/sharepoint_server.py
  connectors/sources/zoom.py
Due: ðŸ”¨ Sharepoint Server, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

Fix lint again
  connectors/sources/google_drive.py
  connectors/sources/sharepoint_server.py
Due: ðŸ”¨ Sharepoint Server, ðŸ”¨ Google Drive

Remove comment
  connectors/sources/google_drive.py
Due: ðŸ”¨ Google Drive

Update connectors/sources/postgresql.py
  connectors/sources/postgresql.py
Due: ðŸ”¨ Postgresql

[PostgreSQL] Advanced Sync rules (#1691)
  connectors/sources/postgresql.py
  docs/sync-rules/POSTGRESQL.md
  tests/sources/test_postgresql.py
Due: ðŸ”¨ Postgresql

Expand extraction service to more connectors #4 (#1698)
  connectors/sources/azure_blob_storage.py
  connectors/sources/confluence.py
  connectors/sources/dropbox.py
  connectors/sources/github.py
  connectors/sources/google.py
  connectors/sources/google_cloud_storage.py
  connectors/sources/google_drive.py
  connectors/sources/jira.py
  connectors/sources/onedrive.py
  connectors/sources/outlook.py
  connectors/sources/s3.py
  connectors/sources/salesforce.py
  connectors/sources/servicenow.py
  connectors/sources/sharepoint_server.py
  connectors/sources/zoom.py
  tests/sources/fixtures/github/connector.json
  tests/sources/fixtures/sharepoint_server/connector.json
  tests/sources/fixtures/zoom/connector.json
  tests/sources/test_github.py
  tests/sources/test_outlook.py
  tests/sources/test_sharepoint_server.py
  tests/sources/test_zoom.py
Due: ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Sharepoint Server, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

remove duplication
  connectors/sources/box.py
Due: none

add DLS in network drive
  connectors/sources/network_drive.py
  requirements/framework.txt
  tests/sources/fixtures/network_drive/connector.json
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

add bin to compose file command
  tests/sources/fixtures/microsoft_teams/docker-compose.yml
Due: none

minor nit
  connectors/sources/network_drive.py
  tests/sources/test_network_drive.py
Due: ðŸ”¨ Network Drive

Move things around
  connectors/services/job_scheduling.py
Due: none

Fixit
  connectors/services/job_scheduling.py
Due: none

Autoformat
  connectors/services/job_scheduling.py
Due: none

update command
  tests/sources/fixtures/box/docker-compose.yml
Due: none

Add ui restrictions for all extraction RCFs
  connectors/sources/azure_blob_storage.py
  connectors/sources/confluence.py
  connectors/sources/dropbox.py
  connectors/sources/github.py
  connectors/sources/google_cloud_storage.py
  connectors/sources/google_drive.py
  connectors/sources/jira.py
  connectors/sources/onedrive.py
  connectors/sources/outlook.py
  connectors/sources/s3.py
  connectors/sources/salesforce.py
  connectors/sources/servicenow.py
  connectors/sources/sharepoint_online.py
  connectors/sources/sharepoint_server.py
  connectors/sources/zoom.py
Due: ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

Apply suggestions from code review
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

address PR comments
  connectors/sources/network_drive.py
Due: ðŸ”¨ Network Drive

Add comments and log messages per PR review
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

nit
  tests/sources/test_network_drive.py
Due: none

Handle batch response rate limiting
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

DRY test fixture
  tests/sources/test_sharepoint_online.py
Due: none

Forcibly cancel a sync job after waiting for 5 seconds (#1683)
  connectors/es/sink.py
  tests/test_sink.py
Due: none

[SPO] Do not use retry-after as multiplier
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Fix a test
  tests/sources/test_sharepoint_online.py
Due: none

[SPO] Do not use retry-after as multiplier (#1702)
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Fix bug where transitiveMember expansions were expected to max at 100
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Add ui restrictions for all extraction RCFs (#1701)
  connectors/sources/azure_blob_storage.py
  connectors/sources/confluence.py
  connectors/sources/dropbox.py
  connectors/sources/github.py
  connectors/sources/google_cloud_storage.py
  connectors/sources/google_drive.py
  connectors/sources/jira.py
  connectors/sources/onedrive.py
  connectors/sources/outlook.py
  connectors/sources/s3.py
  connectors/sources/salesforce.py
  connectors/sources/servicenow.py
  connectors/sources/sharepoint_online.py
  connectors/sources/sharepoint_server.py
  connectors/sources/zoom.py
Due: ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

Documentation for Microsoft Teams (#1681)
  docs/REFERENCE.md
  docs/reference/microsoft_teams.md
Due: none

Flip the logic around - run job AFTER the cron trigger time
  connectors/services/job_scheduling.py
Due: none

[Microsoft Teams] Moving connector code to main (#1684)
  .buildkite/pipeline.yml
  connectors/config.py
  connectors/sources/microsoft_teams.py
  requirements/framework.txt
  tests/sources/fixtures/microsoft_teams/.env
  tests/sources/fixtures/microsoft_teams/config.yml
  tests/sources/fixtures/microsoft_teams/connector.json
  tests/sources/fixtures/microsoft_teams/docker-compose.yml
  tests/sources/fixtures/microsoft_teams/fixture.py
  tests/sources/test_microsoft_teams.py
Due: none

Make Azure Blob Storage ftest use shared setup
  tests/sources/fixtures/azure_blob_storage/fixture.py
Due: ðŸ”¨ Azure Blob Storage

Make dropbox ftest use shared fixture
  tests/sources/fixtures/dropbox/fixture.py
Due: ðŸ”¨ Dropbox

Fix tests, add more tests, review feedback
  connectors/sources/google_drive.py
  tests/sources/fixtures/google_drive/connector.json
  tests/sources/test_google_drive.py
Due: ðŸ”¨ Google Drive

[Google Drive] Support domain-wide delegation for syncing data (#1602)
  connectors/sources/google_drive.py
  tests/sources/fixtures/google_drive/connector.json
  tests/sources/test_google_drive.py
Due: ðŸ”¨ Google Drive

Add constant for max expand size
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

remove lingering troubleshooting print
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online
