Repository elastic/connectors: changes, and which Buildkite steps are due for each by the changed paths.
All: ðŸ”¨ MySQL, ðŸ”¨ Network Drive, ðŸ”¨ Amazon S3, ðŸ”¨ Google Cloud Storage, ðŸ”¨ Azure Blob Storage, ðŸ”¨ Postgresql, ðŸ”¨ System Directory, ðŸ”¨ Oracle Database, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Microsoft SQL, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow, ðŸ”¨ MongoDB, ðŸ”¨ GitHub, ðŸ”¨ Google Drive, ðŸ”¨ Dropbox, ðŸ”¨ OneDrive, ðŸ”¨ Salesforce, ðŸ”¨ Zoom

Path conditions:
  ðŸ”¨ MySQL: any of: connectors/sources/mysql.py, tests/sources/fixtures/mysql/**
  ðŸ”¨ Network Drive: any of: connectors/sources/network_drive.py, tests/sources/fixtures/network_drive/**
  ðŸ”¨ Amazon S3: any of: connectors/sources/s3.py, tests/sources/fixtures/s3/**
  ðŸ”¨ Google Cloud Storage: any of: connectors/sources/google_cloud_storage.py, tests/sources/fixtures/google_cloud_storage/**
  ðŸ”¨ Azure Blob Storage: any of: connectors/sources/azure_blob_storage.py, tests/sources/fixtures/azure_blob_storage/**
  ðŸ”¨ Postgresql: any of: connectors/sources/postgresql.py, tests/sources/fixtures/postgresql/**
  ðŸ”¨ System Directory: any of: connectors/sources/directory.py, tests/sources/fixtures/dir/**
  ðŸ”¨ Oracle Database: any of: connectors/sources/oracle.py, tests/sources/fixtures/oracle/**
  ðŸ”¨ Sharepoint Server: any of: connectors/sources/sharepoint_server.py, tests/sources/fixtures/sharepoint_server/**
  ðŸ”¨ Sharepoint Online: any of: connectors/sources/sharepoint_online.py, tests/sources/fixtures/sharepoint_online/**
  ðŸ”¨ Microsoft SQL: any of: connectors/sources/mssql.py, tests/sources/fixtures/mssql/**
  ðŸ”¨ Jira: any of: connectors/sources/jira.py, connectors/sources/atlassian.py, tests/sources/fixtures/jira/**
  ðŸ”¨ Confluence: any of: connectors/sources/confluence.py, connectors/sources/atlassian.py, tests/sources/fixtures/confluence/**
  ðŸ”¨ ServiceNow: any of: connectors/sources/servicenow.py, tests/sources/fixtures/servicenow/**
  ðŸ”¨ MongoDB: any of: connectors/sources/mongo.py, tests/sources/fixtures/mongodb/**
  ðŸ”¨ GitHub: any of: connectors/sources/github.py, tests/sources/fixtures/github/**
  ðŸ”¨ Google Drive: any of: connectors/sources/google_drive.py, tests/sources/fixtures/google_drive/**
  ðŸ”¨ Dropbox: any of: connectors/sources/dropbox.py, tests/sources/fixtures/dropbox/**
  ðŸ”¨ OneDrive: any of: connectors/sources/onedrive.py, tests/sources/fixtures/onedrive/**
  ðŸ”¨ Salesforce: any of: connectors/sources/salesforce.py, tests/sources/fixtures/salesforce/**
  ðŸ”¨ Zoom: any of: connectors/sources/zoom.py, tests/sources/fixtures/zoom/**

fix google drive ftests
  connectors/sources/google.py
  connectors/sources/google_drive.py
  tests/sources/fixtures/google_drive/.env
Due: ðŸ”¨ Google Drive

Bump flask for 8.9 branch (#1742)
  tests/sources/fixtures/confluence/requirements.txt
  tests/sources/fixtures/google_cloud_storage/requirements.txt
  tests/sources/fixtures/jira/requirements.txt
  tests/sources/fixtures/servicenow/requirements.txt
  tests/sources/fixtures/sharepoint_online/requirements.txt
  tests/sources/fixtures/sharepoint_server/requirements.txt
Due: ðŸ”¨ Google Cloud Storage, ðŸ”¨ Sharepoint Server, ðŸ”¨ Sharepoint Online, ðŸ”¨ Jira, ðŸ”¨ Confluence, ðŸ”¨ ServiceNow

add 'zulu' to function name
  connectors/source.py
  connectors/utils.py
Due: none

Truncate branches and leafs in incremental sync (#1731)
  connectors/source.py
  connectors/sources/sharepoint_online.py
  connectors/utils.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Truncate branches and leafs in incremental sync (#1731) (#1752)
  connectors/source.py
  connectors/sources/sharepoint_online.py
  connectors/utils.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Truncate branches and leafs in incremental sync (#1731) (#1751)
  connectors/source.py
  connectors/sources/sharepoint_online.py
  connectors/utils.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Stop nightlies for 8.7 and 8.8 (#1741)
  catalog-info.yaml
Due: none

update doc for authorization code
  docs/reference/box.md
Due: none

[Google Drive] Use generic GoogleServiceAccountClient client from google.py (#1746)
  connectors/sources/google.py
  connectors/sources/google_drive.py
  tests/sources/fixtures/google_drive/.env
Due: ðŸ”¨ Google Drive

Add get_num_docs
  tests/sources/fixtures/oracle/fixture.py
Due: ðŸ”¨ Oracle Database

Fix delete function + add get_num_docs
  tests/sources/fixtures/postgresql/fixture.py
Due: ðŸ”¨ Postgresql

Make S3 connector use shared fixture
  tests/sources/fixtures/s3/fixture.py
Due: ðŸ”¨ Amazon S3

Make autoformat
  tests/sources/fixtures/s3/fixture.py
Due: ðŸ”¨ Amazon S3

Make Salesforce ftest use shared fixture
  tests/commons.py
  tests/sources/fixtures/salesforce/fixture.py
Due: ðŸ”¨ Salesforce

Make autoformat
  tests/sources/fixtures/salesforce/fixture.py
Due: ðŸ”¨ Salesforce

Make SPO connector use shared fixture
  tests/commons.py
  tests/sources/fixtures/sharepoint_online/fixture.py
Due: ðŸ”¨ Sharepoint Online

Update config.yml
  config.yml
Due: none

fetch site admins separate from role assignments
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

autoformat
  connectors/sources/sharepoint_online.py
  tests/sources/test_sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

resolve comment
  docs/reference/box.md
Due: none

Box connector documentation (#1728)
  docs/REFERENCE.md
  docs/reference/box.md
Due: none

Fix url encode
  connectors/sources/google_cloud_storage.py
Due: ðŸ”¨ Google Cloud Storage

Make Sharepoint Server use shared fixture
  tests/commons.py
  tests/sources/fixtures/sharepoint_server/fixture.py
Due: ðŸ”¨ Sharepoint Server

Make zoom use shared fixture
  tests/commons.py
  tests/sources/fixtures/zoom/fixture.py
Due: ðŸ”¨ Zoom

Make it just small, not extra small
  .buildkite/pipeline.yml
Due: none

Add comments/clarity per PR review
  connectors/sources/sharepoint_online.py
Due: ðŸ”¨ Sharepoint Online

Make test_next_run deterministic
  tests/test_utils.py
Due: none

Make test_mem_queue less flaky by increasing the timeout
  tests/test_utils.py
Due: none

Also take into account the last assert
  tests/test_utils.py
Due: none

Make test_next_run deterministic (#1765)
  tests/test_utils.py
Due: none

Make backports to comparison against the branch that's chosen
  .buildkite/diff
Due: none

Just testing
  .buildkite/diff
Due: none
